# CHAPTER 2

Note what we will cover.

## Learning Goals

* Loops
* Function definitions
* ...

## 1 - Loop Structure

### 1. For Loops

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2,5):
    print(i)

2
3
4

In [3]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [5]:
for i in range(20,5,-3):
    print(i)

20
17
14
11
8

In [6]:
lst = ['Products','Services','Team']
for l in lst:
    print(l)

Products
Services
Team

In [1]:
#?
numbers = [1,2,3,4,5,6,7]

for number in numbers:
    print("Number",number)

Number 1
Number 2
Number 3
Number 4
Number 5
Number 6
Number 7

In [3]:
list_1 = [(1,2),(3,4),(5,6),(7,8)]
    
for i,k in list_1:
    print(i,k)

1 2
3 4
5 6
7 8

In [4]:
word =  "Structure"
for character in word:
    print(character)

S
t
r
u
c
t
u
r
e

In [5]:
for i in "Python Instruction".split():
    print(i)

Python
Instruction

#### Break & Continue ?

In [9]:
for i in range(10):
    if i == 5:    
        break
    print(i)

0
1
2
3
4

In [7]:
for i in range(10):
    if i < 5:
        continue
    print(i)

5
6
7
8
9

In [12]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
products

{'Skirt': 11.5, 'Hat': 15.5, 'Shoe': 18.0, 'Shirt': 4.7}

In [18]:
for product in products.keys(): # Just `products` will do the same!
    print(product)

Skirt
Hat
Shoe
Shirt

In [20]:
for product in products.values():
    print(product)

11.5
15.5
18.0
4.7

In [21]:
for product,cost in products.items():
    print(product,cost)

Skirt 11.5
Hat 15.5
Shoe 18.0
Shirt 4.7

In [22]:
# ......... give more examples of for loops, nested for loops, enumerate, dictionary.items, values, keys, etc.

şlasdmlaksndka

In [6]:
#dictionaryde for dönerken value değerini bulup değiştirme örneği

In [5]:
vehicle = {
  "Brand": "Opel",
  "Model": "Vectra",
  "Year": 2004
}

for x in araclar:
    
    vehicle["Year"]=2008
    
print(vehicle)

{'Brand': 'Opel', 'Model': 'Vectra', 'Year': 2008}

In [7]:
#for loop örnek tiplerine bak

In [26]:
lst = ['a','b','c','d','e']
for i,e in enumerate(lst):
    print(i,e)

0 a
1 b
2 c
3 d
4 e

In [25]:
lst = ['0-18','19-30','31-45','45+']
num = [782,1439,1103,548]
for l,n in zip(lst,num):
    print(l,":",n)

0-18 : 782
19-30 : 1439
31-45 : 1103
45+ : 548

## Short version of `for` loop

In [27]:
lst = [e for e in range(5)]
print(lst)

[0, 1, 2, 3, 4]

In [33]:
# is the same with
lst = []
for e in range(5):
    lst.append(e)
print(lst)

[0, 1, 2, 3, 4]

In [30]:
elems = [(-17,2,65),(22,20,47),(-1,-2,-5123)]
lst = [e for elem in elems for e in elem]
print(lst)

[-17, 2, 65, 22, 20, 47, -1, -2, -5123]

In [34]:
# is the same with
elems = [(-17,2,65),(22,20,47),(-1,-2,-5123)]
lst = []
for elem in elems:
    for e in elem:
        lst.append(e)
print(lst)

[-17, 2, 65, 22, 20, 47, -1, -2, -5123]

In [8]:
lst = (e for e in range(5))
print(lst)

<generator object <genexpr> at 0x000001B4808BEEB0>

In [10]:
lst = [('Technology','Included'),('Conglomerate','Included'),('Insurane','Excluded')]
d = {k:v for k,v in lst}
print(d)

{'Technology': 'Included', 'Conglomerate': 'Included', 'Insurane': 'Excluded'}

In [11]:
dict(lst) # this is easier

{'Technology': 'Included', 'Conglomerate': 'Included', 'Insurane': 'Excluded'}

In [13]:
#break ve continueyi buraya alabiliriz ?

## While Loop

For loop with a break condition............

In [81]:
num = 0

while num < 9:
    print("Value:{}".format(num))
    num = num +1

Value:0
Value:1
Value:2
Value:3
Value:4
Value:5
Value:6
Value:7
Value:8

In [88]:
i = 0 

while i < 10:
    print("i is",i)
    i += 1

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9

In [9]:
number = int(input("Please enter an integer between 1 and 10: "))

while number < 1 or number > 10:  
    print("Invalid value!!!!")
    number = int(input("Please enter an integer between 1 and 10: "))
     
print("Congrats!!...")

Please enter an integer between 1 and 10: 88
Invalid value!!!!
Please enter an integer between 1 and 10: 4
Congrats!!...

In [11]:
a = 0

while a < 20:
    a += 1
    if a % 2 == 0:
        print(a)

2
4
6
8
10
12
14
16
18
20

In [15]:
x = 0
result = 0

while x <= 80:    
    x+=1
    if x % 2 == 0:
        continue
    result += x

print(f'toplam: {result}')

toplam: 1681

In [14]:
# add more while examples

## Function definitions

Make a precise definition of what a function is...................

In [18]:
def function_name(arguments):
    # calculations
    return

In [16]:
def hello():
    print("Hi my friend")

In [17]:
hello()

Hi my friend

In [18]:
def hello(name):
    print("Hi" , name)

In [20]:
hello("Jane")
hello("Dave")
hello("John")
hello("Felix")

Hi Jane
Hi Dave
Hi John
Hi Felix

In [21]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [22]:
def hello(name="coder"):
    print("Hi" , name)

In [23]:
hello()

Hi coder

In [25]:
#?
def add(a,b,c):
    print("Total:",a+b+c)

In [24]:
# function examples check

In [16]:
add(15,7,66)

Total: 88

In [17]:
add(1,5,2)

Total: 8

In [18]:
add(14,55,77,99)

TypeError: add() takes 3 positional arguments but 4 were given

In [26]:
#def hello2(name, capLetter = False):
#    if capLetter:
#        print("Hello " + name.upper())
#    else:
#        print("Hello " + name)

In [8]:
#hello2("jane")

Hello jane

In [7]:
#hello2("jane",True)

Hello JANE

In [ ]:
# a simpler function here

In [ ]:
# a function to join strings

In [55]:
def factorial(number):
    result = 1
    if number == 0 or number == 1:
        return result
    elif number < 0:
        print("Invalid value")
    else:
        while number >= 1:
            result *= number
            number -=1
        return result

In [56]:
factorial(1)

1

In [57]:
factorial(8)

40320

In [58]:
factorial(-5)

Invalid value

In [28]:
#factoriel example

In [ ]:
# implement: bubble sort

#### Example: Bubble Sort

Açıklama
Add pseudocode

In [29]:
dataList=[20,-5,15,7]

def sort(nums):
  
    for i in range(0,len(nums)):
        for j in range(0,len(nums)-1):
            if nums[j] > nums[j+1] :
                nums[j],nums[j+1]=nums[j+1],nums[j]
            else:
                continue
    return nums

In [30]:
sort(dataList)

[-5, 7, 15, 20]

In [ ]:
# implement: binary search (prerequisite: sorting) (optional)

In [ ]:
# a function to create and return list
# a function to create and return dicts

In [3]:
def ret_list():
    list = []
    for i in range(0,10):
        list.append(i)
    return list
a = ret_list()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
definition = "Python includes back end development, software development, data science and writing system scripts."

list_seperate = definition.split()
 
print(list_seperate)

['Python', 'includes', 'back', 'end', 'development,', 'software', 'development,', 'data', 'science', 'and', 'writing', 'system', 'scripts.']

In [31]:
list_seperate[5].capitalize()
list_seperate

['Python',
 'includes',
 'back',
 'end',
 'development,',
 'software',
 'development,',
 'data',
 'science',
 'and',
 'writing',
 'system',
 'scripts.']

In [32]:
# uzun bi stringi böl başka bir listeye koy başharflerini büyük yap gibi örnekler, harfleri sayma gibi
# dict te kelimedeki harf sayısını örnek verebilirsin

In [21]:
definition = "Python includes back end development, software development, data science and writing system scripts."

letter = "e"
counter = 0

for i in definition:
    if i == "e":
        counter = counter + 1
        
print("the number of letter e in the sentence:" , counter )

the number of letter e in the sentence: 12

In [19]:
def ret_dict():
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(ret_dict())

{'product': 'hat', 'cost': 10}

In [ ]:
# a function with a docstring, and its usage

In [15]:
def ret_dict():
    '''
    This function create a dictionary about a product and its cost.
    
    '''
    
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(ret_dict())
print(ret_dict.__doc__)

{'product': 'hat', 'cost': 10}

    This function create a dictionary about a product and its cost.

In [17]:
def ret_dict():
    '''
    This function create a dictionary about a product and its cost.
    
    '''
    
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(ret_dict())
print(ret_dict().__doc__)

{'product': 'hat', 'cost': 10}
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [20]:
# a function for *args
# a function for **kwargs

In [28]:
def multiply(x,y):
    result = x * y
    return result

print(multiply(5,8))

40

In [26]:
def multiply_2(*numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

print(multiply_2(8,-4,6,4))

-768

In [34]:
def adder(*number):
    sum = 0
    
    for n in number:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(3,4,5,6)
adder(1,2,3,5,5)

Sum: 8
Sum: 18
Sum: 16

In [41]:
import matplotlib.pyplot as plt

In [42]:
plt.plot?

In [43]:
def info(**database):
    for key, value in database.items():
        print("{} is {}".format(key,value))
        
worker = {"Firstname":"Dave", "Lastname":"Goldman", "Age":22, "Phone":12345678910}

In [44]:
print(info(**worker))

Firstname is Dave
Lastname is Goldman
Age is 22
Phone is 12345678910
None

In [47]:
worker_2 = {"Firstname":"Jane", "Lastname":"Wood", "Age":24, "Phone":46879478478, "email":"janewood@nomail.com"}
print(info(**worker_2))

Firstname is Jane
Lastname is Wood
Age is 24
Phone is 46879478478
email is janewood@nomail.com
None

In [38]:
def height(**person):
    print(person)
    print(type(person))
    
employees = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

print(height(**employees))

{'Dave': 1.8, 'Rachel': 1.68, 'Samantha': 1.75, 'Debra': 1.86}
<class 'dict'>
None

In [39]:
height(dave=1.78,rachel=1.94)

{'dave': 1.78, 'rachel': 1.94}
<class 'dict'>

In [34]:
def height_2(**person):
    out = {}
    for employee,height in employees.items():
        if height <= 1.80:
            print(f'{employee}:{height}')
            out[employee] = height
    return out
employees = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

print(height_2(**employees))

Dave:1.8
Rachel:1.68
Samantha:1.75
{'Dave': 1.8, 'Rachel': 1.68, 'Samantha': 1.75}

In [35]:
# give examples of function definitions

In [ ]:
# lambda functions

In [37]:
def square(number):
    return number*number

In [38]:
square(5)

25

In [43]:
double_2 = lambda a: a*a

In [44]:
double_2(5)

25

In [46]:
def triangle_area(x,y):
    return x*y/2

In [47]:
triangle_area(5,4)

10.0

In [48]:
triangle_area_2 = lambda m,n : m*n/2

In [49]:
triangle_area_2(6,22)

66.0

In [54]:
list1 = [8, 4, 99, 6, 0, 11, 18]

new_list = list(filter(lambda x:(x%2 == 0), list1))

print(new_list)

[8, 4, 6, 0, 18]

In [1]:
list_2 = [5,6,8,9]

list_square = list(map(lambda x:x**2, list_2))

print(list_square)

[25, 36, 64, 81]

In [4]:
from functools import reduce

list_3 = [1,2,3,4,5,6]

# write factorial function using reduce
result_multiply = reduce(lambda x,y:x*y, list_3)

print(result_multiply)

720

In [77]:
# recursive function example
def fibonacci(number):
    if number == 0 or number == 1:
        return 1
    else:
        return fibonacci(number-1) + fibonacci(number-2)