# CHAPTER 2

Starting with the loops, we will cover also functions and dive into details of these both concepts in python programming. These are some of the building blocks of python, and also programming, in general. Together with `if` statements, these two concepts is frequently used in programming.

## Learning Goals

* Loops
* Function definitions

## 1 - Loop Structure

Loops enable repeating a computation many times.

TODO: BULLET LIST OF FOR WHILE MAP REDUCE????

TODO: ADD A DIAGRAM??

### 1. For Loops

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2,5):
    print(i)

2
3
4

In [3]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [5]:
for i in range(20,5,-3):
    print(i)

20
17
14
11
8

In [6]:
lst = ['Products','Services','Team']
for l in lst:
    print(l)

Products
Services
Team

In [3]:
list_1 = [(1,2),(3,4),(5,6),(7,8)]
    
for i,k in list_1:
    print(i,k)

1 2
3 4
5 6
7 8

In [4]:
word = "Structure"
for character in word:
    print(character)

S
t
r
u
c
t
u
r
e

In [3]:
for i in "Python Instructions".split():
    print(i)

Python
Instructions

In [12]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
products

{'Skirt': 11.5, 'Hat': 15.5, 'Shoe': 18.0, 'Shirt': 4.7}

In [18]:
for product in products.keys(): # Just `products` will do the same
    print(product)

Skirt
Hat
Shoe
Shirt

In [20]:
for product in products.values():
    print(product)

11.5
15.5
18.0
4.7

In [21]:
for product,cost in products.items():
    print(product,cost)

Skirt 11.5
Hat 15.5
Shoe 18.0
Shirt 4.7

In [4]:
# give a nested for loop example
for i in range(5):
    for j in range(i):
        print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3

In [6]:
#dictionaryde for dönerken value değerini bulup değiştirme örneği

In [7]:
# an automobile ad ----------------------->>><???????? MERT
vw_models = {'Polo','Golf','Passat'}

vehicle = {
    "Type": "Automobile",
    "Class": "Compact",
    "Brand": "Volkswagen",
    "Model": "Corolla",
    "Year": 2105, # <--------------------------------------------
    "Status": "New",
    "Used": True,
    "Eligible": None,
}

for x in vehicle:
    if x == "Year" and vehicle[x] > 2021:
        vehicle[x] = "N/A"
        
    if x == "Brand":
        if vehicle["Model"] not in vw_models:
            vehicle["Eligible"] = False
        
print(vehicle)

{'Type': 'Automobile', 'Class': 'Subcompact', 'Brand': 'Volkswagen', 'Model': 'Polo', 'Year': 2015, 'Status': 'Old', 'Used': True}

In [7]:
# for loop örnek tiplerine bak <------- ARAS

In [26]:
lst = [
    "Linear Programming",
    "Integer Programming",
    "Mixed-Integer Linear Programming",
    "Quadratic Programming"
]
for i,e in enumerate(lst):
    print(i,e)

0 Linear Programming
1 Integer Programming
2 Mixed-Integer Linear Programming
3 Quadratic Programming

In [23]:
s = "Counting the letters!"
for i,e in enumerate(s):
    print(i,e)

0 C
1 o
2 u
3 n
4 t
5 i
6 n
7 g
8
9 t
10 h
11 e
12
13 l
14 e
15 t
16 t
17 e
18 r
19 s
20 !

In [22]:
costs = {
    "Labor": 55000.0,
    "Raw material": 127000.0,
    "Prefabrication": 62000.0,
    "Shipping & transportation": 28000.0,
    "Tax" : 50000.0,
    "Delay cost per week": 5000.0,
    "Unit": "Euro",
}
for i,(k,v) in enumerate(costs.items()):
    print(i,"-",k,":",v)

0 - Labor : 55000.0
1 - Raw material : 127000.0
2 - Prefabrication : 62000.0
3 - Shipping & transportation : 28000.0
4 - Tax : 50000.0
5 - Delay cost per week : 5000.0
6 - Unit : Euro

In [39]:
electronics = ["Camera & Photo","Computers","Audio Accessories","TV & Video","Smartphones","Wearable Technology"]
home_appliances = ["Cooking & Dining","Appliances","Furniture","Bedding & Linens","Laundry & Storage","Lighting"]

for c1,c2 in zip(electronics,home_appliances):
    print(c1,"|",c2)

Camera & Photo | Cooking & Dining
Computers | Appliances
Audio Accessories | Furniture
TV & Video | Bedding & Linens
Smartphones | Laundry & Storage
Wearable Technology | Lighting

In [41]:
beauty = ["Fragrance","Skin Care","Make-up","Hair Care","Bath & Body","Men's Grooming"]

for c1,c2,c3 in zip(electronics,home_appliances,beauty):
    print(c1,"|",c2,"|",c3)

Camera & Photo | Cooking & Dining | Fragrance
Computers | Appliances | Skin Care
Audio Accessories | Furniture | Make-up
TV & Video | Bedding & Linens | Hair Care
Smartphones | Laundry & Storage | Bath & Body
Wearable Technology | Lighting | Men's Grooming

In [38]:
# a list of grades
for l1,l2 in zip("ABBCCDDF","AABBCCDF"):
    print("".join([l1,l2]))

AA
BA
BB
CB
CC
DC
DD
FF

In [42]:
# lst = ['0-18','19-30','31-45','45+']
# num = [782,1439,1103,548]
# for l,n in zip(lst,num):
#     print(l,":",n)

In [ ]:
# dict(zip(lst,num))

## Short version of `for` loop

In [43]:
lst = [e for e in range(5)]
print(lst)

[0, 1, 2, 3, 4]

In [44]:
# is the same with
lst = []
for e in range(5):
    lst.append(e)
print(lst)

[0, 1, 2, 3, 4]

In [47]:
elems = [(-17,2,65),(22,20,47),(-1,-2,-5123)]
lst = [e for elem in elems for e in elem]
print(lst)

[-17, 2, 65, 22, 20, 47, -1, -2, -5123]

In [48]:
# is the same with
lst = []
for elem in elems:
    for e in elem:
        lst.append(e)
print(lst)

[-17, 2, 65, 22, 20, 47, -1, -2, -5123]

In [49]:
# Caution: a generator!
lst = (e for e in range(5))
print(lst)

<generator object <genexpr> at 0x7ff940b7b1a8>

In [50]:
lst = [
    ('Technology','Included'),
    ('Conglomerate','Included'),
    ('Insurance','Excluded'),
    ("Transportation","Included")
]
d = {k:v for k,v in lst}
print(d)

{'Technology': 'Included', 'Conglomerate': 'Included', 'Insurance': 'Excluded', 'Transportation': 'Included'}

In [51]:
# this is much easier
dict(lst)

{'Technology': 'Included',
 'Conglomerate': 'Included',
 'Insurance': 'Excluded',
 'Transportation': 'Included'}

#### `continue` and `break`

In [53]:
for i in range(10):
    if 1 < i < 5:
        continue
    print(i)

0
1
5
6
7
8
9

In [54]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
# add a more sophisticated examples for `break` <---------------------------- ARAS Check

In [10]:
print("Welcome to Square-Calculation Unit")

selection = int(input("Enter a Number: "))

while True:
    print(selection)
    
    selection = selection ** 2
    
    stopper = input("If you want to stop enter 'Stop!'; else enter 'Go!' ")
    
    if stopper == "Stop!":
        break
        
    if stopper != "Stop!" or stopper != "Go!":
        print("Invalid Number/Text")
                
print("Please put 5¢ in the jar... Thank you!")

Welcome to Square-Calculation Unit
Enter a Number: 8
8
If you want to stop enter 'Stop!'; else enter 'Go!' Go!
Invalid Number/Text
64
If you want to stop enter 'Stop!'; else enter 'Go!' Stop!
Please put 5¢ in the jar... Thank you!

## While Loop

For loop with a break condition that goes forever if not stopped...

In [4]:
num = 0 #<------------------- ARAS Check

while num < 9:
    print(num)
    num += 1         # num = num + 1
    if num == 4:
        num += 2     # num = num + 2 
else:
    print("Out of range")

0
1
2
3
6
7
8
Out of range

In [1]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [5]:
number = int(input("Please enter a number: "))
sum = 0
i = 1

while i <= number:
    sum = sum + i
    i = i+1

print("The sum is", sum)

Please enter a number: 6
The sum is 21

In [9]:
# make it more sophisticated - playing a game with computer? <------------ ARAS check but ask
number = int(input("Please enter an integer between 1 and 10: "))

while number < 1 or number > 10:
    print("Invalid value!!!!")
    number = int(input("Please enter an integer between 1 and 10: "))
     
print("Congrats!!...")

Please enter an integer between 1 and 10: 88
Invalid value!!!!
Please enter an integer between 1 and 10: 4
Congrats!!...

In [21]:
import random

number = int(input("Please guess a number"))
rand_num = random.randrange(0,11)

while number != rand_num:
    if (number == rand_num): 
        print( "You got it!")
        break
    if (number > rand_num):
        print("Wrong! You guessed too high")
        break
    if (number < rand_num):
        print("Wrong! You guessed too low")
        break
else:
    print("Please enter an integer between 1 and 10: ")

Please guess a number5
Wrong! You guessed too high

In [56]:
# a = 0

# while a < 20:
#     a += 1
#     if a % 2 == 0:
#         print(a)

In [15]:
x = 0
result = 0

while x <= 80:
    x+=1
    if x % 2 == 0:
        continue
    result += x

print(f'toplam: {result}')

toplam: 1681

In [14]:
# add a while example with a break <------------------- ARAS Check

In [16]:
first_username = "Davewood36"
first_password = "11Dave06"

second_username = "Janeunderhill66"
second_password = "missjane88"

while(True):
    username = input("Username: ")
    
    password = input("Password: ")
    
    if username == first_username and password == first_password:
        print("Access Granted...")
        break
    elif username == second_username and password == second_password:
        print("Access Granted...")
        break
    else:
        print("Invalid username/password, Please try again...")
        continue

Username: Davewood36
Password: 11Dave06
Access Granted...

## Function definitions

Make a precise definition of what a function is...................

In [18]:
def function_name(arguments):
    # calculations
    return

In [16]:
def hello():
    print("Hi there!")

In [17]:
hello()

Hi my friend

In [18]:
def hello(name):
    print("Hi" , name)

In [20]:
hello("Jane")
hello("Dave")
hello("John")
hello("Felix")

Hi Jane
Hi Dave
Hi John
Hi Felix

In [21]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [22]:
def hello(name="coder"):
    print("Hi" , name)

In [23]:
hello()

Hi coder

In [35]:
# word counter function <--------- ARAS check but ask

In [25]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print(word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [30]:
def word_counter(a):
    
    word_count = dict()        # Burda dictionary oluşuyor. aşağıdaki if çalıştığı zaman her bir kelime (yani key) için value
                               # değeri 1 artıyor. Mesela the:2, over:1 gibi
    word_list = a.split()      # burası kullanıcıdan aldığımız cümleyi kelimelerine ayırıyor. o nedenle for döngüsünü bununla
                               # başlattık
    
    for word in word_list:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1
            
    for key in word_count:
        print(key,word_count[key])

In [27]:
word_counter("the quick brown fox jumps over the lazy dog.")

the 2
quick 1
brown 1
fox 1
jumps 1
over 1
lazy 1
dog. 1

In [36]:
def word_counterss(b):
    
    bosluk_sayac = 0
    
    for w in b:
        if w == " ":
            bosluk_sayac += 1
            
    print("Kelime sayısı: ", bosluk_sayac+1)
    print("Harf sayısı: ", len(b)-bosluk_sayac)

In [37]:
b = input("Bir cümle giriniz: ")

word_counterss(b)

Bir cümle giriniz: the quick brown fox jumps over the lazy dog
Kelime sayısı:  9
Harf sayısı:  35

In [ ]:
# a simpler function here <------------------------- 2-3 ARAS Check

In [38]:
def divisor_number(digit):
    divisor_list = []

    for i in range(2, digit):
        if (digit % i == 0):
            divisor_list.append(i)    

    return divisor_list

In [39]:
divisor_number(168)

[2, 3, 4, 6, 7, 8, 12, 14, 21, 24, 28, 42, 56, 84]

In [45]:
def calculate_cost(cost):

    if cost < 0:
        print("Invalid value")
        
    else:
        if 0 < cost <= 500:
            cost = cost + cost * 0.125
        elif cost <= 750:
            cost = cost + cost * 0.1
        elif cost <= 1000:
            cost = cost + cost * 0.075
        else:
            cost = cost + cost * 0.050
  
        print("New cost is ", cost)

In [46]:
calculate_cost(1500)

New cost is  1575.0

In [70]:
def factorial(number):
    result = 1
    if number == 0 or number == 1:
        return result
    else:
        while number >= 1:
            result *= number
            number -=1
        return result

In [61]:
factorial(1)

1

In [78]:
factorial(7)

5040

In [ ]:
def factorial(number):
    result = 1
    if number == 0 or number == 1:
        return result
    elif number < 0:
        return None
    else:
        while number >= 1:
            result *= number
            number -=1
        return result

In [80]:
def factorial(number):
    result = 1
    if isinstance(number,int):
        if number == 0 or number == 1:
            return result
        elif number < 0:
            return None
        else:
            while number >= 1:
                result *= number
                number -=1
            return result
    else:
        return None

In [81]:
factorial(-5)

In [82]:
factorial(-5.22)

#### Example: Bubble Sort

Açıklama
Add pseudocode

In [99]:
dataList=[20,-5,15,7,7.0,13.91]

def bubble_sort(nums):
    size = len(nums)
    
    for i in range(size):
        for j in range(size-1):
            if nums[j] > nums[j+1]:
                nums[j], nums[j+1] = nums[j+1], nums[j]

    return nums

In [100]:
bubble_sort(dataList)

[-5, 7, 7.0, 13.91, 15, 20]

In [ ]:
# implement: binary search (prerequisite: sorting) MERT <-------------------

In [17]:
def create_list(): # <----- need a more appropriate name ARAS Check
    list = []
    for i in range(0,10):
        list.append(i)
    return list
a = create_list()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
# definition = "Python includes back end development, software development, data science and writing system scripts."

# list_seperate = definition.split()
 
# print(list_seperate)

In [116]:
# list_seperate[5].capitalize()
# list_seperate

In [21]:
# count each word <------------------- ARAS check on the above
# output should be like: {"Python":4,"back":1,"development":1} (before these: convert to lowercase)
definition = "Python includes back end development, software development, data science and writing system scripts."

letter = "e"
counter = 0

for i in definition:
    if i == "e":
        counter = counter + 1
        
print("the number of letter e in the sentence:" , counter )

the number of letter e in the sentence: 12

In [18]:
def create_dict(): # <--------- NAMING PROBLEMS ARAS Check
    '''
    This function create a dictionary about a product and its cost.
    
    '''
    
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(create_dict())
print(create_dict.__doc__)

{'product': 'hat', 'cost': 10}

    This function create a dictionary about a product and its cost.

In [19]:
def create_dict(): # <--------- NAMING PROBLEMS ARAS Check
    '''
    This function create a dictionary about a product and its cost.
    
    '''
    
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(create_dict())
print(create_dict().__doc__)

{'product': 'hat', 'cost': 10}
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [28]:
def multiply(x,y):
    result = x * y
    return result

print(multiply(5,8))

40

In [26]:
def multiply_2(*numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

print(multiply_2(8,-4,6,4))

-768

In [34]:
def adder(*number):
    sum = 0
    
    for n in number:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(3,4,5,6)
adder(1,2,3,5,5)

Sum: 8
Sum: 18
Sum: 16

In [ ]:
def info(**kwargs):  ## <--------------------- ARAS
    .................

In [44]:
print(info(**worker))

Firstname is Dave
Lastname is Goldman
Age is 22
Phone is 12345678910
None

In [6]:
def expenses(**kwargs):
    result = []
    for key, value in kwargs.items():
        result.append("Total {} is {} €".format (key,value))
 
    return result
                      
print(expenses(indesign_cost = 50000, materials = 30000, labor = 20000))

['Total indesign_cost is 50000 €', 'Total materials is 30000 €', 'Total labor is 20000 €']

In [47]:
worker_2 = {"Firstname":"Jane", "Lastname":"Wood", "Age":24, "Phone":46879478478, "email":"janewood@nomail.com"}
print(info(**worker_2))

Firstname is Jane
Lastname is Wood
Age is 24
Phone is 46879478478
email is janewood@nomail.com
None

In [38]:
## MODIFY THIS, WORK ON IT <----------- ARAS
def height(**person):
    print(person)
    print(type(person))
    
employees = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

print(height(**employees))

{'Dave': 1.8, 'Rachel': 1.68, 'Samantha': 1.75, 'Debra': 1.86}
<class 'dict'>
None

In [39]:
height(dave=1.78,rachel=1.94)

{'dave': 1.78, 'rachel': 1.94}
<class 'dict'>

In [16]:
# FILTER A GIVEN DICTIONARY, FUNCTION NAME !!! ARAS
def height_info(**person):
    out = {}
    for employee,height in employees.items():
        if height <= 1.80:
            print(f'{employee}:{height}')
            out[employee] = height
    return out
employees = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

print(height_info(**employees))
print(out)

Dave:1.8
Rachel:1.68
Samantha:1.75
{'Dave': 1.8, 'Rachel': 1.68, 'Samantha': 1.75}

NameError: name 'out' is not defined

In [29]:
names = {1: "Alice", 2: "Dave", 3: "Sarah", 4: "John", 5: "Carl"}

def filter_dict():
    new_dict = dict()
    
    for k,v in names.items():
        if k % 2 ==0:
            new_dict[key] = value

print(new_dict)

{}

In [27]:
dictOfNames = {
   7 : 'sam',
   8: 'john',
   9: 'mathew',
   10: 'riti',
   11 : 'aadi',
   12 : 'sachin'
}

newDict = dict()

# Iterate over all the items in dictionary and filter items which has even keys
for key, value in dictOfNames.items():
   # Check if key is even then add pair to new dictionary
   if key % 2 == 0:
        newDict[key] = value
print('Filtered Dictionary : ')
print(newDict)

Filtered Dictionary :
{8: 'john', 10: 'riti', 12: 'sachin'}

In [24]:
newDict = dict(filter(lambda elem: elem[0] % 2 == 0, dictOfNames.items()))
print('Filtered Dictionary : ')
print(newDict)

Filtered Dictionary :
{8: 'john', 10: 'riti', 12: 'sachin'}

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
    if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
    print(x)

In [20]:
# FILTER A GIVEN DICTIONARY, FUNCTION NAME !!! ARAS
def asdf(**person):
    
    outt = {}
    for employee,height in employeess.items():
        
        if height <= 1.80:
            print(f'{employee}:{height}')
            out[employee] = height
            
    return outt

employeess = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

taller_person = list(filter(lambda height:height>1.77, **employeess))

print(taller_person)

TypeError: filter() takes no keyword arguments

## `lambda` functions

In [106]:
square = lambda x: x**2

In [107]:
square(5)

25

In [108]:
def square(x):
    return x**2

In [109]:
square(5)

25

In [20]:
# ??
def triangle_area(h,d): # <----------------- apropriate function argument names !!! Check
    return d*h/2

In [21]:
triangle_area(5,4)

10.0

In [113]:
triangle_area = lambda m,n : m*n/2

In [114]:
triangle_area(6,22)

66.0

In [54]:
list1 = [8, 4, 99, 6, 0, 11, 18]

new_list = list(filter(lambda x:(x%2 == 0), list1))

print(new_list)

[8, 4, 6, 0, 18]

In [1]:
list_2 = [5,6,8,9]

list_square = list(map(lambda x:x**2, list_2))

print(list_square)

[25, 36, 64, 81]

In [4]:
from functools import reduce

list_3 = [1,2,3,4,5,6]

# write factorial function using reduce
result_multiply = reduce(lambda x,y:x*y, list_3)

print(result_multiply)

720

In [ ]:
# VARIABLE SCOPES !!!! <-------------------------------------------------- MERT

In [77]:
# recursive function example
def fibonacci(number):
    if number == 0 or number == 1:
        return 1
    else:
        return fibonacci(number-1) + fibonacci(number-2)

## Example project

do an example here

## Project

assignment