# CHAPTER 2

Note what we will cover.

## Learning Goals

* Loops
* Function definitions
* ...

## 1 - Loop Structure

### 1. For Loops

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2,5):
    print(i)

2
3
4

In [3]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [5]:
for i in range(20,5,-3):
    print(i)

20
17
14
11
8

In [6]:
lst = ['Products','Services','Team']
for l in lst:
    print(l)

Products
Services
Team

In [11]:
numbers = [1,2,3,4,5,6,7]

for number in numbers:
    print("Number",number)

Number 1
Number 2
Number 3
Number 4
Number 5
Number 6
Number 7

In [2]:
list_1 = [(1,2),(3,4),(5,6),(7,8)]

for i in list_1:
    print(i)
    
for (i,k) in list_1:
    print(i,k)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
1 2
3 4
5 6
7 8

In [3]:
#list_1 = [(1,2),(3,4),(5,6),(7,8)]

#for (i,k) in list:
#    print(i,k)

In [4]:
#list_2 = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
#for (i,k,j) in list_2:
#    print(i * k * j)

In [7]:
a =  "Structure"
for character in a:
    print(character)

S
t
r
u
c
t
u
r
e

In [8]:
for i in "Python Instruction".split():
    print(i)

Python
Instruction

In [9]:
for i in range(10):
    if i == 5:    
        break
    print(i)

0
1
2
3
4

In [7]:
for i in range(10):
    if i < 5:
        continue
    print(i)

5
6
7
8
9

In [12]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
products

{'Skirt': 11.5, 'Hat': 15.5, 'Shoe': 18.0, 'Shirt': 4.7}

In [14]:
products.values()

dict_values([11.5, 15.5, 18.0, 4.7])

In [15]:
products.keys()

dict_keys(['Skirt', 'Hat', 'Shoe', 'Shirt'])

In [16]:
products.items()

dict_items([('Skirt', 11.5), ('Hat', 15.5), ('Shoe', 18.0), ('Shirt', 4.7)])

In [18]:
for product in products.keys(): # Just `products` will do the same!
    print(product)

Skirt
Hat
Shoe
Shirt

In [19]:
for product in products:
    print(product)

Skirt
Hat
Shoe
Shirt

In [20]:
for product in products.values():
    print(product)

11.5
15.5
18.0
4.7

In [21]:
for product,cost in products.items():
    print(product,cost)

Skirt 11.5
Hat 15.5
Shoe 18.0
Shirt 4.7

In [22]:
# ......... give more examples of for loops, nested for loops, enumerate, dictionary.items, values, keys, etc.

ÅŸlasdmlaksndka

In [25]:
lst = ['0-18','19-30','31-45','45+']
num = [782,1439,1103,548]
for l,n in zip(lst,num):
    print(l,":",n)

0-18 : 782
19-30 : 1439
31-45 : 1103
45+ : 548

In [26]:
lst = ['a','b','c','d','e']
for i,e in enumerate(lst):
    print(i,e)

0 a
1 b
2 c
3 d
4 e

## Short version of `for` loop

In [27]:
lst = [e for e in range(5)]
print(lst)

[0, 1, 2, 3, 4]

In [33]:
# is the same with
lst = []
for e in range(5):
    lst.append(e)
print(lst)

[0, 1, 2, 3, 4]

In [30]:
elems = [(-17,2,65),(22,20,47),(-1,-2,-5123)]
lst = [e for elem in elems for e in elem]
print(lst)

[-17, 2, 65, 22, 20, 47, -1, -2, -5123]

In [34]:
# is the same with
elems = [(-17,2,65),(22,20,47),(-1,-2,-5123)]
lst = []
for elem in elems:
    for e in elem:
        lst.append(e)
print(lst)

[-17, 2, 65, 22, 20, 47, -1, -2, -5123]

In [36]:
# do it for tuple
#lst = (e for e in range(5))
# print(lst)

In [37]:
lst = [('Technology','Included'),('Conglomerate','Included'),('Insurane','Excluded')]
d = {k:v for k,v in lst}
print(d)

{'Technology': 'Included', 'Conglomerate': 'Included', 'Insurane': 'Excluded'}

In [39]:
dict(lst)

{'Technology': 'Included', 'Conglomerate': 'Included', 'Insurane': 'Excluded'}

## While Loop

In [81]:
num = 0

while num < 9:
    print("Value:{}".format(num))
    num = num +1

Value:0
Value:1
Value:2
Value:3
Value:4
Value:5
Value:6
Value:7
Value:8

In [88]:
i = 0 

while (i < 10):
    print("i is",i)
    i += 1

i is 0
i is 1
i is 2
i is 3
i is 4
i is 5
i is 6
i is 7
i is 8
i is 9

## Function definitions

In [18]:
def function_name(arguments):
    # calculations
    return

In [40]:
def hello():
    print("Hi my friend")

In [41]:
Hello()

Hi my friend

In [7]:
Hello()
Hello()
Hello()
Hello()

Hi my friend
Hi my friend
Hi my friend
Hi my friend

In [42]:
def hello(name):
    print("Hi" , name)

In [43]:
hello("Jane")

Hi Jane

In [44]:
hello("Jane")
hello("Dave")
hello("John")
hello("Felix")

Hi Jane
Hi Dave
Hi John
Hi Felix

In [45]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [15]:
def add(a,b,c):
    print("Total:",a+b+c)

In [16]:
add(15,7,66)

Total: 88

In [17]:
add(1,5,2)

Total: 8

In [18]:
add(14,55,77,99)

TypeError: add() takes 3 positional arguments but 4 were given

In [2]:
def hello2(name, capLetter = False):
    if capLetter:
        print("Hello " + name.upper())
    else:
        print("Hello " + name)

In [8]:
hello2("jane")

Hello jane

In [7]:
hello2("jane",True)

Hello JANE

In [ ]:
# a simpler function here

In [ ]:
# a function to join strings

In [60]:
def factorial(number):
    result = 1
    if number == 0 or number == 1:
        return result
    else:
        while number >= 1:
            factorial *= number
            number -=1
        return result

In [77]:
# recursive function example
def fibonacci(number):
    if number == 0 or number == 1:
        return 1
    else:
        return fibonacci(number-1) + fibonacci(number-2)

In [ ]:
# implement: bubble sort

In [13]:
dataList=[20,-5,15,7]

def sort(nums):
  
    for i in range(0,len(nums)):
        for j in range(0,len(nums)-1):
            if nums[j] > nums[j+1] :
                nums[j],nums[j+1]=nums[j+1],nums[j]
            else:
                continue
    print(nums)
    
sort(dataList)

[-5, 7, 15, 20]

In [ ]:
# implement: binary search (prerequisite: sorting) (optional)

In [ ]:
# a function to create and return list
# a function to create and return dicts

In [3]:
def ret_list():
    list = []
    for i in range(0,10):
        list.append(i)
    return list
a = ret_list()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
def ret_dict():
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(ret_dict())

{'product': 'hat', 'cost': 10}

In [ ]:
# a function with a docstring, and its usage

In [15]:
def ret_dict():
    '''
    This function create a dictionary about a product and its cost.
    
    '''
    
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(ret_dict())
print(ret_dict.__doc__)

{'product': 'hat', 'cost': 10}

    This function create a dictionary about a product and its cost.

In [17]:
def ret_dict():
    '''
    This function create a dictionary about a product and its cost.
    
    '''
    
    b = dict()
    b['product'] = "hat"
    b['cost']   = 10
    return b
print(ret_dict())
print(ret_dict().__doc__)

{'product': 'hat', 'cost': 10}
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [20]:
# a function for *args
# a function for **kwargs

In [28]:
def multiply(x,y):
    result = x * y
    return result

print(multiply(5,8))

40

In [26]:
def multiply_2(*numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

print(multiply_2(8,-4,6,4))

-768

In [32]:
def height(**person):
    print(person)
    print(type(person))
    
employees = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

print(height(**employees))

{'Dave': 1.8, 'Rachel': 1.68, 'Samantha': 1.75, 'Debra': 1.86}
<class 'dict'>
None

In [34]:
def height_2(**person):
    for employee,height in employees.items():
        if height <= 1.80:
            print(f'{employee}:{height}')
    
employees = {"Dave": 1.80, "Rachel": 1.68, "Samantha": 1.75, "Debra": 1.86}

print(height_2(**employees))

Dave:1.8
Rachel:1.68
Samantha:1.75
None

In [ ]:
# give examples of function definitions

In [ ]:
# lambda functions

In [37]:
def square(number):
    return number*number

In [38]:
square(5)

25

In [43]:
double_2 = lambda a: a*a

In [44]:
double_2(5)

25

In [46]:
def triangle_area(x,y):
    return x*y/2

In [47]:
triangle_area(5,4)

10.0

In [48]:
triangle_area_2 = lambda m,n : m*n/2

In [49]:
triangle_area_2(6,22)

66.0

In [54]:
list1 = [8, 4, 99, 6, 0, 11, 18]

new_list = list(filter(lambda x:(x%2 == 0), list1))

print(new_list)

[8, 4, 6, 0, 18]

In [55]:
list1 = [8, 4, 99, 6, 0, 11, 18]

new_list = list(filter(lambda x:(x%2 == 1), list1))

print(new_list)

[99, 11]