# Chapter 3

.............

## Learning Goals

- Standard Library
- Introduction to Object-oriented programming

## Authors

* Mert Candar
* Aras Kahraman

## Section 1: Standard Library

A **module** in python is a systematic collection and organization of code blocks, namely, *the definitons and declarations* in order to perform a series of tasks about a domain, topic or problem. A module is usually composed of python scripts, text files, configuration files and folders. Structuring a module usually aims:

* Simplicity of usage, and development

We can denote several highly important advantages of using modules:

* Computation efficiency
* Clean code
* Higher level of abstraction

Thus, modules are almost a must-have tool for a python coder.

**Standard library** consists of a number of python modules that comes with python by default. To list some of those:

* re
* datetime
* collections
* math
* random
* itertools
* functools
* pickle
* csv
* json
* sys
* time

Find the full list [here](https://docs.python.org/3/library/)

### `import` command

We use `import` command to connect module to our script. Simply, `import` searches for the specified module and loads its content to memory. Thus, all of the imported objects of module are made available for usage.

We can import:

* modules
* scripts
* variables, functions and classes, simply any object, (of a script)

There are several ways of import

In [9]:
import math

math.sin(math.pi)

1.2246467991473532e-16

In [10]:
import math as mt

mt.sin(math.pi)

1.2246467991473532e-16

In [11]:
from math import sin, pi

sin(pi)

1.2246467991473532e-16

In [ ]:
# not recommended
from math import *

sin(pi)

### Modules

In [96]:
import math

In [97]:
pi = math.pi
print(math.sin(pi/2))
print(math.cos(pi))

1.0
-1.0

In [98]:
print(math.asin(1))
print(math.acos(-1))

1.5707963267948966
3.141592653589793

In [99]:
print(math.ceil(3.5))
print(math.ceil(-2.3))

4
-2

In [100]:
print(math.floor(3.5))
print(math.floor(-2.3))

3
-3

In [101]:
math.factorial(5)

120

In [102]:
math.factorial(5.12)

ValueError: factorial() only accepts integral values

In [103]:
math.gamma(6)

120.0

In [104]:
math.gamma(6.12)

147.4548527269623

In [109]:
math.log(20)

2.995732273553991

In [110]:
math.log(math.e)

1.0

In [111]:
math.log10(10)

1.0

In [112]:
math.log10(1e6)

6.0

In [113]:
math.log(8,2)

3.0

In [114]:
math.inf

inf

In [115]:
math.log10(math.inf)

inf

In [116]:
math.nan

nan

In [117]:
math.log10(math.nan)

nan

In [1]:
import random

# number = int(input("Please guess a number"))
# rand_num = random.randrange(0,11)

# while number != rand_num:
#     if (number == rand_num): 
#         print( "You got it!")
#         break
#     if (number > rand_num):
#         print("Wrong! You guessed too high")
#         break
#     if (number < rand_num):
#         print("Wrong! You guessed too low")
#         break
# else:
#     print("Please enter an integer between 1 and 10: ")

In [2]:
# random.seed(1)
# print("Random number seed 1 : ", random.random())

# random.seed(1)
# print("Random number seed 1 : ", random.random())

# random.seed(2)
# print("Random number seed 2 : ", random.random())

# random.seed(2)
# print("Random number seed 2 : ", random.random())

# random.seed(3)
# print("Random number seed 3 : ", random.random())

# random.seed(4)
# print("Random number seed 4 : ", random.random())

Random number seed 1 :  0.13436424411240122
Random number seed 1 :  0.13436424411240122
Random number seed 2 :  0.9560342718892494
Random number seed 2 :  0.9560342718892494
Random number seed 3 :  0.23796462709189137
Random number seed 4 :  0.23604808973743452

In [3]:
# random.seed(1)
# print("Random number seed 1 : ", random.random())

Random number seed 1 :  0.13436424411240122

In [4]:
# for i in range(3):
#     random.seed()
#     print(random.randint(25,50))

40
25
33

In [5]:
# for i in range(3):
#     random.seed(1)
#     print(random.randint(25,50))

29
29
29

In [6]:
# for i in range(3):
#     random.seed(2)
#     print(random.randint(25,50))

26
26
26

In [141]:
mu = 100
sigma = 20

print(random.gauss(mu, sigma))

102.57875151224394

In [142]:
lst = [8, 22, 44, 664]

random.shuffle(lst)

print("Changed list : ",  lst)

Changed list :  [664, 44, 22, 8]

In [145]:
lst = ['Dave', 'Oliver', 'Jane', 'Kirk', 'Samantha']
random.choice(lst)

'Oliver'

In [146]:
random.sample(lst,2)

['Dave', 'Oliver']

In [150]:
random.randint(45, 500)

265

In [151]:
random.uniform(5,100)

30.154670461946818

In [152]:
random.uniform(0.5, 1.5)

1.2481153511272867

In [153]:
def rand_list(n,distribution="uniform",*args,**kwargs):
    fun = getattr(random,distribution)
    map_fun = lambda x: fun(*args,**kwargs)
    return list(map(map_fun,range(n)))

In [154]:
rand_list(10,"gauss",0,1)

[-0.8783328003237133,
 0.7347849049900745,
 1.967766574508474,
 -2.222442914071265,
 -2.4785337788348323,
 0.7716025500781777,
 -1.4714912808543155,
 -1.7323687755481045,
 0.7899490834947852,
 1.322176388832882]

In [155]:
rand_list(10,"uniform",0,10)

[1.8689546376313182,
 2.292103191567417,
 8.727048948909722,
 5.2292994338333,
 8.0460102571339,
 7.602401636110474,
 5.02585875004427,
 9.499206647869778,
 9.182565261651703,
 5.681354280487376]

In [156]:
rand_list(10,"randint",0,10)

[7, 3, 4, 3, 6, 6, 4, 2, 4, 6]

In [157]:
def count_interval(x,l,u):
    return sum(map(lambda e: e >= l and e <= u,x))
    
def histogram(x,bins=20):
    l, u = min(x), max(x)
    h = (u - l)/bins
    breaks = [l+h*i for i in range(bins+1)]
    count_consecutive = lambda i: count_interval(x,breaks[i],breaks[i+1])
    return list(map(count_consecutive,range(20))), breaks

def plot(x,max_char=50,*args,**kwargs):
    counts, breaks = histogram(x,*args,**kwargs)
    u = max(counts)/max_char
    for c, b in zip(counts,breaks):
        s = int(c/u)
        print(str(round(b,2)).ljust(5),"|",s*"#")

In [158]:
data = rand_list(5000,"uniform",0,1)
plot(data)

0.0   | #############################################
0.05  | ##############################################
0.1   | ##########################################
0.15  | ##################################################
0.2   | ###########################################
0.25  | #########################################
0.3   | #############################################
0.35  | ######################################
0.4   | #########################################
0.45  | #########################################
0.5   | ############################################
0.55  | ###########################################
0.6   | #####################################
0.65  | ############################################
0.7   | #########################################
0.75  | ########################################
0.8   | ####################################
0.85  | #####################################
0.9   | #############################################
0.95  | #########################################

In [160]:
data = rand_list(5000,"gauss",0,1)
plot(data)

-3.73 |
-3.34 |
-2.95 | #
-2.56 | ###
-2.17 | #######
-1.77 | #############
-1.38 | ########################
-0.99 | ####################################
-0.6  | ############################################
-0.21 | ##################################################
0.18  | ################################################
0.57  | #################################
0.96  | ########################
1.35  | ###############
1.74  | ########
2.13  | ##
2.52  |
2.91  |
3.3   |
3.69  |

In [31]:
data = rand_list(5000,"lognormvariate",0,0.4)
plot(data)

0.21  | #####
0.48  | ###################################
0.75  | ##################################################
1.02  | ######################################
1.29  | #######################
1.56  | ###########
1.83  | #####
2.1   | ##
2.38  | #
2.65  |
2.92  |
3.19  |
3.46  |
3.73  |
4.0   |
4.27  |
4.54  |
4.81  |
5.09  |
5.36  |

In [32]:
data = rand_list(5000,"gammavariate",1,5)
plot(data)

0.0   | #################################################
2.36  | ###############################
4.72  | ##################
7.08  | ############
9.43  | #######
11.79 | #####
14.15 | ###
16.51 | #
18.87 | #
21.23 |
23.58 |
25.94 |
28.3  |
30.66 |
33.02 |
35.37 |
37.73 |
40.09 |
42.45 |
44.81 |

In [33]:
data = rand_list(5000,"weibullvariate",0.1,8)
plot(data)

0.03  |
0.03  |
0.04  |
0.04  |
0.05  | #
0.05  | ##
0.06  | ###
0.06  | #####
0.07  | ###########
0.07  | ##############
0.08  | ###########################
0.08  | ################################
0.09  | ###########################################
0.09  | ##################################################
0.1   | ################################################
0.1   | ############################################
0.11  | ############################
0.11  | ############
0.12  | #####
0.12  | #

In [162]:
import statistics as ss

In [163]:
data = rand_list(20,"gauss",7,3)

x = ss.mean(data)
print(x)

6.699517536036626

In [164]:
data = rand_list(2000,"gauss",7,3)

ss.mean(data)

7.072556446629133

In [165]:
ss.median(data)

7.051063700882047

In [167]:
ss.median([7, 8, 9])

8

In [168]:
ss.median([7, 8, 9, 15])

8.5

In [169]:
ss.median_low([1, 5, 7, 9])

5

In [170]:
ss.median_high([1, 5, 7, 9])

7

In [171]:
ss.stdev(data)

3.0895182465722106

In [172]:
ss.variance(data)

9.545122995902627

In [173]:
ss.mode(data) # <------------------------------- MERT

StatisticsError: no unique mode; found 2000 equally common values

In [174]:
data_int = map(int,data) # <------------------------------- MERT
list(data_int)

[5,
 11,
 9,
 3,
 4,
 1,
 4,
 3,
 5,
 3,
 10,
 12,
 10,
 1,
 5,
 4,
 6,
 3,
 5,
 7,
 0,
 8,
 2,
 5,
 6,
 4,
 0,
 4,
 5,
 10,
 4,
 6,
 6,
 14,
 5,
 3,
 9,
 7,
 8,
 4,
 6,
 10,
 9,
 5,
 0,
 6,
 8,
 5,
 2,
 7,
 -3,
 2,
 0,
 2,
 10,
 10,
 11,
 9,
 9,
 2,
 0,
 9,
 13,
 7,
 0,
 6,
 8,
 8,
 8,
 9,
 1,
 11,
 8,
 3,
 6,
 10,
 9,
 1,
 6,
 11,
 7,
 11,
 9,
 8,
 7,
 10,
 4,
 5,
 12,
 7,
 1,
 7,
 7,
 6,
 6,
 1,
 0,
 4,
 7,
 6,
 2,
 6,
 1,
 6,
 13,
 5,
 9,
 10,
 5,
 1,
 9,
 12,
 2,
 5,
 4,
 1,
 8,
 6,
 11,
 8,
 4,
 10,
 1,
 5,
 4,
 2,
 9,
 8,
 10,
 7,
 6,
 8,
 10,
 8,
 11,
 2,
 4,
 4,
 5,
 5,
 9,
 5,
 0,
 8,
 8,
 3,
 5,
 0,
 7,
 8,
 3,
 4,
 5,
 4,
 12,
 9,
 7,
 5,
 6,
 3,
 5,
 5,
 4,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 5,
 4,
 6,
 8,
 5,
 8,
 9,
 6,
 7,
 6,
 8,
 7,
 4,
 9,
 7,
 7,
 3,
 4,
 4,
 8,
 7,
 10,
 10,
 2,
 5,
 7,
 4,
 10,
 0,
 4,
 3,
 3,
 10,
 3,
 5,
 6,
 6,
 9,
 2,
 -1,
 8,
 4,
 5,
 5,
 7,
 5,
 5,
 6,
 6,
 6,
 5,
 6,
 2,
 8,
 12,
 8,
 9,
 1,
 9,
 6,
 10,
 8,
 8,
 7,
 11,
 2,
 10,
 9,
 8,
 4,
 0,
 10,
 4,
 7,
 8,
 6,
 4,
 8,
 7,
 7,
 5,
 2,
 5,
 3,
 8,
 6,
 4,
 11,
 9,
 9,
 4,
 9,
 6,
 8,
 3,
 2,
 8,
 4,
 12,
 10,
 4,
 2,
 7,
 1,
 5,
 0,
 5,
 5,
 7,
 5,
 5,
 7,
 10,
 7,
 5,
 4,
 8,
 4,
 3,
 4,
 8,
 6,
 5,
 0,
 10,
 7,
 5,
 11,
 5,
 4,
 9,
 12,
 8,
 6,
 12,
 6,
 7,
 4,
 3,
 7,
 8,
 9,
 11,
 11,
 12,
 6,
 7,
 6,
 7,
 3,
 5,
 9,
 11,
 7,
 8,
 2,
 10,
 6,
 6,
 7,
 5,
 6,
 8,
 8,
 4,
 7,
 3,
 9,
 12,
 9,
 7,
 8,
 4,
 8,
 7,
 -1,
 6,
 8,
 6,
 12,
 3,
 6,
 9,
 6,
 6,
 9,
 10,
 10,
 5,
 9,
 9,
 9,
 10,
 0,
 6,
 7,
 9,
 8,
 8,
 9,
 11,
 8,
 3,
 7,
 11,
 7,
 6,
 5,
 6,
 8,
 7,
 8,
 5,
 3,
 13,
 6,
 4,
 10,
 4,
 3,
 12,
 7,
 6,
 0,
 6,
 12,
 9,
 9,
 2,
 14,
 6,
 2,
 0,
 6,
 7,
 5,
 -1,
 4,
 5,
 9,
 11,
 2,
 13,
 5,
 2,
 8,
 0,
 10,
 0,
 7,
 8,
 7,
 5,
 2,
 5,
 3,
 12,
 4,
 12,
 4,
 8,
 6,
 7,
 5,
 2,
 9,
 9,
 6,
 2,
 3,
 9,
 8,
 9,
 4,
 11,
 4,
 5,
 8,
 4,
 4,
 6,
 7,
 7,
 9,
 5,
 6,
 2,
 12,
 8,
 12,
 0,
 9,
 9,
 8,
 11,
 7,
 3,
 4,
 2,
 8,
 10,
 7,
 8,
 6,
 8,
 7,
 3,
 7,
 5,
 9,
 8,
 11,
 3,
 9,
 12,
 6,
 10,
 11,
 9,
 7,
 6,
 9,
 12,
 1,
 5,
 10,
 8,
 10,
 8,
 8,
 2,
 5,
 10,
 9,
 9,
 4,
 0,
 4,
 7,
 7,
 0,
 4,
 7,
 4,
 6,
 4,
 8,
 8,
 12,
 4,
 8,
 13,
 8,
 9,
 8,
 5,
 7,
 8,
 5,
 3,
 3,
 6,
 12,
 10,
 7,
 7,
 4,
 7,
 0,
 5,
 9,
 8,
 12,
 4,
 3,
 8,
 6,
 12,
 9,
 6,
 9,
 3,
 0,
 2,
 4,
 6,
 13,
 10,
 6,
 6,
 8,
 7,
 9,
 5,
 4,
 4,
 10,
 8,
 7,
 7,
 7,
 8,
 7,
 7,
 5,
 5,
 5,
 4,
 11,
 7,
 8,
 8,
 10,
 8,
 3,
 11,
 13,
 8,
 13,
 13,
 12,
 6,
 3,
 2,
 7,
 8,
 7,
 9,
 9,
 6,
 7,
 5,
 4,
 11,
 5,
 6,
 13,
 9,
 9,
 6,
 9,
 8,
 4,
 7,
 7,
 2,
 7,
 14,
 5,
 4,
 1,
 8,
 8,
 9,
 4,
 3,
 3,
 7,
 7,
 8,
 6,
 8,
 9,
 1,
 4,
 6,
 4,
 5,
 11,
 10,
 7,
 3,
 4,
 5,
 9,
 8,
 7,
 6,
 11,
 12,
 5,
 10,
 7,
 0,
 1,
 12,
 5,
 7,
 14,
 9,
 4,
 11,
 7,
 6,
 8,
 8,
 9,
 2,
 7,
 4,
 6,
 5,
 9,
 11,
 10,
 9,
 9,
 2,
 12,
 11,
 6,
 6,
 9,
 12,
 0,
 6,
 5,
 8,
 10,
 8,
 10,
 6,
 4,
 7,
 7,
 9,
 4,
 0,
 8,
 8,
 5,
 6,
 11,
 12,
 4,
 3,
 7,
 7,
 6,
 3,
 9,
 10,
 12,
 8,
 9,
 8,
 6,
 4,
 11,
 5,
 8,
 12,
 4,
 6,
 6,
 3,
 9,
 2,
 8,
 12,
 7,
 8,
 9,
 6,
 5,
 7,
 4,
 11,
 1,
 8,
 7,
 5,
 9,
 9,
 5,
 7,
 10,
 4,
 6,
 9,
 11,
 6,
 10,
 8,
 4,
 3,
 8,
 8,
 11,
 7,
 8,
 11,
 10,
 5,
 3,
 0,
 2,
 3,
 6,
 12,
 16,
 6,
 8,
 9,
 7,
 5,
 11,
 9,
 5,
 5,
 10,
 6,
 4,
 0,
 12,
 7,
 7,
 5,
 -3,
 7,
 10,
 4,
 9,
 8,
 7,
 7,
 5,
 8,
 12,
 6,
 6,
 9,
 9,
 8,
 6,
 7,
 7,
 9,
 5,
 1,
 6,
 5,
 8,
 8,
 10,
 9,
 6,
 7,
 5,
 8,
 7,
 9,
 6,
 7,
 5,
 5,
 11,
 0,
 8,
 4,
 6,
 7,
 2,
 13,
 13,
 5,
 9,
 8,
 10,
 12,
 7,
 3,
 10,
 4,
 10,
 9,
 0,
 6,
 7,
 7,
 2,
 9,
 6,
 5,
 6,
 5,
 4,
 0,
 10,
 8,
 6,
 6,
 4,
 10,
 5,
 6,
 6,
 5,
 3,
 7,
 0,
 1,
 9,
 8,
 4,
 10,
 3,
 5,
 -2,
 4,
 9,
 1,
 7,
 4,
 6,
 6,
 5,
 6,
 11,
 9,
 14,
 6,
 8,
 7,
 13,
 8,
 5,
 5,
 6,
 8,
 11,
 8,
 9,
 6,
 0,
 6,
 11,
 7,
 10,
 7,
 11,
 7,
 3,
 5,
 2,
 8,
 6,
 3,
 9,
 6,
 3,
 6,
 13,
 7,
 7,
 4,
 4,
 5,
 7,
 9,
 3,
 9,
 4,
 7,
 5,
 6,
 3,
 7,
 5,
 10,
 12,
 10,
 1,
 5,
 7,
 13,
 6,
 5,
 7,
 9,
 13,
 5,
 7,
 8,
 5,
 9,
 12,
 6,
 10,
 8,
 6,
 5,
 7,
 5,
 7,
 5,
 9,
 6,
 1,
 8,
 5,
 4,
 6,
 12,
 10,
 6,
 10,
 9,
 9,
 9,
 7,
 10,
 10,
 10,
 5,
 3,
 4,
 6,
 5,
 8,
 6,
 6,
 11,
 8,
 5,
 4,
 11,
 3,
 10,
 10,
 ...]

In [175]:
ss.mode(list(data_int))

StatisticsError: no mode for empty data

In [176]:
set1 =[1, 2, "a", "3", 5, 7, 4, "a", 5, 5]
  
ss.mode(set1)

5

In [177]:
import collections

In [178]:
person = collections.namedtuple("People", "name,age,job")

Dave = person(name="Dave", age="32", job="Data Scientist")
Oliver = person(name="Oliver", age="35", job="Software Developer")

In [179]:
print(Dave)

People(name='Dave', age='32', job='Data Scientist')

In [78]:
print(Dave.age)

32

In [79]:
print(Oliver.job)

Software Developer

In [181]:
# workers_time = collections.defaultdict(int)

# workers_time["Leonard"] = 32
# workers_time["Joseph"] = 28
# jane_worktime = workers_time["Jane"]

# print(workers_time)

defaultdict(<class 'int'>, {'Leonard': 32, 'Joseph': 28, 'Jane': 0})

In [183]:
workers_job = collections.defaultdict(list)

workers_job["Leonard"].append("Editor")
workers_job["Joseph"].append("Author")
workers_job["Jane"].append("IT")

print(workers_job)

defaultdict(<class 'list'>, {'Leonard': ['Editor'], 'Joseph': ['Author'], 'Jane': ['IT']})

In [184]:
workers_job["Matthew"]

[]

In [185]:
def count_words(s):
    out = collections.defaultdict(lambda : 0)
    for word in s.split():
        out[word] += 1
    return out

In [186]:
s = """
"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum sodales tortor, vitae vulputate 
dolor posuere quis. Praesent ut lorem nec metus finibus tincidunt. Donec est nunc, varius vel lobortis nec, 
viverra ac sapien. Quisque blandit ipsum in massa porttitor faucibus. Orci varius natoque penatibus et magnis 
dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
auctor mi quis massa suscipit pharetra."
"""
count_words(s)

defaultdict(<function __main__.count_words.<locals>.<lambda>()>,
            {'"Lorem': 1,
             'ipsum': 3,
             'dolor': 3,
             'sit': 2,
             'amet,': 2,
             'consectetur': 2,
             'adipiscing': 2,
             'elit.': 2,
             'Integer': 1,
             'vestibulum': 1,
             'sodales': 1,
             'tortor,': 1,
             'vitae': 1,
             'vulputate': 1,
             'posuere': 1,
             'quis.': 1,
             'Praesent': 1,
             'ut': 1,
             'lorem': 1,
             'nec': 1,
             'metus': 1,
             'finibus': 1,
             'tincidunt.': 1,
             'Donec': 1,
             'est': 1,
             'nunc,': 1,
             'varius': 2,
             'vel': 1,
             'lobortis': 1,
             'nec,': 1,
             'viverra': 1,
             'ac': 1,
             'sapien.': 1,
             'Quisque': 1,
             'blandit': 1,
             'in': 1,
             'massa': 2,
             'porttitor': 1,
             'faucibus.': 1,
             'Orci': 1,
             'natoque': 1,
             'penatibus': 1,
             'et': 1,
             'magnis': 1,
             'dis': 1,
             'parturient': 1,
             'montes,': 1,
             'nascetur': 1,
             'ridiculus': 1,
             'mus.': 1,
             'Lorem': 1,
             'Vivamus': 1,
             'auctor': 1,
             'mi': 1,
             'quis': 1,
             'suscipit': 1,
             'pharetra."': 1})

In [84]:
from functools import reduce

reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [85]:
((((1+2)+3)+4)+5)

15

In [ ]:
### TODO: ARAS: MORE EXAMPLES ON REDUCE <-----------------------------------------

In [241]:
import itertools

In [192]:
list_odd = [1, 3, 5, 7]
list_even = [2, 4, 6, 8]

numbers = list(itertools.chain(list_odd, list_even))

print(numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [194]:
list(itertools.chain(list_odd, list_even,list_even,list_even))

[1, 3, 5, 7, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [195]:
A = [1,1,3,3,3]

list(itertools.combinations(A,4))

[(1, 1, 3, 3), (1, 1, 3, 3), (1, 1, 3, 3), (1, 3, 3, 3), (1, 3, 3, 3)]

In [198]:
letters ="abcdef"

[' '.join(i) for i in itertools.combinations(letters, 3)]

['a b c',
 'a b d',
 'a b e',
 'a b f',
 'a c d',
 'a c e',
 'a c f',
 'a d e',
 'a d f',
 'a e f',
 'b c d',
 'b c e',
 'b c f',
 'b d e',
 'b d f',
 'b e f',
 'c d e',
 'c d f',
 'c e f',
 'd e f']

In [200]:
list(itertools.combinations(letters, 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'f')]

In [201]:
list(itertools.combinations_with_replacement(letters, 2))

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'b'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'c'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'd'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'e'),
 ('e', 'f'),
 ('f', 'f')]

In [205]:
a = "147"

list(itertools.permutations(a))

[('1', '4', '7'),
 ('1', '7', '4'),
 ('4', '1', '7'),
 ('4', '7', '1'),
 ('7', '1', '4'),
 ('7', '4', '1')]

In [224]:
d = [1,1,4,1,2,41,1,2,2,41]
d.sort()

In [226]:
for i,k in itertools.groupby(d):
    print(i,len(list(k)))

1 4
2 3
4 1
41 2

In [ ]:
## TODO: ARAS GROUPBY EXAMPLE <-----------------

In [227]:
# stocks = {"PC":10,"PS":16,"TV":16,"Printer":22,"Modem":10,"Phone":8}

# a = list(itertools.groupby(stocks.items()), key=lambda x:x[1])

# for k,v in a:
#     print(k, list(v))

In [229]:
l1 = ['a', 'b', 'c']
l2 = ['X', 'Y', 'Z']

list(itertools.product(l1, l2))

[('a', 'X'),
 ('a', 'Y'),
 ('a', 'Z'),
 ('b', 'X'),
 ('b', 'Y'),
 ('b', 'Z'),
 ('c', 'X'),
 ('c', 'Y'),
 ('c', 'Z')]

In [237]:
list(itertools.permutations(["science", 'data',"analysis","analytics"], 2))

All the permutations of the given list is:

[('science', 'data'),
 ('science', 'analysis'),
 ('science', 'analytics'),
 ('data', 'science'),
 ('data', 'analysis'),
 ('data', 'analytics'),
 ('analysis', 'science'),
 ('analysis', 'data'),
 ('analysis', 'analytics'),
 ('analytics', 'science'),
 ('analytics', 'data'),
 ('analytics', 'analysis')]

In [239]:
list(itertools.permutations('XYZ'))

[('X', 'Y', 'Z'),
 ('X', 'Z', 'Y'),
 ('Y', 'X', 'Z'),
 ('Y', 'Z', 'X'),
 ('Z', 'X', 'Y'),
 ('Z', 'Y', 'X')]

In [240]:
list(itertools.permutations(range(5), 2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [50]:
t = ('AA', 'BB')
d = {'colour': 'white', 'size': 'small'}
r = range(2)

list_product = list(itertools.product(t, d, r))

print(list_product)

[('AA', 'colour', 0), ('AA', 'colour', 1), ('AA', 'size', 0), ('AA', 'size', 1), ('BB', 'colour', 0), ('BB', 'colour', 1), ('BB', 'size', 0), ('BB', 'size', 1)]

In [254]:
import datetime

print("Today:",datetime.datetime.today())
print("Current date and time:",datetime.datetime.now())
print("Current UTC date and time:",datetime.datetime.utcnow())
print("Current time:",datetime.time())

Today: 2021-05-21 18:12:21.103140
Current date and time: 2021-05-21 18:12:21.103388
Current UTC date and time: 2021-05-21 15:12:21.103454
Current time: 00:00:00
A specified date with (unspecified) time: 2021-05-20 00:00:00
A specified date: 2021-05-20

In [268]:
print(datetime.datetime(2021,5,20))
print(datetime.datetime(2021, 5, 20,0,13,59))
print(datetime.date(2021,5,20))

2021-05-20 00:00:00
2021-05-20 00:13:59
2021-05-20

In [256]:
t0 = datetime.datetime.now()
print(t0)

2021-05-21 18:13:03.715340

In [261]:
t1 = t0 + datetime.timedelta(hours=1)
print(t1)

2021-05-21 19:13:03.715340

In [262]:
t2 = t0 + datetime.timedelta(days=1)
print(t2)

2021-05-22 18:13:03.715340

In [277]:
import time

In [278]:
# Epoch time as seconds
print(time.time())

1621610409.98509

In [279]:
n_sec = 3
time.sleep(n_sec)
print("I waited ",n_sec,"seconds.")

I waited  3 seconds.

In [80]:
## Ipython magic
# %%writefile workers.csv
# "Newman, Samantha",38,"London, England"
# "Patricia, Halley",36,"Sydney, Australia"
# "Corkery, Bill",45,"Detroit, USA"

Writing workers.csv

### File Input/Output

We can read from and write to files using "file handles" in python. This is the most basic type of file IO.

* `open()`
* `close()`

In [ ]:
import csv

In [287]:
data = [
    ["2020Q1",12412,142],
    ["2020Q2",12412,142],
    ["2020Q3",12412,142],
    ["2020Q4",12412,142]
]
f = open("sales.csv",mode="w")
writer = csv.writer(f)
writer.writerows(data)
f.close()

In [288]:
f = open("sales.csv",mode="r")
print(f)
print(type(f))
rd = csv.reader(f)
for line in rd:
    print(line)
f.close()

<_io.TextIOWrapper name='sales.csv' mode='r' encoding='UTF-8'>
<class '_io.TextIOWrapper'>
['2020Q1', '12412', '142']
['2020Q2', '12412', '142']
['2020Q3', '12412', '142']
['2020Q4', '12412', '142']

### `with` statement

In [290]:
with open("sales.csv",mode="w") as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [298]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    for line in reader:
        print(line)

['2020Q1', '12412', '142']
['2020Q2', '12412', '142']
['2020Q3', '12412', '142']
['2020Q4', '12412', '142']

In [299]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    content = list(map(list,reader))

print(content)

[['2020Q1', '12412', '142'], ['2020Q2', '12412', '142'], ['2020Q3', '12412', '142'], ['2020Q4', '12412', '142']]

In [83]:
# with open("workers.csv") as f:
#     rd = csv.reader(f)
#     for line in rd:
#         print(line)

['Newman, Samantha', '38', 'London, England']
['Patricia, Halley', '36', 'Sydney, Australia']
['Corkery, Bill', '45', 'Detroit, USA']

In [89]:
# with open("managers.csv", "w", newline="") as m:
#     wr = csv.writer(m)
#     wr.writerow(['Graham, Leanne', '53', 'Tulsa, USA'])
#     wr.writerow(['Weissnat, Kurtis', '57', 'Dublin, Ireland'])

In [91]:
# with open("managers.csv") as m:
#     mg = csv.reader(m)
#     for line in mg:
#         print(line)

['Graham, Leanne', '53', 'Tulsa, USA']
['Weissnat, Kurtis', '57', 'Dublin, Ireland']

In [301]:
import json

## read
## write

# f = open("")
# f.close()

# with open("","rb") as f:
#     json.read(.....)
    
# with open("","wb") as f:
#     json.dump(.....)
    
# json.dumps()
# json.loads()

AttributeError: 'str' object has no attribute 'read'

In [73]:
import json

data = '{"firstName":"Nancy","lastName":"Green"}'

y = json.loads(data)
type(y)
print(y["firstName"])
print(y["lastName"])


customer = {"firstName":"nancy",
            "email":"nancygreen@nomail.com"}

customerJson = json.dumps(customer)

print(customer)
print(json.dumps("Nancy"))

Nancy
Green
{'firstName': 'nancy', 'email': 'nancygreen@nomail.com'}
"Nancy"

In [315]:
import urllib

In [350]:
response = urllib.request.urlopen("https://jsonplaceholder.typicode.com/users")
raw_content = response.read().decode()
content = eval(raw_content)
content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [354]:
response = urllib.request.urlopen("https://jsonplaceholder.typicode.com/users")
raw_content = response.read().decode()
content = json.loads(raw_content)
content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [351]:
with open("users.json","w") as f:
    json.dump(content,f)

In [353]:
with open("users.json","r") as f:
    written_content = json.load(f)
written_content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [357]:
# get what would have written to file if were to use `json.dump`
raw = json.dumps(written_content)

In [358]:
# parse string as json file
json.loads(raw)

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [77]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [364]:
import pickle

In [368]:
person = collections.namedtuple("Person","name,age")

a = 1,2,3,[4,5]
data = {
    "mert":[{"a","b","c"},("Aras","Kahraman",[29])],
    "aras":[a,{123,234,345,456}],
    "others": map(str,a)}

# person(name="others",age=30)

In [369]:
data

{'mert': [{'a', 'b', 'c'}, ('Aras', 'Kahraman', [29])],
 'aras': [(1, 2, 3, [4, 5]), {123, 234, 345, 456}],
 'others': <map at 0x7f6774341128>}

In [370]:
with open("complex_data.pickle",mode="wb") as f:
    pickle.dump(data,f)

In [371]:
with open("complex_data.pickle",mode="rb") as f:
    written_data = pickle.load(f)
written_data

{'mert': [{'a', 'b', 'c'}, ('Aras', 'Kahraman', [29])],
 'aras': [(1, 2, 3, [4, 5]), {123, 234, 345, 456}],
 'others': <map at 0x7f6775015358>}

In [372]:
list(written_data['others'])

['1', '2', '3', '[4, 5]']

In [37]:
### CAUTION <--------------- MERT
import re

# regular expression examples!!! <------------------------

re.compile
re.search
re.findall
re.finditer
re.match
re.sub

' \t\n\r\x0b\x0c'

## Section 2: Object-oriented Programming

.............. <--------------- MERT

In [19]:
class Pet:
    species = "Exotic Shorthair"
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
Pet1 = Pet("Fluffy",4)

print(Pet1.name)
print(Pet1.age)
print(Pet1.species)

Fluffy
4
Exotic Shorthair

In [11]:
class Pet_2:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

In [69]:
Pet2= Pet_2("Kitty",6)

print(Pet2.describe())

Name: Kitty
Age: 6
None

In [56]:
### NOT A PRIORITY <----
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    @staticmethod
    def method1(self):
        pass
    
    @classmethod
    def method2(cls):
        pass

In [65]:
### NOT A PRIORITY <----
## https://stackoverflow.com/a/2627034/7184515
# class getters, and setters
class Pet:
    def __init__(self,name,age):
        self._name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self,s):
        self._name = s.capitalize()

In [66]:
a = Pet("Duman",1.5)
a.name

'Duman'

In [68]:
a.name = "zbk"
a.name

'Zbk'

In [ ]:
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    def _method1(self):
        pass
    
    def __method2(self):
        pass

In [49]:
p = Pet("Shimmy",2)
p

In [50]:
p.name

'Shimmy'

In [51]:
p.age

2

In [52]:
p.describe()

Name: Shimmy
Age: 2

In [ ]:
### ................. FILL SEVERAL EXAMPLES HERE

In [ ]:
class employees:
    def __init__(self, name, lname, age, language):
        self.name = name
        self.lname = lname
        self.age = age
        self.language = language
   
    def print_name(self):
        print(self.name  + " " + self.lname)
       
    def showage(self):
        print(self.name  +  " " + self.lname, "is", self.age +  " years old ")
       
    def speak_language(self):
        print(self.name, self.lname, "speaks", self.language)
       
    def showinfo(self):
        print(self.name, self.lname, "is", self.age, "and", "speaks", self.language)

        
manager1 = managers("Mert", "Trump", "44")
manager2 = managers("Gamze", "Cakr", "43")

manager1.print_name()

manager1.showage()

manager1.addlanguage("Spanish and English")

manager1.showinfo()

manager2.print_name()

manager2.showage()

manager2.addlanguage("English and French")

manager2.showinfo()

employee1 = employees("Aras", "Kahraman", "28", "English and Italian" )
employee2 = employees("Evrim", "Solhan", "27", "Turkish")
employee3 = employees("Ozlem", "sci", "34", "Russian")

employee1.showinfo()

employee2.showinfo()

employee3.showinfo()

In [68]:
class Math:
    def addition(self,number1,number2):
        return number1 + number2

    def extraction(self,number1,number2):
        return number1 - number2
    
    def multiply(self,number1,number2):
        return number1 * number2
    
    def division(self,number1,number2):
        return number1 / number2
    
math = Math()
print("Addition = " + str(math.addition(2,78)))
print("Multiply = " + str(math.multiply(4,84)))

Addition = 80
Multiply = 336

In [53]:
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def __repr__(self):
        pass
    
    def __str__(self):
        pass
    
    def __add__(self,other):
        return self.name + other.name
    
    def __sub__(self,other):
        pass
    
    def __mul__(self,other):
        pass
    
    def __ge__(self):
        pass

In [54]:
Pet("Shimmy",2) + Pet("Doug",2)

'ShimmyDoug'

In [55]:
## inheritance
class Cat(Pet):
    def __init__(self,lovesdogs=False,*args):
        super().__init__(*args)

In [57]:
class Worker():
    def __init__(self,name,salary,department):
        self.name = name
        self.salary = salary
        self.department = department
        
    def showinfo(self):
        
        print(self.name)
        print(self.salary)
        print(self.department)
        
    def change_department(self,new_department):
        
        self.department = new_department

In [58]:
class Manager(Worker):
    pass

In [59]:
Manager1 = Manager("Dave Johnson",1000,"Human Resources")

In [60]:
Manager1.showinfo()

Dave Johnson
1000
Human Resources

In [61]:
Manager1.change_department("Finance")

In [62]:
Manager1.showinfo()

Dave Johnson
1000
Finance

In [63]:
class Manager(Worker):
    def give_raise(self,raise_amount):
        self.salary += raise_amount

In [64]:
Manager2 = Manager("Rose Newman",2000,"IT")

In [65]:
Manager2.showinfo()

Rose Newman
2000
IT

In [66]:
Manager2.give_raise(500)

In [67]:
Manager2.showinfo()

Rose Newman
2500
IT

In [ ]:
class Author:
    pass

class Columnist(Author):
    pass

class Academic(Author):
    pass

class Poet(Author):
    pass

class Novelist(Author):
    pass

class Critic(Author):
    pass

class NewAge(Poet,Novelist,Columnist):
    pass

## Example Project

## Project

## Prerequisite to Next Week: `numpy`

Be sure to install numpy using `pip`, or `conda`.

* `$pip install numpy`

or


* `$conda install numpy`

or use Anaconda Navigator to install numpy module.

## References

https://docs.python.org/3/library/

https://docs.python.org/3/reference/import.html