# CHAPTER 2

Note what we will cover.

## Learning Goals

* Loops
* Function definitions
* ...

## 1 - Loop Structure

### 1. For Loops

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2,5):
    print(i)

2
3
4

In [3]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [5]:
for i in range(20,5,-3):
    print(i)

20
17
14
11
8

In [6]:
lst = ['Products','Services','Team']
for l in lst:
    print(l)

Products
Services
Team

In [11]:
numbers = [1,2,3,4,5,6,7]

for number in numbers:
    print("Number",number)

Number 1
Number 2
Number 3
Number 4
Number 5
Number 6
Number 7

In [16]:
lst = ['0-18','19-30','31-45','45+']
num = [782,1439,1103,548]
for l,n in zip(lst,num):
    print(l,":",n)

0-18 : 782
19-30 : 1439
31-45 : 1103
45+ : 548

In [4]:
list_1 = [(1,2),(3,4),(5,6),(7,8)]

for i in list:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [5]:
list_1 = [(1,2),(3,4),(5,6),(7,8)]

for (i,k) in list:
    print(i,k)

1 2
3 4
5 6
7 8

In [6]:
list_2 = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
for (i,k,j) in list_2:
    print(i * k * j)

6
120
504
1320

In [7]:
a =  "Structure"
for character in a:
    print(character)

S
t
r
u
c
t
u
r
e

In [8]:
for i in "Python Instruction".split():
  print(i)

Python
Instruction

In [9]:
for i in range(10):
  if i == 5:    
    break
  print(i)

0
1
2
3
4

In [10]:
for i in range(10):
  if i == 5:    
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [12]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}

products

{'Skirt': 11.5, 'Hat': 15.5, 'Shoe': 18.0, 'Shirt': 4.7}

In [14]:
products.values()

dict_values([11.5, 15.5, 18.0, 4.7])

In [15]:
products.keys()

dict_keys(['Skirt', 'Hat', 'Shoe', 'Shirt'])

In [16]:
products.items()

dict_items([('Skirt', 11.5), ('Hat', 15.5), ('Shoe', 18.0), ('Shirt', 4.7)])

In [17]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
for product in products:
    print(product)

Skirt
Hat
Shoe
Shirt

In [18]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
for product in products.keys():
    print(product)

Skirt
Hat
Shoe
Shirt

In [19]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
for product in products.values():
    print(product)

11.5
15.5
18.0
4.7

In [20]:
products = {"Skirt":11.50,"Hat":15.50,"Shoe":18.00,"Shirt":4.70}
for (product,cost) in products.items():
    print(product,cost)

Skirt 11.5
Hat 15.5
Shoe 18.0
Shirt 4.7

In [17]:
# ......... give more examples of for loops, nested for loops, enumerate, dictionary.items, values, keys, etc.

## Function definitions

In [18]:
def function_name(arguments):
    # calculations
    return

In [1]:
type(Hello) # We haven't defined yet.

NameError: name 'Hello' is not defined

In [4]:
def Hello():
    print("Hi my friend")

In [6]:
Hello()

Hi my friend

In [7]:
Hello()
Hello()
Hello()
Hello()

Hi my friend
Hi my friend
Hi my friend
Hi my friend

In [8]:
Hello("Jane")

TypeError: Hello() takes 0 positional arguments but 1 was given

In [10]:
def hello(name):
    print("Hi" , name)

In [12]:
hello("Jane")

Hi Jane

In [13]:
hello("Jane")
hello("Dave")
hello("John")
hello("Felix")

Hi Jane
Hi Dave
Hi John
Hi Felix

In [14]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [15]:
def add(a,b,c):
    print("Total:",a+b+c)

In [16]:
add(15,7,66)

Total: 88

In [17]:
add(1,5,2)

Total: 8

In [18]:
add(14,55,77,99)

TypeError: add() takes 3 positional arguments but 4 were given

In [19]:
def factorial(number):
    factorial = 1
    if (number == 0 or number == 1):
        print("Factorial",factorial)
    else:
        while (number >= 1):
            factorial *= number
            number -=1
        print("Factorial", factorial)

In [20]:
factorial(5)

Factorial 120

In [21]:
factorial(0)

Factorial 1

In [22]:
factorial(1)

Factorial 1

In [23]:
factorial(8)

Factorial 40320

In [24]:
def summ(a,b):
  summ = a + b
  print(summ)

In [26]:
summ(5,11)

16

In [28]:
def func(x,y):
  summ = x + y
  multip = x * y
  return (summ,multip)

In [29]:
func(4,6)

(10, 24)

In [ ]:
# give examples of function definitions