# Chapter 1

This chapter constitutes an introduction to Python programming. We will gently start from the definition of algorithm and dive a little deeper in the programming languages.

## Learning Goals

* What is an algorithm, and software?
* The need of programming languages
* An introduction to Python
* Variable types
* Data structures
* If statement

## Authors

- Mert Candar, mccandar@gmail.com

- Aras Kahraman, aras.kahraman@hotmail.com

## Section 1

**Algorithm**: a well-defined, finite series of instructions (more specifically performed by computers) that converts an input to a desired output, or performs a particular task (Cormen, Leierson, ... 2009). __Algorithm are needed to solve problems.__

![algorithm](https://www.softwareideas.net/i/DirectImage/464/algorithm-flowchart.png)

**Software**: is a tool we use in order to implement an algorithm (computational model) to solve a problem in a computer-aided way.

**We will use CPython (software, interpreter) to interpret the program that is written in Python (programming language).**

1. A computational model is a collection of values and operations.
2. A computation is the application of a sequence of operations to a value to yield another value.
3. A program is a specification of a computation.
4. **A programming language is a notation for writing programs.**(...)

(Aaby, 2004)

![Programming Languages](https://hackernoon.com/hn-images/1*jd8ZKUWtY1AOMwz2CvZG8A.jpeg)

![programmingi languages relation](https://miro.medium.com/max/960/1*DbgPt0izylkbD7qP13mQlQ.jpeg)

![](https://lh3.googleusercontent.com/proxy/YNdYDF9y8p9ZgAtZxs4MgIl7q0Oi61B8s_Wpodt9W6pIpI2NlFgJsstAksHKoTkDwu-2kN8UsLihi3YMOOjHeIbWI4SOeGwtYaqUTirld2n_KsKUAlJccyxQIT3zWmP1AYW2U70UzdgsjmoECZCOmUwO7psfwZSb)

![](https://miro.medium.com/max/572/1*qJ7PA_c-5F4GVW96oNl41g.jpeg)

![](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/Python-advantages-disadvantages-1.jpg)

![](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2020/07/Best-Python-Compilers-tv.jpg)

More on python interpreters and compilers at https://techvidvan.com/tutorials/python-compilers-and-interpreters/

## 1 - Basic Concepts

*Whats a variable?*

Variable is an information stored in the memory of the computer and is accessable through the interpreter.

### 1.1. Variable Types

In [1]:
x = 5
print(x)

5

In [2]:
x = -32
print(x)

-32

In [3]:
x = 0
print(x)

0

In [4]:
y = 5.0
print(y)

5.0

In [5]:
y = 5.017248127361890123
print(y)

5.01724812736189

In [6]:
y = 0.000000000000000000000000000001
print(y)

1e-30

In [7]:
y = 1.23e5
print(y)

123000.0

In [8]:
y = 1.23e-5
print(y)

1.23e-05

In [9]:
z = "5"
print(z)

5

In [10]:
z = "Where there’s a will, there’s a way"
print(z)

Where there’s a will, there’s a way

In [11]:
z = """
The influence of the clergy, in an age of superstition, might be usefully
employed to assert the rights of mankind; but so intimate is the connection 
between the throne and the altar, that the banner of the church has very 
seldom been seen on the side of the people.
""" # Edward Gibbon
print(z)

The influence of the clergy, in an age of superstition, might be usefully
employed to assert the rights of mankind; but so intimate is the connection
between the throne and the altar, that the banner of the church has very
seldom been seen on the side of the people.

In [12]:
var_1, var_2 = True, False
print(var_1)
print(var_2)

True
False

In [13]:
type(x)

int

In [14]:
type(y)

float

In [15]:
type(z)

str

In [16]:
type(var_1)

bool

In [17]:
a = None
print(a)

None

In [18]:
type(a)

NoneType

### 1.2. Type Conversion

In [19]:
int(56.59846)

56

In [20]:
int('42')

42

In [21]:
int('42.01')

ValueError: invalid literal for int() with base 10: '42.01'

In [24]:
int(True)

1

In [25]:
float(5)

5.0

In [26]:
float('5')

5.0

In [27]:
float('5.86')

5.86

In [28]:
float(False)

0.0

In [30]:
str(568)

'568'

In [31]:
str(32.14)

'32.14'

In [32]:
str(None)

'None'

In [40]:
bool(1)

True

In [34]:
bool(0)

False

In [35]:
bool('True')

True

In [36]:
bool('true')

True

In [37]:
bool(-1)

True

In [38]:
bool('False')

True

In [39]:
bool('false')

True

**More at** https://www.tutorialspoint.com/python/python_variable_types.htm

### 1.3. Operators

Arithmetic operators:
* `+,-`
* `*,/`
* `**`
* `//`
* `%`

Comparison operators:
* `==`
* `!=`
* `>, <`
* `<=, >=`

Logical operators:
* `and`
* `or`
* `not`

Identity operators:
* `is`
* `is not`

Membership operators:
* `in`
* `not in`

#### 1.3.1. Arithmetic Operations

In [41]:
3 + 4

7

In [42]:
3.0 + 4.0

7.0

In [43]:
3.0 + 4

7.0

In [44]:
3 * 4

12

In [45]:
3.0 * 4.0

12.0

In [46]:
3.0 * 4

12.0

In [47]:
3 ** 4

81

In [48]:
3.0 ** 4.0

81.0

In [49]:
3.0 ** 4

81.0

In [50]:
-0.0

-0.0

In [53]:
11 // 3

3

In [54]:
11.0 // 3.00

3.0

In [55]:
11.0 // 3

3.0

In [56]:
11 % 3

2

In [57]:
11.0 % 3.0

2.0

In [58]:
11.0 % 3

2.0

In [59]:
"Catch" + "the" + "Dog"

'CatchtheDog'

In [60]:
"4" + 5

TypeError: must be str, not int

In [61]:
"48" * 3

'484848'

In [62]:
"48" * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [63]:
"hello" * 4

'hellohellohellohello'

In [64]:
True + True

2

In [65]:
True + False

1

In [66]:
False + False

0

In [67]:
True * False

0

In [68]:
True / False

ZeroDivisionError: division by zero

#### 1.3.2. Comparison Operations

In [69]:
5 == 6

False

In [73]:
5 == 5.0

True

In [71]:
5 != 88

True

In [74]:
80 < 70

False

In [75]:
80 >= 70 # Operator is written as pronounced i.e. greater than or equal to

True

In [76]:
"a" < "b"

True

In [86]:
"Data" > "Science"

False

In [87]:
"Data" >= "Data"

True

In [88]:
"2" > "11"

True

In [89]:
True > False

True

#### 1.3.3. Identity Operations

In [90]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [91]:
print(x is z)

True

In [92]:
print(x is y)

False

In [93]:
print(x == y)

True

In [95]:
a = 5
print(type(a) is int)
print(isinstance(a,int)) # <--

True
True

In [96]:
isinstance(a,float)

False

In [97]:
b = 3.23
type(y) is not float

True

In [98]:
type(b) is int

False

#### 1.3.4. Membership Operations

In [99]:
districts = ["Bakırköy", "Beşiktaş", "Kadıköy"]

In [101]:
print("Beşiktaş" in districts)

True

In [102]:
print("Şişli" in districts)

False

In [103]:
print("Şişli" not in districts)

True

In [104]:
"O" in "Opdtcom"

True

## 2 - Data Structures

### 2.1. List

A fundamental data type for multi-element data structures. It is mutable and ordered.

In [160]:
mylist = [4,"dog",8.0,True,45,"cat",-3,"cat"]
print(mylist)

[4, 'dog', 8.0, True, 45, 'cat', -3, 'cat']

In [161]:
type(mylist)

list

In [162]:
len(mylist)

8

In [163]:
print(mylist[0])
print(mylist[3])
print(mylist[-1])

4
True
cat

In [164]:
print(mylist[0:2])
print(mylist[1:3]) # left-hand side is inclusive, right-hand side is exclusive
print(mylist[-3:])
print(mylist[1:5:2])

[4, 'dog']
['dog', 8.0]
['cat', -3, 'cat']
['dog', True]

In [165]:
mylist[3] = False

In [166]:
mylist[1:3] = "Dog",12.88

In [167]:
mylist.append("Snake")
print(mylist)

[4, 'Dog', 12.88, False, 45, 'cat', -3, 'cat', 'Snake']

In [168]:
mylist.remove("cat")
print(mylist)

[4, 'Dog', 12.88, False, 45, -3, 'cat', 'Snake']

In [169]:
mylist2 = [1, 4, 88, -30, 3.65, 8, 8.0, -4.6, 0]

In [170]:
mylist2.sort()
print(mylist2)

[-30, -4.6, 0, 1, 3.65, 4, 8, 8.0, 88]

In [171]:
mylist2.reverse()
print(mylist2)

[88, 8.0, 8, 4, 3.65, 1, 0, -4.6, -30]

In [172]:
mylist2.extend(mylist)
print(mylist2)

[88, 8.0, 8, 4, 3.65, 1, 0, -4.6, -30, 4, 'Dog', 12.88, False, 45, -3, 'cat', 'Snake']

In [173]:
mylist.index("cat")

6

In [174]:
mylist[6]

'cat'

In [175]:
mylist.count("cat")

1

In [176]:
mylist + mylist2

[4,
 'Dog',
 12.88,
 False,
 45,
 -3,
 'cat',
 'Snake',
 88,
 8.0,
 8,
 4,
 3.65,
 1,
 0,
 -4.6,
 -30,
 4,
 'Dog',
 12.88,
 False,
 45,
 -3,
 'cat',
 'Snake']

In [177]:
mylist * 3

[4,
 'Dog',
 12.88,
 False,
 45,
 -3,
 'cat',
 'Snake',
 4,
 'Dog',
 12.88,
 False,
 45,
 -3,
 'cat',
 'Snake',
 4,
 'Dog',
 12.88,
 False,
 45,
 -3,
 'cat',
 'Snake']

In [178]:
mylist[1] + mylist[0]

TypeError: must be str, not int

In [179]:
mylist[1] * 3

'DogDogDog'

In [180]:
list('Statistics')

['S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's']

__Caution!:__ Do not confuse append with extend.

In [181]:
L1 = ["John", "Smith Jr.",34]
L2 = ["Taylor","Anderson",27]
L1.append(L2)
print(L1)

['John', 'Smith Jr.', 34, ['Taylor', 'Anderson', 27]]

In [183]:
L1 = ["John", "Smith Jr.",34]
L2 = ["Taylor","Anderson",27]
L1.extend(L2)
print(L1)

['John', 'Smith Jr.', 34, 'Taylor', 'Anderson', 27]

**Caution!: Variable Copies**

In [186]:
a = [1,2,3]
b = a
a[1] = -5
print(b)

[1, -5, 3]

In [187]:
a = [1,2,3]
b = a.copy() # <-- this makes it
a[1] = -5
print(b)

[1, 2, 3]

### 2.2. Tuple

Tuple is an ordered and immutable data structure. Unlike lists, they cannot be changed once created.

In [188]:
mytuple = (1,2,"Summer",4,"Spring",8)
print(mytuple)

(1, 2, 'Summer', 4, 'Spring', 8)

In [189]:
type(mytuple)

tuple

In [190]:
print(mytuple[3])
print(mytuple[-2])
print(mytuple[:4])

4
Spring
(1, 2, 'Summer', 4)

In [192]:
mytuple[2] = "Winter"

TypeError: 'tuple' object does not support item assignment

In [193]:
mytuple.index("Summer")

2

In [194]:
mytuple.count("Summer")

1

In [195]:
mytuple2 = ('Seasons',4,'Months','Calendar')
mytuple + mytuple2

(1, 2, 'Summer', 4, 'Spring', 8, 'Seasons', 4, 'Months', 'Calendar')

In [196]:
mytuple * 3

(1,
 2,
 'Summer',
 4,
 'Spring',
 8,
 1,
 2,
 'Summer',
 4,
 'Spring',
 8,
 1,
 2,
 'Summer',
 4,
 'Spring',
 8)

In [197]:
len(mytuple)

6

In [199]:
mytuple3 = ('Zeus','Athena','Thor','Ra',('Osiris','Ares','Poseidon'))
len(mytuple3)

5

In [200]:
mytuple[5] + mytuple[3]

12

In [201]:
mytuple[5] * 3

24

In [202]:
tuple('Statistics')

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

### 2.3. Set

Mathematical implementation of sets.

In [203]:
myset = {"Mathematics","Statistics","Computer Science","Physics","Statistics"}
myset

{'Computer Science', 'Mathematics', 'Physics', 'Statistics'}

In [204]:
type(myset)

set

In [205]:
myset[3]

TypeError: 'set' object does not support indexing

In [206]:
myset.add("Linear Algebra")
print(myset)

{'Statistics', 'Computer Science', 'Physics', 'Mathematics', 'Linear Algebra'}

In [209]:
len(myset)

5

In [210]:
"Engineering" in myset

False

In [211]:
myset2 = {"Computer Science","Physics","Operations Research"}
myset2

{'Computer Science', 'Operations Research', 'Physics'}

In [213]:
myset.intersection(myset2)

{'Computer Science', 'Physics'}

In [214]:
myset.union(myset2)

{'Computer Science',
 'Linear Algebra',
 'Mathematics',
 'Operations Research',
 'Physics',
 'Statistics'}

In [215]:
myset.difference(myset2)

{'Linear Algebra', 'Mathematics', 'Statistics'}

In [216]:
myset - myset2

{'Linear Algebra', 'Mathematics', 'Statistics'}

In [218]:
myset2 - myset

{'Operations Research'}

In [219]:
myset2.issubset(myset)

False

In [220]:
myset3 = set("statistics")
myset3

{'a', 'c', 'i', 's', 't'}

In [221]:
myset3.remove("s")
myset3

{'a', 'c', 'i', 't'}

### 2.4. Dictionary

A dictinoary is a series of key:value pairs where there is one and only one unique key for each value. These keys could only be an immutable type.

In [222]:
mydictionary = {"Jack":"AA", "Mindy":"BA", "Oliver":"CC", "Dave":"AA"}
mydictionary

{'Jack': 'AA', 'Mindy': 'BA', 'Oliver': 'CC', 'Dave': 'AA'}

In [223]:
type(mydictionary)

dict

In [225]:
mydictionary.keys()

dict_keys(['Jack', 'Mindy', 'Oliver', 'Dave'])

In [226]:
mydictionary.values()

dict_values(['AA', 'BA', 'CC', 'AA'])

In [227]:
mydictionary.items()

dict_items([('Jack', 'AA'), ('Mindy', 'BA'), ('Oliver', 'CC'), ('Dave', 'AA')])

In [229]:
mydictionary["Mindy"]

'BA'

In [230]:
mydictionary["Leonard"] = "BB"
mydictionary

{'Jack': 'AA', 'Mindy': 'BA', 'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'BB'}

In [231]:
mydictionary["Leonard"] = "AA"
mydictionary

{'Jack': 'AA', 'Mindy': 'BA', 'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'AA'}

In [232]:
mydictionary["Susie"] = ["AA","Honours"]
mydictionary

{'Jack': 'AA',
 'Mindy': 'BA',
 'Oliver': 'CC',
 'Dave': 'AA',
 'Leonard': 'AA',
 'Susie': ['AA', 'Honours']}

In [233]:
mydictionary.pop("Mindy")
mydictionary

{'Jack': 'AA',
 'Oliver': 'CC',
 'Dave': 'AA',
 'Leonard': 'AA',
 'Susie': ['AA', 'Honours']}

In [234]:
del mydictionary["Jack"]
mydictionary

{'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'AA', 'Susie': ['AA', 'Honours']}

In [235]:
len(mydictionary)

4

In [236]:
"Oliver" in mydictionary

True

In [237]:
mydictionary['Susie'][1]

'Honours'

In [238]:
Countries = {"Europe":["France", "Germany", "Spain"], 
             "Asia":["China", "India", "Japan"],
             "Africa":["Algeria","Egypt","Morocco"]}

In [242]:
Countries["Europe"]

['France', 'Germany', 'Spain']

In [243]:
Countries["Asia"][2]

'Japan'

In [247]:
visitor_count = {
    (2021,1,31) : {'total_visited':123090,'unique_visitors':40128},
    (2021,2,28) : {'total_visited':111548,'unique_visitors':35864},
    (2021,3,31) : {'total_visited':150114,'unique_visitors':21544},
    (2021,4,30) : {'total_visited':125431,'unique_visitors':44512},
}

In [248]:
visitor_count

{(2021, 1, 31): {'total_visited': 123090, 'unique_visitors': 40128},
 (2021, 2, 28): {'total_visited': 111548, 'unique_visitors': 35864},
 (2021, 3, 31): {'total_visited': 150114, 'unique_visitors': 21544},
 (2021, 4, 30): {'total_visited': 125431, 'unique_visitors': 44512}}

In [249]:
visitor_count[2021, 3, 31]

{'total_visited': 150114, 'unique_visitors': 21544}

### More on Strings

In [251]:
mystr = "Numerical Methods"
print(mystr)

Numerical Methods

In [253]:
print(mystr[:7])
print(mystr[-7:])
print(mystr[2:15:3])

Numeric
Methods
mileo

In [255]:
mystr[1] = 'x' # it's immutable!

TypeError: 'str' object does not support item assignment

In [256]:
print(mystr.capitalize())
print(mystr.lower())
print(mystr.upper())
print(mystr.swapcase())

Numerical methods
numerical methods
NUMERICAL METHODS
nUMERICAL mETHODS

In [257]:
print(mystr.replace('c','k'))

Numerikal Methods

In [258]:
print(mystr.strip('ds'))

Numerical Metho

In [270]:
mystr.replace('e','')

'Numrical Mthods'

In [271]:
mystr.count('e')

2

In [262]:
print(mystr.split(' '))

['Numerical', 'Methods']

In [269]:
word1, word2 = mystr.split(' ')
print(word1,word2)
s = ", "
result = s.join([word1, word2])
print(result)

Numerical Methods
Numerical, Methods

In [272]:
print(mystr.isalpha())
print(mystr.isalnum())
print(mystr.isnumeric())
print(mystr.endswith('ods'))
print(mystr.startswith('Nxm'))

False
False
False
True
False

## 3 - `if` Statement

In [273]:
if True:
    print('I am in the first code block now!')
else:
    print('I am in the second code block now!')

I am in the first code block now!

In [275]:
if False:
    print('I am in the first code block now!')
else:
    print('I am in the second code block now!')

I am in the second code block now!

In [276]:
g = 34

if g % 2 == 0:
    print("g is an even number")
else:
    print("g is an odd number")

g is an even number

In [278]:
num1 = 48
num2 = 17
num3 = 55

if num1 > num2 > num3:
    print("1 > 2 > 3")
elif num1 > num3 > num2:
    print("1 > 3 > 2")
elif num2 > num3 > num1:
    print("2 > 3 > 1")
elif num3 > num2 > num1:
    print("3 > 2 > 1")
elif num3 > num1 > num2:
    print("3 > 1 > 2")
elif num2 > num1 > num3:
    print("2 > 1 > 3")

3 > 1 > 2

In [280]:
numbers = {-5,-4,-3,-1,0,1,2,3,4,5}

if -2 in numbers:
    print('We found the number!')
else:
    print("It is absent.")
    
if {2}.issubset(numbers):
    print('This is a subset.')
else:
    print('Not a subset.')

It is absent.
This is a subset.

In [282]:
sentence = "If we knew exactly what we were doing, it wouldn't be called research, would it?" # Albert Einstein

if "?" in sentence:
    print('A question could have been asked.')
    if sentence.startswith(('What','Which','Who','When','Where')):
        print('This is clearly a question!')
elif "!" in sentence:
    print('An order could have been given.')
elif "." is sentence:
    print('Just an ordinary sentence...')
else:
    print('The sentence is incomplete.')

A question could have been asked.

In [283]:
num1 = 13.5
num2 = 12.72

if (isinstance(num1,int) or isinstance(num1,float)) and (isinstance(num2,int) or isinstance(num2,float)):
    if num1 < num2:
        print("num2 is greater than num1.")
    elif num1 > num2:
        print("num2 is less than num1.")
    else:
        print("They are equal.")
else:
    print("They cannot be compared!")

num2 is less than num1.

In [285]:
grade = int(input("Please enter your grade:"))

if grade >= 90:
    print("AA")
elif grade >= 80:
    print("BA")
elif grade >= 70:
    print("BB")
elif grade >= 60:
    print("CB")
elif grade >= 50:
    print("CC")
elif grade >= 40:
    print("DC")
elif grade >= 30:
    print("DD")
else:
    print("You did not pass the exam")

Please enter your grade:67
CB

In [286]:
grade = int(input("Please enter your grade:"))

if grade >= 90:
    print("AA")
if grade >= 80:
    print("BA")
if grade >= 70:
    print("BB")
if grade >= 60:
    print("CB")
if grade >= 50:
    print("CC")
if grade >= 40:
    print("DC")
if grade >= 30:
    print("DD")
else:
    print("You did not pass the exam")

Please enter your grade:67
CB
CC
DC
DD

### The short version of `if`

In [289]:
n = 2
n_square = 4 if n == 2 else None
print(n_square)

4

In [290]:
n = 3
n_square = 9 if n == 3 else 4 if n == 2 else 1 if n == 1 else None
print(n_square)

9

## Example Project

### Customer Satisfaction

Measure the level of satisfaction from a product/service, for a given user according to his/her available information.

In [291]:
## Get necessary information from user
p1 = int(input('Rate of the user: '))
p2 = int(input('Average monthly bought items: '))
p3 = input('Commented on a product? (y/n): ')
p3 = p3 == 'y' # y answer means True for us

# if there is a comment from this user, we will ask it too
if p3:
    p4 = input('What is the comment?: ')
    p4 = p4.lower() # we will only work with small case

# Apply the conditions and print accordingly
if p1 == 5:
    print('High')
elif p3 and ("excellent" in p4 or "perfect" in p4):
    print('High')
elif p1 >= 4 and (p2 >= 7 or p3):
    print('High')
elif p1 >= 3 or p2 > 4 or (p2 < 4 and p3):
    print('Intermediate')
elif p3 and ("good" in p4 or "not bad" in p4):
    print('Intermediate')
else:
    print('Low')

Rate of the user: 4
Average monthly bought items: 12
Commented on a product? (y/n): n
High

## Project

Write a python script for the following task. The file should be in `.py` format. E-mail the file to mccandar@gmail.com. Several tips:

* Write the code in a clear and readable way
* Choose relevant variable names and avoid abbreviations
* Include comments if there is a need for explanation

#### Due: Next week

### Churn Classification

**Design your own set of conditions to determine if a customer was "churned".**

This program should:
* Ask the information about user, decide what kind of information is needed (total bought products, number of days absent, etc.)
* Make calculations of parameters, if any
* Include a detailed set of conditions required to mark the customer as churn (if-elif-else)
* Print an informative message

## Main Takeaways

* Python is a general purpose, interpreted language.
* Several basic types: `int`, `float`, `str`
* Operators and their usage
* Several data structures: `list`, `tuple`, `set`, `dict`
* `if-elif-else` statement

## Next Week

* Loops
* Function Definitions

## References

* Introduction to Algorithms - Cormen
* Introduction to Programming Languages - Aaby
* https://home.cs.colorado.edu/~bec/courses/csci5535-s10/slides/meeting01-welcome.6up.pdf