# Chapter 3

We will explain two of the important aspects of python programming. Using these tools and know-how, one could design better algorithms and structures.

## Learning Goals

- Standard Library
- Introduction to Object-oriented programming

## Authors

- Mert Candar, mccandar@gmail.com
- Aras Kahraman, aras.kahraman@hotmail.com

## Learning Curve Boosters

https://github.com/kyclark/tiny_python_projects

https://github.com/Python-World/python-mini-projects/tree/master/projects

https://github.com/rlvaugh/Impractical_Python_Projects

## Section 1: Standard Library

A **module** in python is a systematic collection and organization of code blocks, namely, *the definitons and declarations* in order to perform a series of tasks about a domain, topic or problem. A module is usually composed of python scripts, text files, configuration files and folders. Structuring a module usually aims simplicity and efficiency of usage, and development.

We can denote several highly important advantages of using modules:

* Computation efficiency
* Clean code
* Higher level of abstraction

Thus, modules are almost a must-have tool for a python coder.

**Standard library** consists of a number of python modules that comes with python by default. To list some of those:

* math
* random
* statistics
* datetime
* collections
* itertools
* functools
* pickle
* csv
* json
* time

Find the full list [here](https://docs.python.org/3/library/)

### `import` command

We use `import` command to connect module to our script. Simply, `import` searches for the specified module and loads its content to memory. Thus, all of the imported objects of module are made available for usage.

We can import:

* modules
* scripts
* variables, functions and classes, simply any object, (of a script)

There are several ways of import

In [2]:
import math

math.sin(math.pi)

1.2246467991473532e-16

In [4]:
import math as mt

mt.sin(math.pi)

1.2246467991473532e-16

In [5]:
from math import sin, pi

sin(pi)

1.2246467991473532e-16

In [6]:
# not recommended
from math import *

sin(pi)

1.2246467991473532e-16

### Modules

In [7]:
import math

In [9]:
pi = math.pi
print(math.sin(pi/2))
print(math.cos(pi))

1.0
-1.0

In [11]:
print(math.asin(1))
print(math.acos(-1))

1.5707963267948966
3.141592653589793

In [13]:
print(math.ceil(3.5))
print(math.ceil(-2.3))

4
-2

In [14]:
print(math.floor(3.5))
print(math.floor(-2.3))

3
-3

In [15]:
math.log(20)

2.995732273553991

In [17]:
math.log(math.e)

1.0

In [18]:
math.log10(10)

1.0

In [19]:
math.log10(1e6)

6.0

In [21]:
math.log(8,2)

3.0

In [22]:
math.factorial(5)

120

In [23]:
math.factorial(5.12)

ValueError: factorial() only accepts integral values

In [24]:
math.gamma(6)

120.0

In [25]:
math.gamma(6.12)

147.4548527269623

In [26]:
math.inf

inf

In [27]:
math.log10(math.inf)

inf

In [29]:
math.nan

nan

In [30]:
math.log10(math.nan)

nan

In [31]:
import random

In [33]:
mu = 100
sigma = 20

print(random.gauss(mu, sigma))

82.51080165913947

In [37]:
lst = [8, 22, 44, 664]

random.shuffle(lst)

lst

[8, 44, 22, 664]

In [40]:
lst = ['Dave', 'Oliver', 'Jane', 'Kirk', 'Samantha']
random.choice(lst)

'Dave'

In [42]:
random.sample(lst,2)

['Oliver', 'Samantha']

In [46]:
random.randint(45, 500)

273

In [47]:
random.uniform(5,100)

94.09178179914366

In [52]:
s = random.uniform(-10.519, 1.5)

In [55]:
def rand_list(n,distribution="uniform",*args,**kwargs):
    """
    Generate random number series.
    
    Parameters
    ----------
    n : int
        Number of values to generate, i.e. length.
    distribution : str
        A method of `random` module.
    
    Returns
    -------
    m : list
        Random number series.
    """
    fun = getattr(random,distribution)
    map_fun = lambda x: fun(*args,**kwargs)
    return list(map(map_fun,range(n)))

In [56]:
rand_list(10,"gauss",0,1)

[-0.07569095088934555,
 0.36043892545421297,
 -0.1565956130789772,
 -0.6767675464230208,
 -0.6155818100551531,
 -0.805218439031403,
 1.9725472272078324,
 -1.4151105012599756,
 -0.9186524893445783,
 0.33637479970632433]

In [57]:
# is the same with...
[random.gauss(0,1) for _ in range(10)]

[0.5375416491798537,
 1.1909771758302927,
 -1.1631889623312488,
 -0.3853596950783923,
 0.7033301589421532,
 -2.102710445625154,
 1.5674633013551937,
 -0.9241191081386162,
 1.2893141844300544,
 1.0929802699147908]

In [58]:
rand_list(10,"uniform",0,1)

[0.5793306933306934,
 0.9876111314547265,
 0.056209354354487706,
 0.3645809487853112,
 0.6858130467844497,
 0.6461739305612163,
 0.057939184518774445,
 0.5776050325568799,
 0.999081534676573,
 0.8659504732087461]

In [59]:
rand_list(10,"randint",0,1)

[0, 1, 0, 0, 0, 0, 1, 0, 1, 1]

In [60]:
def count_interval(x,l,u):
    """
    Count the number of values that
    fall into the specified interval.
    """
    return sum(map(lambda e: e >= l and e <= u,x))
    
def histogram(x,bins=20):
    """
    Compute histogram of a given
    numeric series.
    """
    l, u = min(x), max(x)
    h = (u - l) / bins
    breaks = [l+h*i for i in range(bins+1)]
    count_consecutive = lambda i: count_interval(x,breaks[i],breaks[i+1])
    return list(map(count_consecutive,range(20))), breaks

def plot_histogram(x,max_char=50,*args,**kwargs):
    """
    Visualize histogram of a given
    numeric series.
    """
    counts, breaks = histogram(x,*args,**kwargs)
    u = max(counts)/max_char
    for c, b in zip(counts,breaks):
        s = int(c/u)
        print(str(round(b,2)).ljust(5),"|",s*"#")

In [61]:
data = rand_list(5000,"uniform",0,1)
plot_histogram(data)

0.0   | ######################################
0.05  | ###################################
0.1   | #######################################
0.15  | ######################################
0.2   | ########################################
0.25  | ######################################
0.3   | #######################################
0.35  | #######################################
0.4   | ###########################################
0.45  | ########################################
0.5   | ##################################################
0.55  | ####################################
0.6   | ######################################
0.65  | ####################################
0.7   | ########################################
0.75  | ####################################
0.8   | ####################################
0.85  | ######################################
0.9   | ##########################################
0.95  | ######################################

In [63]:
data = rand_list(5000,"gauss",0,1)
plot_histogram(data)

-3.4  |
-3.05 |
-2.69 | ##
-2.34 | #####
-1.98 | #########
-1.63 | #################
-1.27 | ###########################
-0.91 | ###################################
-0.56 | ##########################################
-0.2  | ##################################################
0.15  | #########################################
0.51  | #####################################
0.86  | ###########################
1.22  | ##################
1.57  | ###########
1.93  | #####
2.28  | #
2.64  |
3.0   |
3.35  |

In [65]:
data = rand_list(5000,"lognormvariate",0,0.4)
plot_histogram(data)

0.22  | ###
0.4   | ####################
0.58  | ###########################################
0.76  | ##################################################
0.94  | #############################################
1.12  | #################################
1.3   | #######################
1.48  | ###############
1.66  | ##########
1.84  | ######
2.02  | ###
2.2   | #
2.38  | #
2.56  |
2.74  |
2.92  |
3.1   |
3.28  |
3.46  |
3.63  |

In [67]:
data = rand_list(5000,"expovariate",0.2)
plot_histogram(data)

0.0   | ##################################################
2.13  | #################################
4.26  | #####################
6.38  | ###############
8.51  | #########
10.64 | #####
12.77 | ###
14.89 | ##
17.02 | #
19.15 | #
21.27 |
23.4  |
25.53 |
27.66 |
29.78 |
31.91 |
34.04 |
36.17 |
38.29 |
40.42 |

In [68]:
data = rand_list(5000,"gammavariate",2,5)
plot_histogram(data)

0.18  | ############################
2.89  | ##################################################
5.6   | ###############################################
8.31  | #######################################
11.02 | ############################
13.74 | ####################
16.45 | ############
19.16 | ########
21.87 | ######
24.58 | ###
27.3  | ##
30.01 | #
32.72 | #
35.43 |
38.14 |
40.86 |
43.57 |
46.28 |
48.99 |
51.71 |

In [69]:
data = rand_list(5000,"weibullvariate",0.1,8)
plot_histogram(data)

0.04  |
0.04  |
0.05  |
0.05  | #
0.05  | ##
0.06  | ####
0.06  | ######
0.07  | ############
0.07  | ##################
0.08  | ########################
0.08  | ##################################
0.09  | ##########################################
0.09  | #############################################
0.1   | ##################################################
0.1   | #############################################
0.11  | ###################################
0.11  | ####################
0.12  | ##########
0.12  | ###
0.12  |

In [72]:
random.seed(1000)
rand_list(10,"gammavariate",1,5)

[1.2592801715398216,
 2.0036897968158534,
 11.556131407537318,
 5.2068538162163955,
 3.7974206652551423,
 3.1303992215718237,
 0.10964822833057329,
 10.188989977535375,
 1.993116819810311,
 5.049856731431943]

In [73]:
random.seed(1000)
rand_list(10,"gammavariate",1,5)

[1.2592801715398216,
 2.0036897968158534,
 11.556131407537318,
 5.2068538162163955,
 3.7974206652551423,
 3.1303992215718237,
 0.10964822833057329,
 10.188989977535375,
 1.993116819810311,
 5.049856731431943]

In [74]:
import statistics as ss

In [79]:
data = rand_list(20,"gauss",7,3)

x = ss.mean(data)
print(x)

5.990572403553227

In [81]:
random.seed(123)
data = rand_list(1000,"gauss",7,3)

ss.mean(data)

7.126507534558333

In [84]:
ss.median(data)

7.240378633116992

In [85]:
ss.median([7, 8, 9])

8

In [87]:
ss.median([7, 8, 9, 15])

8.5

In [89]:
ss.median_low([1, 5, 7, 9])

5

In [90]:
ss.median_high([1, 5, 7, 9])

7

In [91]:
ss.stdev(data)

2.9903723915317406

In [92]:
ss.variance(data)

8.942327040035263

In [93]:
ss.mode(data)

StatisticsError: no unique mode; found 1000 equally common values

In [94]:
data_int = list(map(int,data))
data_int

[8,
 7,
 5,
 7,
 7,
 6,
 4,
 6,
 8,
 5,
 5,
 9,
 7,
 7,
 5,
 7,
 6,
 6,
 5,
 9,
 8,
 6,
 10,
 11,
 13,
 7,
 4,
 5,
 9,
 2,
 4,
 11,
 8,
 10,
 1,
 6,
 5,
 9,
 7,
 3,
 5,
 3,
 3,
 1,
 2,
 7,
 6,
 7,
 7,
 5,
 9,
 0,
 5,
 5,
 5,
 9,
 9,
 8,
 4,
 5,
 7,
 8,
 6,
 6,
 5,
 8,
 2,
 6,
 10,
 4,
 14,
 6,
 5,
 5,
 5,
 7,
 10,
 6,
 7,
 6,
 8,
 8,
 6,
 9,
 6,
 10,
 5,
 7,
 9,
 8,
 9,
 8,
 10,
 7,
 11,
 9,
 0,
 11,
 6,
 10,
 7,
 4,
 4,
 10,
 13,
 5,
 2,
 9,
 5,
 4,
 7,
 8,
 7,
 6,
 3,
 6,
 9,
 10,
 11,
 4,
 5,
 8,
 10,
 6,
 3,
 3,
 6,
 7,
 9,
 10,
 3,
 11,
 6,
 -1,
 5,
 4,
 7,
 6,
 0,
 6,
 5,
 6,
 3,
 6,
 2,
 11,
 5,
 9,
 4,
 6,
 5,
 9,
 8,
 6,
 7,
 8,
 13,
 6,
 8,
 10,
 9,
 8,
 4,
 10,
 11,
 4,
 1,
 5,
 2,
 7,
 7,
 4,
 8,
 3,
 3,
 7,
 7,
 10,
 9,
 10,
 11,
 3,
 4,
 4,
 6,
 5,
 12,
 8,
 4,
 10,
 4,
 8,
 7,
 4,
 7,
 1,
 10,
 14,
 9,
 8,
 1,
 6,
 8,
 10,
 2,
 11,
 8,
 8,
 8,
 4,
 7,
 6,
 5,
 7,
 0,
 3,
 5,
 10,
 6,
 10,
 4,
 6,
 5,
 3,
 8,
 5,
 8,
 6,
 11,
 7,
 6,
 3,
 17,
 9,
 10,
 11,
 8,
 5,
 9,
 4,
 12,
 3,
 7,
 4,
 0,
 2,
 5,
 9,
 6,
 6,
 6,
 8,
 4,
 8,
 4,
 4,
 7,
 7,
 1,
 6,
 12,
 4,
 5,
 12,
 4,
 7,
 9,
 8,
 4,
 6,
 9,
 13,
 13,
 9,
 2,
 9,
 9,
 9,
 7,
 3,
 4,
 9,
 7,
 8,
 7,
 7,
 7,
 6,
 7,
 6,
 4,
 3,
 13,
 8,
 6,
 0,
 4,
 7,
 7,
 8,
 4,
 2,
 7,
 7,
 5,
 8,
 7,
 9,
 5,
 4,
 4,
 5,
 10,
 6,
 8,
 7,
 6,
 0,
 9,
 9,
 9,
 4,
 10,
 7,
 6,
 9,
 8,
 6,
 9,
 2,
 4,
 5,
 10,
 9,
 8,
 6,
 9,
 9,
 7,
 6,
 7,
 5,
 8,
 7,
 0,
 8,
 6,
 6,
 8,
 9,
 10,
 9,
 2,
 12,
 9,
 1,
 7,
 10,
 6,
 5,
 9,
 7,
 2,
 10,
 7,
 6,
 13,
 9,
 6,
 8,
 8,
 1,
 2,
 3,
 10,
 2,
 6,
 10,
 9,
 6,
 2,
 2,
 9,
 4,
 4,
 10,
 9,
 7,
 7,
 2,
 11,
 9,
 4,
 4,
 10,
 9,
 6,
 5,
 6,
 6,
 7,
 9,
 7,
 4,
 13,
 1,
 7,
 7,
 6,
 1,
 10,
 4,
 7,
 4,
 17,
 14,
 5,
 5,
 7,
 6,
 9,
 7,
 9,
 9,
 4,
 4,
 5,
 6,
 0,
 5,
 4,
 11,
 3,
 3,
 5,
 4,
 7,
 8,
 8,
 7,
 7,
 1,
 9,
 1,
 4,
 10,
 7,
 5,
 9,
 7,
 11,
 4,
 10,
 11,
 8,
 9,
 10,
 12,
 7,
 6,
 12,
 7,
 3,
 9,
 4,
 4,
 7,
 9,
 2,
 3,
 6,
 7,
 8,
 8,
 10,
 6,
 3,
 7,
 10,
 2,
 9,
 10,
 0,
 5,
 10,
 8,
 8,
 10,
 8,
 4,
 4,
 6,
 12,
 4,
 7,
 7,
 4,
 6,
 11,
 7,
 9,
 10,
 10,
 9,
 9,
 2,
 10,
 4,
 6,
 8,
 2,
 0,
 6,
 5,
 8,
 7,
 7,
 5,
 5,
 3,
 4,
 9,
 6,
 10,
 8,
 10,
 4,
 3,
 13,
 6,
 10,
 4,
 10,
 10,
 10,
 5,
 2,
 8,
 3,
 2,
 4,
 7,
 8,
 3,
 5,
 5,
 3,
 6,
 2,
 4,
 6,
 8,
 4,
 9,
 4,
 7,
 5,
 7,
 10,
 9,
 10,
 8,
 10,
 6,
 5,
 2,
 3,
 7,
 7,
 11,
 4,
 6,
 10,
 5,
 1,
 10,
 7,
 0,
 5,
 9,
 7,
 11,
 9,
 3,
 6,
 5,
 8,
 6,
 7,
 5,
 5,
 2,
 8,
 10,
 7,
 14,
 10,
 14,
 6,
 6,
 8,
 9,
 5,
 3,
 7,
 10,
 8,
 4,
 5,
 10,
 10,
 3,
 10,
 6,
 7,
 7,
 9,
 6,
 8,
 0,
 2,
 5,
 2,
 5,
 9,
 2,
 6,
 6,
 9,
 9,
 9,
 1,
 1,
 9,
 4,
 10,
 12,
 12,
 5,
 9,
 8,
 7,
 10,
 8,
 7,
 6,
 3,
 7,
 6,
 5,
 8,
 9,
 5,
 9,
 3,
 7,
 2,
 12,
 8,
 8,
 5,
 4,
 9,
 12,
 3,
 9,
 13,
 3,
 3,
 8,
 7,
 7,
 13,
 4,
 2,
 10,
 6,
 4,
 10,
 8,
 9,
 9,
 6,
 6,
 7,
 9,
 6,
 5,
 4,
 5,
 1,
 5,
 2,
 3,
 7,
 9,
 4,
 7,
 5,
 11,
 8,
 10,
 4,
 10,
 0,
 8,
 0,
 9,
 9,
 8,
 5,
 7,
 11,
 2,
 4,
 9,
 4,
 6,
 11,
 8,
 7,
 3,
 3,
 4,
 7,
 5,
 0,
 6,
 2,
 9,
 9,
 8,
 10,
 8,
 5,
 5,
 9,
 11,
 12,
 12,
 7,
 4,
 8,
 9,
 7,
 12,
 5,
 10,
 12,
 8,
 11,
 4,
 6,
 6,
 8,
 9,
 6,
 5,
 9,
 7,
 6,
 8,
 9,
 5,
 10,
 9,
 11,
 8,
 5,
 4,
 9,
 10,
 9,
 11,
 2,
 4,
 10,
 5,
 5,
 9,
 1,
 3,
 8,
 8,
 6,
 1,
 -2,
 6,
 0,
 3,
 8,
 10,
 7,
 13,
 8,
 8,
 7,
 7,
 6,
 2,
 5,
 5,
 5,
 5,
 2,
 2,
 8,
 6,
 6,
 10,
 6,
 14,
 0,
 1,
 11,
 7,
 10,
 8,
 8,
 6,
 3,
 7,
 4,
 8,
 7,
 2,
 8,
 9,
 2,
 8,
 4,
 7,
 5,
 3,
 3,
 11,
 7,
 9,
 9,
 5,
 5,
 6,
 11,
 7,
 4,
 9,
 5,
 8,
 8,
 11,
 7,
 10,
 10,
 11,
 2,
 5,
 4,
 8,
 6,
 10,
 11,
 0,
 3,
 9,
 6,
 6,
 14,
 2,
 7,
 11,
 9,
 10,
 2,
 8,
 4,
 11,
 5,
 4,
 7,
 6,
 8,
 7,
 6,
 10,
 4,
 3,
 8,
 10,
 8,
 9,
 4,
 8,
 4,
 9,
 11,
 6,
 6,
 8,
 7,
 12,
 9,
 6,
 9,
 8,
 9,
 6,
 7,
 3,
 6,
 7,
 7,
 10,
 5,
 7,
 0,
 7,
 3,
 4,
 8,
 -1,
 8,
 8,
 14,
 7,
 10,
 8,
 2,
 7,
 5,
 13,
 5,
 9,
 5,
 5,
 2,
 3,
 11,
 7,
 10,
 4,
 5,
 12,
 6,
 10,
 5,
 7,
 11,
 13,
 1,
 1,
 9,
 8,
 11,
 8,
 3,
 10,
 3,
 5,
 3,
 10,
 6,
 2,
 7,
 8,
 7,
 1,
 5,
 9,
 3,
 8,
 7,
 9,
 10,
 5,
 7,
 4,
 4,
 4,
 5,
 6,
 5,
 7,
 9,
 10,
 6,
 2,
 4,
 9,
 7,
 9,
 7,
 9,
 8,
 5,
 7,
 8,
 4,
 5,
 6,
 0]

In [95]:
ss.mode(data_int)

7

In [96]:
set1 =[1,2,1,2,4,1,2,5,6,23,3,2,1,3,4,1,4]

ss.mode(set1)

1

In [97]:
set1 =[1, 2, "a", "3", 5, 7, 4, "a", 5, 5]
  
ss.mode(set1)

5

In [99]:
from collections import namedtuple, defaultdict

In [101]:
position = namedtuple("Position","x,y")
pos = position(12.5,5.8)
pos

Position(x=12.5, y=5.8)

In [103]:
print(pos[0])
print(pos.x)

12.5
12.5

In [104]:
print(pos[1])
print(pos.y)

5.8
5.8

In [106]:
pos * 2

(12.5, 5.8, 12.5, 5.8)

In [107]:
print(pos.x,pos.y)

12.5 5.8

In [108]:
person = namedtuple("People", "name,age,job")

Dave = person(name="Dave", age="32", job="Data Scientist")
Oliver = person(name="Oliver", age="35", job="Software Developer")

In [109]:
print(Dave)

People(name='Dave', age='32', job='Data Scientist')

In [110]:
print(Dave.age)

32

In [111]:
print(Oliver.job)

Software Developer

In [113]:
workers_job = defaultdict(list)

[workers_job["Leonard"]].append("Editor")
workers_job["Joseph"].append("Author")
workers_job["Jane"].append("IT")

print(workers_job)

defaultdict(<class 'list'>, {'Leonard': [], 'Joseph': ['Author'], 'Jane': ['IT']})

In [114]:
workers_job["Matthew"]

[]

In [115]:
def count_words(s):
    out = defaultdict(lambda : 0)
    for word in s.split():
        out[word] += 1
    return out

In [116]:
s = """
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum sodales tortor, vitae vulputate 
dolor posuere quis. Praesent ut lorem nec metus finibus tincidunt. Donec est nunc, varius vel lobortis nec, 
viverra ac sapien. Quisque blandit ipsum in massa porttitor faucibus. Orci varius natoque penatibus et magnis 
dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
auctor mi quis massa suscipit pharetra.
"""
count_words(s)

defaultdict(<function __main__.count_words.<locals>.<lambda>()>,
            {'Lorem': 2,
             'ipsum': 3,
             'dolor': 3,
             'sit': 2,
             'amet,': 2,
             'consectetur': 2,
             'adipiscing': 2,
             'elit.': 2,
             'Integer': 1,
             'vestibulum': 1,
             'sodales': 1,
             'tortor,': 1,
             'vitae': 1,
             'vulputate': 1,
             'posuere': 1,
             'quis.': 1,
             'Praesent': 1,
             'ut': 1,
             'lorem': 1,
             'nec': 1,
             'metus': 1,
             'finibus': 1,
             'tincidunt.': 1,
             'Donec': 1,
             'est': 1,
             'nunc,': 1,
             'varius': 2,
             'vel': 1,
             'lobortis': 1,
             'nec,': 1,
             'viverra': 1,
             'ac': 1,
             'sapien.': 1,
             'Quisque': 1,
             'blandit': 1,
             'in': 1,
             'massa': 2,
             'porttitor': 1,
             'faucibus.': 1,
             'Orci': 1,
             'natoque': 1,
             'penatibus': 1,
             'et': 1,
             'magnis': 1,
             'dis': 1,
             'parturient': 1,
             'montes,': 1,
             'nascetur': 1,
             'ridiculus': 1,
             'mus.': 1,
             'Vivamus': 1,
             'auctor': 1,
             'mi': 1,
             'quis': 1,
             'suscipit': 1,
             'pharetra.': 1})

In [117]:
def count_words1(s):
    out = defaultdict(lambda : 0)
    for word in s.split():
        out[word] += 1
    return out

def count_words2(s):
    out = {}
    for word in s.split():
        if word in out:
            out[word] += 1
        else:
            out[word] = 1
    return out

In [118]:
%timeit count_words1(s)

22.3 µs ± 952 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [119]:
%timeit count_words2(s)

13.3 µs ± 260 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [120]:
from functools import reduce

In [122]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [124]:
((((1+2)+3)+4)+5)

15

In [126]:
d = [2, 4, 7, 3]

print(reduce(lambda x, y: x + y, d))
print("With an initial value:",reduce(lambda x, y: x + y, d, 6))

16
With an initial value: 22

In [127]:
numbers = [11,3,9,12,4,15,66]

def find_max(a,b):
    if a > b:
        return a
    else:
        return b

reduce(find_max,numbers)

66

In [129]:
import itertools

In [131]:
list_odd = [1, 3, 5, 7]
list_even = [2, 4, 6, 8]

numbers = list(itertools.chain(list_odd, list_even))

print(numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [132]:
list(itertools.chain(list_odd, list_even, list_even, list_even))

[1, 3, 5, 7, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [135]:
A = [1,1,3,3,3]

list(itertools.combinations(A,4))

[(1, 1, 3, 3), (1, 1, 3, 3), (1, 1, 3, 3), (1, 3, 3, 3), (1, 3, 3, 3)]

In [137]:
letters ="abcdef"

[' '.join(i) for i in itertools.combinations(letters, 3)]

['a b c',
 'a b d',
 'a b e',
 'a b f',
 'a c d',
 'a c e',
 'a c f',
 'a d e',
 'a d f',
 'a e f',
 'b c d',
 'b c e',
 'b c f',
 'b d e',
 'b d f',
 'b e f',
 'c d e',
 'c d f',
 'c e f',
 'd e f']

In [138]:
list(itertools.combinations(letters, 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'f')]

In [139]:
letters

'abcdef'

In [140]:
list(itertools.combinations_with_replacement(letters, 2))

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'b'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'c'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'd'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'e'),
 ('e', 'f'),
 ('f', 'f')]

In [141]:
list(itertools.permutations(letters,2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'a'),
 ('e', 'b'),
 ('e', 'c'),
 ('e', 'd'),
 ('e', 'f'),
 ('f', 'a'),
 ('f', 'b'),
 ('f', 'c'),
 ('f', 'd'),
 ('f', 'e')]

In [142]:
list(itertools.permutations('XYZ'))

[('X', 'Y', 'Z'),
 ('X', 'Z', 'Y'),
 ('Y', 'X', 'Z'),
 ('Y', 'Z', 'X'),
 ('Z', 'X', 'Y'),
 ('Z', 'Y', 'X')]

In [144]:
list(itertools.permutations(range(5), 2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [145]:
d = [1,1,4,1,2,41,1,2,2,41]
d.sort()
d

[1, 1, 1, 1, 2, 2, 2, 4, 41, 41]

In [146]:
for i,k in itertools.groupby(d):
    print(i,k)

1 <itertools._grouper object at 0x7fe8c925e048>
2 <itertools._grouper object at 0x7fe8c925e9e8>
4 <itertools._grouper object at 0x7fe8c925e438>
41 <itertools._grouper object at 0x7fe8c925ecc0>

In [148]:
for i,k in itertools.groupby(d):
    print(i,list(k))

1 [1, 1, 1, 1]
2 [2, 2, 2]
4 [4]
41 [41, 41]

In [149]:
for i,k in itertools.groupby(d):
    print(i,len(list(k)))

1 4
2 3
4 1
41 2

In [150]:
L = [("a", 1), ("a", 2), ("b", 3), ("b", 4)]

key_func = lambda x: x[0]

for key, group in itertools.groupby(L, key_func):
    print(key, ":", list(group))

a : [('a', 1), ('a', 2)]
b : [('b', 3), ('b', 4)]

In [151]:
animal_list = [
    ("Animal", "cat"), 
    ("Animal", "dog"), 
    ("Bird", "peacock"), 
    ("Bird", "pigeon")
]
  
for key, group in itertools.groupby(animal_list, lambda x : x[0]):
    print(key,":", list(group))

Animal : [('Animal', 'cat'), ('Animal', 'dog')]
Bird : [('Bird', 'peacock'), ('Bird', 'pigeon')]

In [153]:
employees = [{'name': 'Alan', 'age': 34},
         {'name': 'Catherine', 'age': 34},
         {'name': 'Betsy', 'age': 29},
        {'name': 'David', 'age': 33}]

grouped_data = itertools.groupby(employees, key=lambda x: x['age'])

for key, group in grouped_data:
     print(key,":", list(group))

34 : [{'name': 'Alan', 'age': 34}, {'name': 'Catherine', 'age': 34}]
29 : [{'name': 'Betsy', 'age': 29}]
33 : [{'name': 'David', 'age': 33}]

In [155]:
# Generate a random user purchase count data
purchase_count = list(zip(
    rand_list(30,"randint",13412,13420),
    map(int,rand_list(30,"expovariate",0.05))
))
purchase_count

[(13420, 9),
 (13415, 8),
 (13420, 12),
 (13414, 19),
 (13415, 16),
 (13415, 13),
 (13415, 1),
 (13414, 29),
 (13413, 36),
 (13416, 2),
 (13416, 12),
 (13413, 4),
 (13415, 36),
 (13415, 15),
 (13412, 26),
 (13416, 49),
 (13417, 25),
 (13417, 4),
 (13413, 8),
 (13415, 46),
 (13420, 2),
 (13416, 23),
 (13412, 42),
 (13413, 3),
 (13416, 40),
 (13413, 20),
 (13420, 7),
 (13420, 6),
 (13418, 53),
 (13415, 39)]

In [156]:
grouper = itertools.groupby(purchase_count, lambda x : x[0])

def sum_group(g):
    return sum(map(lambda x: x[1],group))

for key, group in grouper:
    print(key,sum_group(group))

13420 9
13415 8
13420 12
13414 19
13415 30
13414 29
13413 36
13416 14
13413 4
13415 51
13412 26
13416 49
13417 29
13413 8
13415 46
13420 2
13416 23
13412 42
13413 3
13416 40
13413 20
13420 13
13418 53
13415 39

In [157]:
l1 = ['a', 'b', 'c']
l2 = ['X', 'Y', 'Z']

list(itertools.product(l1, l2)) # simply a cartesian product of two sets (in math)

[('a', 'X'),
 ('a', 'Y'),
 ('a', 'Z'),
 ('b', 'X'),
 ('b', 'Y'),
 ('b', 'Z'),
 ('c', 'X'),
 ('c', 'Y'),
 ('c', 'Z')]

In [158]:
t = ('AA', 'BB')
d = {'colour': 'white', 'size': 'small'}
r = range(2)

list(itertools.product(t, d, r))

[('AA', 'colour', 0),
 ('AA', 'colour', 1),
 ('AA', 'size', 0),
 ('AA', 'size', 1),
 ('BB', 'colour', 0),
 ('BB', 'colour', 1),
 ('BB', 'size', 0),
 ('BB', 'size', 1)]

In [165]:
import datetime

print("Today:",datetime.datetime.today())
print("Current date and time:",datetime.datetime.now())
print("Current UTC date and time:",datetime.datetime.utcnow())

Today: 2021-05-23 13:58:04.128572
Current date and time: 2021-05-23 13:58:04.128672
Current UTC date and time: 2021-05-23 10:58:04.128742

In [168]:
a = datetime.datetime.now()
a

datetime.datetime(2021, 5, 23, 13, 58, 12, 5859)

In [167]:
a.time()

datetime.time(13, 58, 4, 812113)

In [170]:
print(datetime.datetime(2021,5,20))
print(datetime.datetime(2021, 5, 20,0,13,59))
print(datetime.date(2021,5,20))

2021-05-20 00:00:00
2021-05-20 00:13:59
2021-05-20

In [171]:
t0 = datetime.datetime.now()
print(t0)

2021-05-23 13:58:53.816969

In [177]:
t1 = t0 + datetime.timedelta(hours=1)
print(t1)

2021-05-23 14:58:53.816969

In [178]:
t2 = t0 + datetime.timedelta(days=1)
print(t2)

2021-05-24 13:58:53.816969

In [179]:
import time

In [181]:
# Epoch time as seconds
print(time.time())

1621767670.7317958

In [184]:
n_sec = 3
time.sleep(n_sec)
print("I waited ",n_sec,"seconds.")

I waited  3 seconds.

### File Input/Output

We can read from and write to files using "file handles" in python. This is the most basic type of file IO.

* `open()`
* `close()`

In [185]:
import csv

In [186]:
col2 = rand_list(4,"randint",1000,1500)
col3 = rand_list(4,"gauss",700,300)
t = ["2020Q1","2020Q2","2020Q3","2020Q4"]

data = list(zip(t,col2,col3))
data

[('2020Q1', 1009, 771.2514520520497),
 ('2020Q2', 1443, 603.0937778695551),
 ('2020Q3', 1046, 289.0906836583134),
 ('2020Q4', 1140, 957.1910938706981)]

In [187]:
f = open("sales.csv",mode="w")
writer = csv.writer(f)
writer.writerows(data)
f.close()

In [188]:
f = open("sales.csv",mode="r")
print(f)
print(type(f))

<_io.TextIOWrapper name='sales.csv' mode='r' encoding='UTF-8'>
<class '_io.TextIOWrapper'>

In [189]:
rd = csv.reader(f)
for line in rd:
    print(line)
f.close()

['2020Q1', '1009', '771.2514520520497']
['2020Q2', '1443', '603.0937778695551']
['2020Q3', '1046', '289.0906836583134']
['2020Q4', '1140', '957.1910938706981']

### `with` statement

The safest way to read a file. Could be used on different cases than file IO too.

1. `with` a_function `as` my_variable_name (call `__enter__` method)
2. perform what is specified
3. if computation is finished, exit (call `__exit__` method)

In [190]:
with open("sales.csv",mode="w") as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [191]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    for line in reader:
        print(line)

['2020Q1', '1009', '771.2514520520497']
['2020Q2', '1443', '603.0937778695551']
['2020Q3', '1046', '289.0906836583134']
['2020Q4', '1140', '957.1910938706981']

In [192]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    content = list(map(list,reader))

content

[['2020Q1', '1009', '771.2514520520497'],
 ['2020Q2', '1443', '603.0937778695551'],
 ['2020Q3', '1046', '289.0906836583134'],
 ['2020Q4', '1140', '957.1910938706981']]

In [193]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    content = map(list,reader) # <----- see the difference here

list(content) # <--- now try to call it

ValueError: I/O operation on closed file.

In [197]:
import json

In [194]:
import urllib

def request_random_user():
    url = "https://jsonplaceholder.typicode.com/users"
    response = urllib.request.urlopen(url)
    return response.read().decode()

raw_content = request_random_user()
raw_content

'[\n  {\n    "id": 1,\n    "name": "Leanne Graham",\n    "username": "Bret",\n    "email": "Sincere@april.biz",\n    "address": {\n      "street": "Kulas Light",\n      "suite": "Apt. 556",\n      "city": "Gwenborough",\n      "zipcode": "92998-3874",\n      "geo": {\n        "lat": "-37.3159",\n        "lng": "81.1496"\n      }\n    },\n    "phone": "1-770-736-8031 x56442",\n    "website": "hildegard.org",\n    "company": {\n      "name": "Romaguera-Crona",\n      "catchPhrase": "Multi-layered client-server neural-net",\n      "bs": "harness real-time e-markets"\n    }\n  },\n  {\n    "id": 2,\n    "name": "Ervin Howell",\n    "username": "Antonette",\n    "email": "Shanna@melissa.tv",\n    "address": {\n      "street": "Victor Plains",\n      "suite": "Suite 879",\n      "city": "Wisokyburgh",\n      "zipcode": "90566-7771",\n      "geo": {\n        "lat": "-43.9509",\n        "lng": "-34.4618"\n      }\n    },\n    "phone": "010-692-6593 x09125",\n    "website": "anastasia.net",\n    "company": {\n      "name": "Deckow-Crist",\n      "catchPhrase": "Proactive didactic contingency",\n      "bs": "synergize scalable supply-chains"\n    }\n  },\n  {\n    "id": 3,\n    "name": "Clementine Bauch",\n    "username": "Samantha",\n    "email": "Nathan@yesenia.net",\n    "address": {\n      "street": "Douglas Extension",\n      "suite": "Suite 847",\n      "city": "McKenziehaven",\n      "zipcode": "59590-4157",\n      "geo": {\n        "lat": "-68.6102",\n        "lng": "-47.0653"\n      }\n    },\n    "phone": "1-463-123-4447",\n    "website": "ramiro.info",\n    "company": {\n      "name": "Romaguera-Jacobson",\n      "catchPhrase": "Face to face bifurcated interface",\n      "bs": "e-enable strategic applications"\n    }\n  },\n  {\n    "id": 4,\n    "name": "Patricia Lebsack",\n    "username": "Karianne",\n    "email": "Julianne.OConner@kory.org",\n    "address": {\n      "street": "Hoeger Mall",\n      "suite": "Apt. 692",\n      "city": "South Elvis",\n      "zipcode": "53919-4257",\n      "geo": {\n        "lat": "29.4572",\n        "lng": "-164.2990"\n      }\n    },\n    "phone": "493-170-9623 x156",\n    "website": "kale.biz",\n    "company": {\n      "name": "Robel-Corkery",\n      "catchPhrase": "Multi-tiered zero tolerance productivity",\n      "bs": "transition cutting-edge web services"\n    }\n  },\n  {\n    "id": 5,\n    "name": "Chelsey Dietrich",\n    "username": "Kamren",\n    "email": "Lucio_Hettinger@annie.ca",\n    "address": {\n      "street": "Skiles Walks",\n      "suite": "Suite 351",\n      "city": "Roscoeview",\n      "zipcode": "33263",\n      "geo": {\n        "lat": "-31.8129",\n        "lng": "62.5342"\n      }\n    },\n    "phone": "(254)954-1289",\n    "website": "demarco.info",\n    "company": {\n      "name": "Keebler LLC",\n      "catchPhrase": "User-centric fault-tolerant solution",\n      "bs": "revolutionize end-to-end systems"\n    }\n  },\n  {\n    "id": 6,\n    "name": "Mrs. Dennis Schulist",\n    "username": "Leopoldo_Corkery",\n    "email": "Karley_Dach@jasper.info",\n    "address": {\n      "street": "Norberto Crossing",\n      "suite": "Apt. 950",\n      "city": "South Christy",\n      "zipcode": "23505-1337",\n      "geo": {\n        "lat": "-71.4197",\n        "lng": "71.7478"\n      }\n    },\n    "phone": "1-477-935-8478 x6430",\n    "website": "ola.org",\n    "company": {\n      "name": "Considine-Lockman",\n      "catchPhrase": "Synchronised bottom-line interface",\n      "bs": "e-enable innovative applications"\n    }\n  },\n  {\n    "id": 7,\n    "name": "Kurtis Weissnat",\n    "username": "Elwyn.Skiles",\n    "email": "Telly.Hoeger@billy.biz",\n    "address": {\n      "street": "Rex Trail",\n      "suite": "Suite 280",\n      "city": "Howemouth",\n      "zipcode": "58804-1099",\n      "geo": {\n        "lat": "24.8918",\n        "lng": "21.8984"\n      }\n    },\n    "phone": "210.067.6132",\n    "website": "elvis.io",\n    "company": {\n      "name": "Johns Group",\n      "catchPhrase": "Configurable multimedia task-force",\n      "bs": "generate enterprise e-tailers"\n    }\n  },\n  {\n    "id": 8,\n    "name": "Nicholas Runolfsdottir V",\n    "username": "Maxime_Nienow",\n    "email": "Sherwood@rosamond.me",\n    "address": {\n      "street": "Ellsworth Summit",\n      "suite": "Suite 729",\n      "city": "Aliyaview",\n      "zipcode": "45169",\n      "geo": {\n        "lat": "-14.3990",\n        "lng": "-120.7677"\n      }\n    },\n    "phone": "586.493.6943 x140",\n    "website": "jacynthe.com",\n    "company": {\n      "name": "Abernathy Group",\n      "catchPhrase": "Implemented secondary concept",\n      "bs": "e-enable extensible e-tailers"\n    }\n  },\n  {\n    "id": 9,\n    "name": "Glenna Reichert",\n    "username": "Delphine",\n    "email": "Chaim_McDermott@dana.io",\n    "address": {\n      "street": "Dayna Park",\n      "suite": "Suite 449",\n      "city": "Bartholomebury",\n      "zipcode": "76495-3109",\n      "geo": {\n        "lat": "24.6463",\n        "lng": "-168.8889"\n      }\n    },\n    "phone": "(775)976-6794 x41206",\n    "website": "conrad.com",\n    "company": {\n      "name": "Yost and Sons",\n      "catchPhrase": "Switchable contextually-based project",\n      "bs": "aggregate real-time technologies"\n    }\n  },\n  {\n    "id": 10,\n    "name": "Clementina DuBuque",\n    "username": "Moriah.Stanton",\n    "email": "Rey.Padberg@karina.biz",\n    "address": {\n      "street": "Kattie Turnpike",\n      "suite": "Suite 198",\n      "city": "Lebsackbury",\n      "zipcode": "31428-2261",\n      "geo": {\n        "lat": "-38.2386",\n        "lng": "57.2232"\n      }\n    },\n    "phone": "024-648-3804",\n    "website": "ambrose.net",\n    "company": {\n      "name": "Hoeger LLC",\n      "catchPhrase": "Centralized empowering task-force",\n      "bs": "target end-to-end models"\n    }\n  }\n]'

In [195]:
print(raw_content)

[
  {
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catchPhrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },
  {
    "id": 2,
    "name": "Ervin Howell",
    "username": "Antonette",
    "email": "Shanna@melissa.tv",
    "address": {
      "street": "Victor Plains",
      "suite": "Suite 879",
      "city": "Wisokyburgh",
      "zipcode": "90566-7771",
      "geo": {
        "lat": "-43.9509",
        "lng": "-34.4618"
      }
    },
    "phone": "010-692-6593 x09125",
    "website": "anastasia.net",
    "company": {
      "name": "Deckow-Crist",
      "catchPhrase": "Proactive didactic contingency",
      "bs": "synergize scalable supply-chains"
    }
  },
  {
    "id": 3,
    "name": "Clementine Bauch",
    "username": "Samantha",
    "email": "Nathan@yesenia.net",
    "address": {
      "street": "Douglas Extension",
      "suite": "Suite 847",
      "city": "McKenziehaven",
      "zipcode": "59590-4157",
      "geo": {
        "lat": "-68.6102",
        "lng": "-47.0653"
      }
    },
    "phone": "1-463-123-4447",
    "website": "ramiro.info",
    "company": {
      "name": "Romaguera-Jacobson",
      "catchPhrase": "Face to face bifurcated interface",
      "bs": "e-enable strategic applications"
    }
  },
  {
    "id": 4,
    "name": "Patricia Lebsack",
    "username": "Karianne",
    "email": "Julianne.OConner@kory.org",
    "address": {
      "street": "Hoeger Mall",
      "suite": "Apt. 692",
      "city": "South Elvis",
      "zipcode": "53919-4257",
      "geo": {
        "lat": "29.4572",
        "lng": "-164.2990"
      }
    },
    "phone": "493-170-9623 x156",
    "website": "kale.biz",
    "company": {
      "name": "Robel-Corkery",
      "catchPhrase": "Multi-tiered zero tolerance productivity",
      "bs": "transition cutting-edge web services"
    }
  },
  {
    "id": 5,
    "name": "Chelsey Dietrich",
    "username": "Kamren",
    "email": "Lucio_Hettinger@annie.ca",
    "address": {
      "street": "Skiles Walks",
      "suite": "Suite 351",
      "city": "Roscoeview",
      "zipcode": "33263",
      "geo": {
        "lat": "-31.8129",
        "lng": "62.5342"
      }
    },
    "phone": "(254)954-1289",
    "website": "demarco.info",
    "company": {
      "name": "Keebler LLC",
      "catchPhrase": "User-centric fault-tolerant solution",
      "bs": "revolutionize end-to-end systems"
    }
  },
  {
    "id": 6,
    "name": "Mrs. Dennis Schulist",
    "username": "Leopoldo_Corkery",
    "email": "Karley_Dach@jasper.info",
    "address": {
      "street": "Norberto Crossing",
      "suite": "Apt. 950",
      "city": "South Christy",
      "zipcode": "23505-1337",
      "geo": {
        "lat": "-71.4197",
        "lng": "71.7478"
      }
    },
    "phone": "1-477-935-8478 x6430",
    "website": "ola.org",
    "company": {
      "name": "Considine-Lockman",
      "catchPhrase": "Synchronised bottom-line interface",
      "bs": "e-enable innovative applications"
    }
  },
  {
    "id": 7,
    "name": "Kurtis Weissnat",
    "username": "Elwyn.Skiles",
    "email": "Telly.Hoeger@billy.biz",
    "address": {
      "street": "Rex Trail",
      "suite": "Suite 280",
      "city": "Howemouth",
      "zipcode": "58804-1099",
      "geo": {
        "lat": "24.8918",
        "lng": "21.8984"
      }
    },
    "phone": "210.067.6132",
    "website": "elvis.io",
    "company": {
      "name": "Johns Group",
      "catchPhrase": "Configurable multimedia task-force",
      "bs": "generate enterprise e-tailers"
    }
  },
  {
    "id": 8,
    "name": "Nicholas Runolfsdottir V",
    "username": "Maxime_Nienow",
    "email": "Sherwood@rosamond.me",
    "address": {
      "street": "Ellsworth Summit",
      "suite": "Suite 729",
      "city": "Aliyaview",
      "zipcode": "45169",
      "geo": {
        "lat": "-14.3990",
        "lng": "-120.7677"
      }
    },
    "phone": "586.493.6943 x140",
    "website": "jacynthe.com",
    "company": {
      "name": "Abernathy Group",
      "catchPhrase": "Implemented secondary concept",
      "bs": "e-enable extensible e-tailers"
    }
  },
  {
    "id": 9,
    "name": "Glenna Reichert",
    "username": "Delphine",
    "email": "Chaim_McDermott@dana.io",
    "address": {
      "street": "Dayna Park",
      "suite": "Suite 449",
      "city": "Bartholomebury",
      "zipcode": "76495-3109",
      "geo": {
        "lat": "24.6463",
        "lng": "-168.8889"
      }
    },
    "phone": "(775)976-6794 x41206",
    "website": "conrad.com",
    "company": {
      "name": "Yost and Sons",
      "catchPhrase": "Switchable contextually-based project",
      "bs": "aggregate real-time technologies"
    }
  },
  {
    "id": 10,
    "name": "Clementina DuBuque",
    "username": "Moriah.Stanton",
    "email": "Rey.Padberg@karina.biz",
    "address": {
      "street": "Kattie Turnpike",
      "suite": "Suite 198",
      "city": "Lebsackbury",
      "zipcode": "31428-2261",
      "geo": {
        "lat": "-38.2386",
        "lng": "57.2232"
      }
    },
    "phone": "024-648-3804",
    "website": "ambrose.net",
    "company": {
      "name": "Hoeger LLC",
      "catchPhrase": "Centralized empowering task-force",
      "bs": "target end-to-end models"
    }
  }
]

In [198]:
content = json.loads(raw_content) # `eval()` would also do it for this case
content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [199]:
type(content)

list

In [200]:
type(content[0])

dict

In [201]:
with open("users.json","w") as f:
    json.dump(content,f)

In [202]:
with open("users.json","r") as f:
    written_content = json.load(f)
written_content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [203]:
# get what would have written to file if were to use `json.dump`
raw = json.dumps(written_content)
raw

'[{"id": 1, "name": "Leanne Graham", "username": "Bret", "email": "Sincere@april.biz", "address": {"street": "Kulas Light", "suite": "Apt. 556", "city": "Gwenborough", "zipcode": "92998-3874", "geo": {"lat": "-37.3159", "lng": "81.1496"}}, "phone": "1-770-736-8031 x56442", "website": "hildegard.org", "company": {"name": "Romaguera-Crona", "catchPhrase": "Multi-layered client-server neural-net", "bs": "harness real-time e-markets"}}, {"id": 2, "name": "Ervin Howell", "username": "Antonette", "email": "Shanna@melissa.tv", "address": {"street": "Victor Plains", "suite": "Suite 879", "city": "Wisokyburgh", "zipcode": "90566-7771", "geo": {"lat": "-43.9509", "lng": "-34.4618"}}, "phone": "010-692-6593 x09125", "website": "anastasia.net", "company": {"name": "Deckow-Crist", "catchPhrase": "Proactive didactic contingency", "bs": "synergize scalable supply-chains"}}, {"id": 3, "name": "Clementine Bauch", "username": "Samantha", "email": "Nathan@yesenia.net", "address": {"street": "Douglas Extension", "suite": "Suite 847", "city": "McKenziehaven", "zipcode": "59590-4157", "geo": {"lat": "-68.6102", "lng": "-47.0653"}}, "phone": "1-463-123-4447", "website": "ramiro.info", "company": {"name": "Romaguera-Jacobson", "catchPhrase": "Face to face bifurcated interface", "bs": "e-enable strategic applications"}}, {"id": 4, "name": "Patricia Lebsack", "username": "Karianne", "email": "Julianne.OConner@kory.org", "address": {"street": "Hoeger Mall", "suite": "Apt. 692", "city": "South Elvis", "zipcode": "53919-4257", "geo": {"lat": "29.4572", "lng": "-164.2990"}}, "phone": "493-170-9623 x156", "website": "kale.biz", "company": {"name": "Robel-Corkery", "catchPhrase": "Multi-tiered zero tolerance productivity", "bs": "transition cutting-edge web services"}}, {"id": 5, "name": "Chelsey Dietrich", "username": "Kamren", "email": "Lucio_Hettinger@annie.ca", "address": {"street": "Skiles Walks", "suite": "Suite 351", "city": "Roscoeview", "zipcode": "33263", "geo": {"lat": "-31.8129", "lng": "62.5342"}}, "phone": "(254)954-1289", "website": "demarco.info", "company": {"name": "Keebler LLC", "catchPhrase": "User-centric fault-tolerant solution", "bs": "revolutionize end-to-end systems"}}, {"id": 6, "name": "Mrs. Dennis Schulist", "username": "Leopoldo_Corkery", "email": "Karley_Dach@jasper.info", "address": {"street": "Norberto Crossing", "suite": "Apt. 950", "city": "South Christy", "zipcode": "23505-1337", "geo": {"lat": "-71.4197", "lng": "71.7478"}}, "phone": "1-477-935-8478 x6430", "website": "ola.org", "company": {"name": "Considine-Lockman", "catchPhrase": "Synchronised bottom-line interface", "bs": "e-enable innovative applications"}}, {"id": 7, "name": "Kurtis Weissnat", "username": "Elwyn.Skiles", "email": "Telly.Hoeger@billy.biz", "address": {"street": "Rex Trail", "suite": "Suite 280", "city": "Howemouth", "zipcode": "58804-1099", "geo": {"lat": "24.8918", "lng": "21.8984"}}, "phone": "210.067.6132", "website": "elvis.io", "company": {"name": "Johns Group", "catchPhrase": "Configurable multimedia task-force", "bs": "generate enterprise e-tailers"}}, {"id": 8, "name": "Nicholas Runolfsdottir V", "username": "Maxime_Nienow", "email": "Sherwood@rosamond.me", "address": {"street": "Ellsworth Summit", "suite": "Suite 729", "city": "Aliyaview", "zipcode": "45169", "geo": {"lat": "-14.3990", "lng": "-120.7677"}}, "phone": "586.493.6943 x140", "website": "jacynthe.com", "company": {"name": "Abernathy Group", "catchPhrase": "Implemented secondary concept", "bs": "e-enable extensible e-tailers"}}, {"id": 9, "name": "Glenna Reichert", "username": "Delphine", "email": "Chaim_McDermott@dana.io", "address": {"street": "Dayna Park", "suite": "Suite 449", "city": "Bartholomebury", "zipcode": "76495-3109", "geo": {"lat": "24.6463", "lng": "-168.8889"}}, "phone": "(775)976-6794 x41206", "website": "conrad.com", "company": {"name": "Yost and Sons", "catchPhrase": "Switchable contextually-based project", "bs": "aggregate real-time technologies"}}, {"id": 10, "name": "Clementina DuBuque", "username": "Moriah.Stanton", "email": "Rey.Padberg@karina.biz", "address": {"street": "Kattie Turnpike", "suite": "Suite 198", "city": "Lebsackbury", "zipcode": "31428-2261", "geo": {"lat": "-38.2386", "lng": "57.2232"}}, "phone": "024-648-3804", "website": "ambrose.net", "company": {"name": "Hoeger LLC", "catchPhrase": "Centralized empowering task-force", "bs": "target end-to-end models"}}]'

In [204]:
# parse string as json file
json.loads(raw)

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [208]:
import pickle

In [209]:
person = namedtuple("Person","name,age")

a = 1,2,3,[4,5]
data = {
    "person1":[{"a","b","c"},("Lorem","ipsum",[29,range(10)])],
    "person1":[a,{123,234,345,456}],
    "others": map(str,a),
    "fun":rand_list
}

In [210]:
data

{'person1': [(1, 2, 3, [4, 5]), {123, 234, 345, 456}],
 'others': <map at 0x7fe8c95e7940>,
 'fun': <function __main__.rand_list(n, distribution='uniform', *args, **kwargs)>}

In [211]:
with open("complex_data.pickle",mode="wb") as f:
    pickle.dump(data,f)

In [212]:
with open("complex_data.pickle",mode="rb") as f:
    written_data = pickle.load(f)
written_data

{'person1': [(1, 2, 3, [4, 5]), {123, 234, 345, 456}],
 'others': <map at 0x7fe8c95e7860>,
 'fun': <function __main__.rand_list(n, distribution='uniform', *args, **kwargs)>}

In [213]:
written_data['others']

In [214]:
list(written_data['others'])

['1', '2', '3', '[4, 5]']

In [215]:
written_data["fun"]

In [216]:
myfun = written_data["fun"]
myfun(10,"randint",0,100)

[85, 59, 43, 15, 16, 59, 85, 17, 100, 79]

## Section 2: Object-oriented Programming

Object Oriented programming (OOP) is a programming paradigm that relies on the concept of classes and objects. It is used to structure a software program into simple, reusable pieces of code blueprints (usually called classes), which are used to create individual instances of objects.

### An object ...
is a software bundle of related state and behavior. Software objects are often used to model the real-world objects that you find in everyday life.

### A class ...
is a blueprint or prototype from which objects are created.

In [ ]:
# the basic syntax
class MyClass:
    def __init__(self,arg1,arg2):
        self.arg1 = arg1
        self.arg2 = arg2
    
    def method1(self):
        self.arg1 * 2
        pass
    
    def method2(self,arguments):
        pass

### The role of `self`

The `self` is used to represent the instance of the class. With this keyword, you can access the attributes and methods of the class in python. It binds the attributes with the given arguments.

In [218]:
class Pet:
    def __init__(self,name,age,breed=None):
        self.name = name
        self.age = age
        self.breed = breed
        
my_cat = Pet("Fluffy",4)

print(my_cat.name)
print(my_cat.age)
print(my_cat.breed)

Fluffy
4
None

In [220]:
class Pet:
    def __init__(self,name,age,breed=None,height=None,weight=None):
        self.name = name
        self.age = age
        self.breed = breed
        self.height = height
        self.weight = weight
        
    def describe(self):
        out = {
            "Name":self.name,
            "Age":self.age,
        }
        
        if self.breed is not None:
            out["Breed"] = self.breed
        
        return out
    
    def display_info(self):
        d = self.describe()
        d = map(lambda s: ": ".join(map(str,s)),d.items())
        print("\n".join(d))
    
    def is_valid(self):
        if self.height is not None and self.weight is not None:
            return 0 < self.height < 40 and 0.2 < self.weight < 20
        else:
            return None


my_cat = Pet("Kitty",4,"Exotic Shorthair",27,6)
my_cat.is_valid()

True

In [221]:
my_cat.describe()

{'Name': 'Kitty', 'Age': 4, 'Breed': 'Exotic Shorthair'}

In [222]:
my_cat.display_info()

Name: Kitty
Age: 4
Breed: Exotic Shorthair

### Leading underscores `_` and `__`

A single underscore `_` is a weak "internal use" indicator and should be treated as a non-public part of the API. It should be considered an implementation detail and subject to change without notice.

On the other hand, double underscore `__` prefix makes an attribute private.

**A warning in the [docs](https://docs.python.org/3/tutorial/classes.html#private-variables):**

> it still is possible to access or modify a variable that is considered private.

In [223]:
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    def _method(self):
        print("Method name with single leading underscore.")
    
    def __method(self):
        print("Method name with double leading underscore.")
    
    def method(self):
        self.__method()

In [225]:
p = Pet("","")

In [226]:
p._method()

Method name with single leading underscore.

In [228]:
p.__method()

AttributeError: 'Pet' object has no attribute '__method'

In [229]:
p.method()

Method name with double leading underscore.

### Magic Methods

In [252]:
class Dataset:
    def __init__(self,d):
        self.d = d
    
    def __repr__(self):
        out = ""
        for row in self.d:
            out += ",".join(map(lambda s: str(s).rjust(4),row)) + "\n"
        
        return out
    
    def __str__(self):
        return self.__repr__()
    
    def __add__(self,other):
        return self.d + other.d
    
    def __gt__(self,other):
        if isinstance(other,(list,tuple,dict,set)):
            return len(self.d) > len(other)
        else:
            return len(self.d) > len(other.d)

In [253]:
d = [rand_list(5,"randint",0,100) for _ in range(12)]
d

[[48, 95, 10, 59, 66],
 [34, 68, 47, 40, 92],
 [62, 72, 9, 70, 43],
 [3, 23, 53, 52, 94],
 [92, 48, 93, 57, 66],
 [36, 39, 97, 98, 47],
 [65, 61, 28, 73, 60],
 [43, 84, 48, 10, 35],
 [40, 30, 25, 98, 9],
 [27, 90, 70, 43, 73],
 [89, 54, 92, 4, 61],
 [96, 23, 57, 42, 7]]

In [256]:
ds = Dataset(d)
ds

  48,  95,  10,  59,  66
  34,  68,  47,  40,  92
  62,  72,   9,  70,  43
   3,  23,  53,  52,  94
  92,  48,  93,  57,  66
  36,  39,  97,  98,  47
  65,  61,  28,  73,  60
  43,  84,  48,  10,  35
  40,  30,  25,  98,   9
  27,  90,  70,  43,  73
  89,  54,  92,   4,  61
  96,  23,  57,  42,   7

In [257]:
ds + ds

[[48, 95, 10, 59, 66],
 [34, 68, 47, 40, 92],
 [62, 72, 9, 70, 43],
 [3, 23, 53, 52, 94],
 [92, 48, 93, 57, 66],
 [36, 39, 97, 98, 47],
 [65, 61, 28, 73, 60],
 [43, 84, 48, 10, 35],
 [40, 30, 25, 98, 9],
 [27, 90, 70, 43, 73],
 [89, 54, 92, 4, 61],
 [96, 23, 57, 42, 7],
 [48, 95, 10, 59, 66],
 [34, 68, 47, 40, 92],
 [62, 72, 9, 70, 43],
 [3, 23, 53, 52, 94],
 [92, 48, 93, 57, 66],
 [36, 39, 97, 98, 47],
 [65, 61, 28, 73, 60],
 [43, 84, 48, 10, 35],
 [40, 30, 25, 98, 9],
 [27, 90, 70, 43, 73],
 [89, 54, 92, 4, 61],
 [96, 23, 57, 42, 7]]

In [258]:
k = [rand_list(17,"randint",0,100) for _ in range(12)]
ks = Dataset(k)

ds > ks

False

In [260]:
class Array:
    def __init__(self,d):
        self.d = d
    
    def __repr__(self):
        out = ""
        for row in self.d:
            out += ",".join(map(lambda s: str(s).rjust(4),row)) + "\n"
        
        return out
    
    def __str__(self):
        return self.__repr__()
    
    def __add__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(sum,zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __sub__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(lambda x: x[0] - x[1],zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __mul__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(lambda x: x[0] * x[1],zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __truediv__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(lambda x: x[0] / x[1],zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __gt__(self,other):
        return self.sum_elements() > other.sum_elements()
    
    def __ge__(self,other):
        return self.sum_elements() >= other.sum_elements()
    
    def sum_elements(self):
        return sum(map(sum,self.d))

In [264]:
d = [rand_list(17,"randint",20,100) for _ in range(12)]
m = Array(d)
m

  29,  57,  83,  31,  33,  47,  97,  62,  70,  79,  98,  75,  45,  30,  57,  34,  50
  98,  49,  56,  29,  37,  25,  74,  68,  74,  39,  75,  56,  67,  71,  96,  63,  94
  46,  83,  43,  78,  53,  69,  60,  62,  27,  70,  67,  95,  54,  53,  70,  85,  40
  51,  34,  69,  25,  37,  88,  51,  41,  81,  63,  95,  49,  81,  63,  53,  83,  55
  48,  77,  63,  80,  94,  33,  54,  98,  35,  93,  48,  87,  96,  50,  26,  94,  43
  49,  49,  73,  29,  81,  21,  92,  89,  88,  77,  61,  37,  52,  89,  26,  62,  65
  51,  61,  20,  72,  52, 100,  55,  67,  47,  83,  25,  93,  55,  98,  38,  38,  52
  35,  34,  74,  81,  87,  90,  60,  41,  51,  92,  49,  80,  97,  21,  94,  21,  47
  94,  74,  78,  64,  23,  39,  76,  29,  58,  36,  91,  90,  61,  72,  51,  73,  38
  51,  54,  33,  21,  61,  87,  28,  27,  80,  52,  97,  21,  28,  99,  31,  42,  70
  40,  71,  54,  98,  43,  88,  66,  27,  61,  88,  56,  21,  37,  67,  21,  74,  48
  57,  36,  28,  69,  65,  47,  95,  37,  46,  96,  86,  98,  69,  90,  24,  92,  63

In [265]:
m.sum_elements()

12329

In [266]:
m + m

[[58,
  114,
  166,
  62,
  66,
  94,
  194,
  124,
  140,
  158,
  196,
  150,
  90,
  60,
  114,
  68,
  100],
 [196,
  98,
  112,
  58,
  74,
  50,
  148,
  136,
  148,
  78,
  150,
  112,
  134,
  142,
  192,
  126,
  188],
 [92,
  166,
  86,
  156,
  106,
  138,
  120,
  124,
  54,
  140,
  134,
  190,
  108,
  106,
  140,
  170,
  80],
 [102,
  68,
  138,
  50,
  74,
  176,
  102,
  82,
  162,
  126,
  190,
  98,
  162,
  126,
  106,
  166,
  110],
 [96,
  154,
  126,
  160,
  188,
  66,
  108,
  196,
  70,
  186,
  96,
  174,
  192,
  100,
  52,
  188,
  86],
 [98,
  98,
  146,
  58,
  162,
  42,
  184,
  178,
  176,
  154,
  122,
  74,
  104,
  178,
  52,
  124,
  130],
 [102,
  122,
  40,
  144,
  104,
  200,
  110,
  134,
  94,
  166,
  50,
  186,
  110,
  196,
  76,
  76,
  104],
 [70,
  68,
  148,
  162,
  174,
  180,
  120,
  82,
  102,
  184,
  98,
  160,
  194,
  42,
  188,
  42,
  94],
 [188,
  148,
  156,
  128,
  46,
  78,
  152,
  58,
  116,
  72,
  182,
  180,
  122,
  144,
  102,
  146,
  76],
 [102, 108, 66, 42, 122, 174, 56, 54, 160, 104, 194, 42, 56, 198, 62, 84, 140],
 [80,
  142,
  108,
  196,
  86,
  176,
  132,
  54,
  122,
  176,
  112,
  42,
  74,
  134,
  42,
  148,
  96],
 [114,
  72,
  56,
  138,
  130,
  94,
  190,
  74,
  92,
  192,
  172,
  196,
  138,
  180,
  48,
  184,
  126]]

In [267]:
m - m

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [268]:
m * m

[[841,
  3249,
  6889,
  961,
  1089,
  2209,
  9409,
  3844,
  4900,
  6241,
  9604,
  5625,
  2025,
  900,
  3249,
  1156,
  2500],
 [9604,
  2401,
  3136,
  841,
  1369,
  625,
  5476,
  4624,
  5476,
  1521,
  5625,
  3136,
  4489,
  5041,
  9216,
  3969,
  8836],
 [2116,
  6889,
  1849,
  6084,
  2809,
  4761,
  3600,
  3844,
  729,
  4900,
  4489,
  9025,
  2916,
  2809,
  4900,
  7225,
  1600],
 [2601,
  1156,
  4761,
  625,
  1369,
  7744,
  2601,
  1681,
  6561,
  3969,
  9025,
  2401,
  6561,
  3969,
  2809,
  6889,
  3025],
 [2304,
  5929,
  3969,
  6400,
  8836,
  1089,
  2916,
  9604,
  1225,
  8649,
  2304,
  7569,
  9216,
  2500,
  676,
  8836,
  1849],
 [2401,
  2401,
  5329,
  841,
  6561,
  441,
  8464,
  7921,
  7744,
  5929,
  3721,
  1369,
  2704,
  7921,
  676,
  3844,
  4225],
 [2601,
  3721,
  400,
  5184,
  2704,
  10000,
  3025,
  4489,
  2209,
  6889,
  625,
  8649,
  3025,
  9604,
  1444,
  1444,
  2704],
 [1225,
  1156,
  5476,
  6561,
  7569,
  8100,
  3600,
  1681,
  2601,
  8464,
  2401,
  6400,
  9409,
  441,
  8836,
  441,
  2209],
 [8836,
  5476,
  6084,
  4096,
  529,
  1521,
  5776,
  841,
  3364,
  1296,
  8281,
  8100,
  3721,
  5184,
  2601,
  5329,
  1444],
 [2601,
  2916,
  1089,
  441,
  3721,
  7569,
  784,
  729,
  6400,
  2704,
  9409,
  441,
  784,
  9801,
  961,
  1764,
  4900],
 [1600,
  5041,
  2916,
  9604,
  1849,
  7744,
  4356,
  729,
  3721,
  7744,
  3136,
  441,
  1369,
  4489,
  441,
  5476,
  2304],
 [3249,
  1296,
  784,
  4761,
  4225,
  2209,
  9025,
  1369,
  2116,
  9216,
  7396,
  9604,
  4761,
  8100,
  576,
  8464,
  3969]]

In [269]:
m / m

[[1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0],
 [1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0,
  1.0]]

In [270]:
m > m

False

In [271]:
m >= m

True

In [272]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

### A word on `closure` and `decorator` concepts

A **closure** is function that returns another function which is defined in it. Thus, it is a function to create another function.

* We must have a nested function (function inside a function).
* The nested function must refer to a value defined in the enclosing function.
* The enclosing function must return the nested function.

A **decorator** is a closure that takes functions (i.e. `callable`) as arguments.

In [273]:
# an example closure
def harbinger(s):
    
    def message():
        print("The message is:")
        print(s)
        
    return message

In [275]:
msg = harbinger("Good news!")
msg

In [276]:
msg()

The message is:
Good news!

In [278]:
# an example decorator
def uppercase(function):
    def wrapper(s):
        func = function(s)
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper

In [279]:
def greetings(name):
    return "Hi " + name

greetings("friend")

'Hi friend'

In [280]:
@uppercase
def greetings(name):
    return "Hi " + name

greetings("friend")

'HI FRIEND'

In [282]:
def size_check(function):
    def wrapper(*args):
        size_1, size_2 = len(args[0]), len(args[1])
        if size_1 != size_2:
            raise ValueError("Sizes do not match.")
        
        return function(*args)
    
    return wrapper

@size_check
def add(a,b):
    out = []
    for row1,row2 in zip(a,b):
        tmp = map(sum,zip(row1,row2))
        out.append(list(tmp))
    return out

In [284]:
a = [rand_list(5,"randint",0,100) for _ in range(12)]
b = [rand_list(5,"randint",0,100) for _ in range(12)]
add(a,b)

[[106, 166, 79, 31, 136],
 [110, 118, 153, 173, 89],
 [70, 26, 43, 114, 128],
 [88, 64, 92, 135, 78],
 [96, 89, 168, 32, 74],
 [107, 111, 62, 84, 113],
 [36, 64, 73, 59, 91],
 [77, 80, 104, 70, 96],
 [128, 124, 32, 159, 70],
 [110, 99, 118, 22, 57],
 [10, 80, 139, 78, 101],
 [93, 81, 41, 113, 191]]

In [285]:
a = [rand_list(3,"randint",0,100) for _ in range(5)]
b = [rand_list(3,"expovariate",0.1) for _ in range(5)]
add(a,b)

[[107.50459066408351, 43.56419510339172, 50.04319935617123],
 [12.983269915565485, 76.96752201361016, 47.87135753191791],
 [26.724826716833057, 74.52841043161872, 22.676441622242073],
 [61.04959205244969, 71.34519905570748, 69.63609521645385],
 [128.9252212114274, 99.37551627724764, 65.0654996220627]]

In [286]:
a = [rand_list(3,"gauss",0,100) for _ in range(5)]
b = [rand_list(3,"expovariate",0.1) for _ in range(7)]
add(a,b)

ValueError: Sizes do not match.

In [287]:
def type_check(function):
    def wrapper(*args):
        e1, e2 = args[0][0][0], args[1][0][0]
        if type(e1) != type(e2):
            raise ValueError("Types do not match.")
        
        return function(*args)
    
    return wrapper

@type_check
@size_check
def add(a,b):
    out = []
    for row1,row2 in zip(a,b):
        tmp = map(sum,zip(row1,row2))
        out.append(list(tmp))
    return out

In [288]:
a = [rand_list(5,"randint",0,100) for _ in range(12)]
b = [rand_list(5,"randint",0,100) for _ in range(12)]
add(a,b)

[[124, 15, 81, 116, 72],
 [132, 102, 106, 58, 71],
 [55, 191, 95, 156, 75],
 [81, 133, 100, 106, 77],
 [117, 175, 118, 148, 111],
 [74, 116, 101, 132, 39],
 [86, 105, 49, 98, 32],
 [103, 31, 71, 185, 98],
 [64, 80, 60, 98, 51],
 [62, 194, 121, 111, 52],
 [16, 176, 87, 117, 131],
 [164, 77, 17, 111, 115]]

In [289]:
a = [rand_list(3,"randint",0,100) for _ in range(5)]
b = [rand_list(3,"expovariate",0.1) for _ in range(5)]
add(a,b)

ValueError: Types do not match.

### `getter` and `setter` methods

In [290]:
# class getters, and setters
class Pet:
    def __init__(self,name,age):
        self._name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self,s):
        self._name = s
        
    @name.deleter
    def name(self):
        del self._name

In [291]:
a = Pet("Duman",1.5)
a.name

'Duman'

In [292]:
a.name = "Smokey"
a.name

'Smokey'

In [293]:
a.name = "a"

In [301]:
# class getters, and setters
class Pet:
    def __init__(self,name,age):
        self._name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self,s):
        if len(s) < 2:
            raise ValueError()
            
        self._name = s.capitalize()
        
    @name.deleter
    def name(self):
        del self._name

In [298]:
a = Pet("Duman",1.5)
a.name

'Duman'

In [299]:
a.name = "smokey"
a.name

'Smokey'

In [300]:
a.name = "Y"
a.name

ValueError:

### `classmethod` and `staticmethod`

They do not require a class instance creation, and are bound to the class rather than its object. So, they are not dependent on the state of the object.

The difference between a static method and a class method is:

* Static method knows nothing about the class and just deals with the arguments.
* Class method works with the class since its parameter is always the class itself.

In [303]:
class SmartPhones:
    brand = "Apple"
    
    def __init__(self,model):
        self.model = model
    
    @classmethod
    def change_brand(cls,new_brand):
        cls.brand = new_brand

In [304]:
SmartPhones

__main__.SmartPhones

In [305]:
SmartPhones.brand

'Apple'

In [308]:
SmartPhones.model

AttributeError: type object 'SmartPhones' has no attribute 'model'

In [310]:
obj = SmartPhones("iphone")
obj.model

'iphone'

In [311]:
obj.brand

'Apple'

In [312]:
obj.change_brand("Samsung")
obj.brand

'Samsung'

In [314]:
obj = SmartPhones("iphone")
obj.brand

'Samsung'

In [315]:
SmartPhones.change_brand("Samsung")

In [316]:
SmartPhones.brand

'Samsung'

In [317]:
class SmartPhones:
    brand = "Apple"
    
    def __init__(self,model):
        self.model = model
    
    @staticmethod
    def change_brand(cls,new_brand):
        cls.brand = new_brand

In [318]:
SmartPhones.change_brand("Samsung")

TypeError: change_brand() missing 1 required positional argument: 'new_brand'

In [321]:
class SmartPhones:
    brand = "Apple"
    
    def __init__(self,model):
        self.model = model
    
    @classmethod
    def change_brand(cls,new_brand):
        cls.brand = new_brand
    
    @staticmethod
    def screen_size(x):
        hypo = (16**2 + 9**2)**(1/2)
        e1 = (x/hypo) * 16
        e2 = (x/hypo) * 9
        return e1 * e2

In [322]:
SmartPhones.screen_size(12)

61.531157270029674

In [323]:
SmartPhones("iphone").screen_size(12)

61.531157270029674

In [324]:
device = SmartPhones("iphone")
device.screen_size(17)

123.48961424332344

### Inheritance

We can group classes by their common features, into a **parent** class. We can create a new **child** class by taking the **parents'** features with the help of inheritance. Afterwards, we can add new features or change the existings ones.

![](https://img-16.ccm2.net/_tbKjSTchfAOch80rBS73pJnS2s=/313x/506e368f623744669396580451bd6587/ccm-encyclopedia/poo-images-animaux.gif)

![](https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CPT-OOP-inheritance.svg/450px-CPT-OOP-inheritance.svg.png)

![](https://www.edureka.co/blog/wp-content/uploads/2017/07/Types-of-Inheritance-1.jpg)

In [327]:
class Employee():
    def __init__(self,name,salary,department):
        self.name = name
        self.salary = salary
        self.department = department
        self.id = random.randint(10000,99999)
        
    def showinfo(self):
        print("Name:",self.name)
        print("Id:",self.id)
        print("Salary:",self.salary)
        print("Department:",self.department)
        
    def change_department(self,new_department):
        self.department = new_department

In [328]:
class Manager(Employee):
    pass

In [329]:
Manager1 = Manager("Dave Johnson",12000,"Human Resources")

In [330]:
Manager1.showinfo()

Name: Dave Johnson
Id: 23035
Salary: 12000
Department: Human Resources

In [332]:
Manager1.change_department("Finance")

In [333]:
Manager1.showinfo()

Name: Dave Johnson
Id: 23035
Salary: 12000
Department: Finance

In [334]:
class Manager(Employee):
    def give_raise(self,raise_amount):
        self.salary += raise_amount
    
    def create_team(self,members):
        self.members = members

In [335]:
Manager2 = Manager("Rose Newman",14000,"IT")

In [336]:
Manager2.showinfo()

Name: Rose Newman
Id: 60112
Salary: 14000
Department: IT

In [337]:
Manager2.give_raise(2000)

In [338]:
Manager2.showinfo()

Name: Rose Newman
Id: 60112
Salary: 16000
Department: IT

In [341]:
e1 = Employee("Dennis Ritchie",5000,"IT")
e2 = Employee("Guido van Rossum",5000,"IT")
e3 = Employee("Richard Stallman",5000,"IT")
e4 = Employee("Linus Torvalds",5000,"IT")

Manager2.create_team([e1,e2,e3,e4])

In [342]:
Manager2.members

[<__main__.Employee at 0x7fe8c8753b00>,
 <__main__.Employee at 0x7fe8c8753b70>,
 <__main__.Employee at 0x7fe8c87539e8>,
 <__main__.Employee at 0x7fe8c8753a90>]

In [344]:
class Vehicle(object):
    def __init__(self,topspeed,weight):
        self.topspeed = topspeed
        self.weight = weight
    
    def method1(self):
        pass

class Land(Vehicle):
    def __init__(self,wheels,axles,*args,**kwargs):
        self.wheels = wheels
        self.axles = axles
        super().__init__(*args,**kwargs)

class Commercial(Vehicle):
    def __init__(self,reduced_tax=True,*args,**kwargs):
        super().__init__(*args,**kwargs)

class Pickup(Land,Commercial):
    def __init__(self,load_capacity,towing_capacity,*args,**kwargs):
        self.load_capacity = load_capacity
        self.towing_capacity = towing_capacity
        super().__init__(*args,**kwargs)

In [347]:
myvehicle = Pickup(topspeed=120,weight=2.5,wheels=4,axles=2,load_capacity=1.2,towing_capacity=3)
myvehicle

In [348]:
myvehicle.load_capacity

1.2

In [349]:
myvehicle.topspeed

120

## Example Project

In [350]:
class RockPaperScissors:
    def __init__(self,name,n_games):
        self.name = name
        self.n_games = n_games
        self.n_played = 0
        self.n_win = 0
        self.n_loss = 0
        self.n_draw = 0
        self.objects = ["Rock","Scissors","Paper"]
    
    def shake(self):
        out = random.choice(self.objects)
        print(out)
        return out
    
    def compare(self,a,b):
        if a != b:
            if a == "Rock" and b == "Scissors":
                return True
            elif a == "Scissors" and b == "Paper":
                return True
            elif a == "Paper" and b == "Rock":
                return True
            else:
                return False
        else:
            return None
    
    def check_winner(self):
        if self.n_played >= self.n_games:
            print("Game has ended.")
            if self.n_win > self.n_loss:
                print(self.name,"has won!")
            elif self.n_win == self.n_loss:
                print("Draw!")
            else:
                print(self.name,"has lost!")

    def __mul__(self,other):
        r1 = self.shake()
        r2 = other.shake()
        left_win = self.compare(r1,r2)
        
        if left_win is not None:
            if left_win:
                self.n_win += 1
            else:
                self.n_loss += 1
        else:
            self.n_draw += 1
            
        self.n_played += 1
        self.check_winner()
                
        return left_win

In [361]:
player1 = RockPaperScissors("Jimmy",5)
player2 = RockPaperScissors("Taylor",5)

In [367]:
player1 * player2

Rock
Paper
Game has ended.
Draw!

False

In [368]:
n = 7
player1 = RockPaperScissors("Jimmy",n)
player2 = RockPaperScissors("Taylor",n)

for i in range(n):
    print("Round",i + 1)
    player1 * player2
    print()

Round 1
Paper
Rock

Round 2
Paper
Scissors

Round 3
Scissors
Scissors

Round 4
Paper
Paper

Round 5
Rock
Rock

Round 6
Rock
Paper

Round 7
Scissors
Scissors
Game has ended.
Jimmy has lost!

## Project

**Design a class from scratch, or convert one of the projects in the following list to object-oriented form. Do not hesitate to copy/paste open source code, take advantage of them if you need.**

https://github.com/kyclark/tiny_python_projects

https://github.com/Python-World/python-mini-projects/tree/master/projects

https://github.com/rlvaugh/Impractical_Python_Projects

**You can also diversify your project with following random apis:**

https://random-data-api.com/

https://jsonplaceholder.typicode.com/users

you can find more api endpoints [here](https://www.programmableweb.com/category/random/api).

## Prerequisite to Next Week: `numpy`

Be sure to install numpy using `pip`, or `conda`.

* `$pip install numpy`

or


* `$conda install numpy`

or use Anaconda Navigator to install numpy module.

## References

https://docs.python.org/3/library/

https://docs.python.org/3/reference/import.html

https://www.educative.io/blog/object-oriented-programming

https://docs.oracle.com/javase/tutorial/java/concepts/index.html

https://www.edureka.co/blog/self-in-python/

https://www.python.org/dev/peps/pep-0008/

https://docs.python.org/3/tutorial/classes.html#private-variables

https://www.programiz.com/python-programming/closure

https://www.programiz.com/python-programming/methods/built-in/staticmethod#:~:text=Static%20methods%2C%20much%20like%20class,the%20state%20of%20the%20object.