# CHAPTER 2

Note what we will cover.

## Learning Goals

* Loops
* Function definitions
* ...

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(2,5):
    print(i)

2
3
4

In [3]:
for i in range(2,15,3):
    print(i)

2
5
8
11
14

In [5]:
for i in range(20,5,-3):
    print(i)

20
17
14
11
8

In [6]:
lst = ['Products','Services','Team']
for l in lst:
    print(l)

Products
Services
Team

In [16]:
lst = ['0-18','19-30','31-45','45+']
num = [782,1439,1103,548]
for l,n in zip(lst,num):
    print(l,":",n)

0-18 : 782
19-30 : 1439
31-45 : 1103
45+ : 548

In [17]:
# ......... give more examples of for loops, nested for loops, enumerate, dictionary.items, values, keys, etc.

## Function definitions

In [18]:
def function_name(arguments):
    # calculations
    return

In [ ]:
# give examples of function definitions