# Chapter 1

This chapter constitutes an introduction to Python programming. We will gently start from the definition of algorithm and dive a little deeper in the programming languages.

## Learning Goals

* What is an algorithm, and software?
* The need of programming languages
* An introduction to Python
* Variable types
* Data structures
* If statement

## Authors

- Mert Candar, mccandar@gmail.com

- Aras Kahraman, aras.kahraman@hotmail.com

## Section 1

**Algorithm**: a well-defined, finite series of instructions (more specifically performed by computers) that converts an input to a desired output, or performs a particular task (Cormen, Leierson, ... 2009). __Algorithm are needed to solve problems.__

![algorithm](https://www.softwareideas.net/i/DirectImage/464/algorithm-flowchart.png)

**Software**: is a tool we use in order to implement an algorithm (computational model) to solve a problem in a computer-aided way.

**We will use CPython (software, interpreter) to interpret the program that is written in Python (programming language).**

1. A computational model is a collection of values and operations.
2. A computation is the application of a sequence of operations to a value to yield another value.
3. A program is a specification of a computation.
4. **A programming language is a notation for writing programs.**(...)

(Aaby, 2004)

![Programming Languages](https://hackernoon.com/hn-images/1*jd8ZKUWtY1AOMwz2CvZG8A.jpeg)

![programmingi languages relation](https://miro.medium.com/max/960/1*DbgPt0izylkbD7qP13mQlQ.jpeg)

![](https://lh3.googleusercontent.com/proxy/YNdYDF9y8p9ZgAtZxs4MgIl7q0Oi61B8s_Wpodt9W6pIpI2NlFgJsstAksHKoTkDwu-2kN8UsLihi3YMOOjHeIbWI4SOeGwtYaqUTirld2n_KsKUAlJccyxQIT3zWmP1AYW2U70UzdgsjmoECZCOmUwO7psfwZSb)

![](https://miro.medium.com/max/572/1*qJ7PA_c-5F4GVW96oNl41g.jpeg)

![](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/Python-advantages-disadvantages-1.jpg)

![](https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2020/07/Best-Python-Compilers-tv.jpg)

More on python interpreters and compilers at https://techvidvan.com/tutorials/python-compilers-and-interpreters/

## 1 - Basic Concepts

*Whats a variable?*

Variable is an information stored in the memory of the computer and is accessable through the interpreter.

### 1.1. Variable Types

In [ ]:
x = 5
print(x)

In [ ]:
x = -32
print(x)

In [ ]:
x = 0
print(x)

In [ ]:
y = 5.0
print(y)

In [ ]:
y = 5.017248127361890123
print(y)

In [ ]:
y = 0.000000000000000000000000000001
print(y)

In [ ]:
y = 1.23e5
print(y)

In [ ]:
y = 1.23e-5
print(y)

In [ ]:
z = "5"
print(z)

In [ ]:
z = "Where there’s a will, there’s a way"
print(z)

In [ ]:
z = """
The influence of the clergy, in an age of superstition, might be usefully
employed to assert the rights of mankind; but so intimate is the connection 
between the throne and the altar, that the banner of the church has very 
seldom been seen on the side of the people.
""" # Edward Gibbon
print(z)

In [ ]:
var_1, var_2 = True, False
print(var_1)
print(var_2)

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
type(z)

In [ ]:
type(var_1)

In [ ]:
a = None
print(a)

In [ ]:
type(a)

### 1.2. Type Conversion

In [ ]:
int(56.59846)

In [ ]:
int('42')

In [ ]:
int('42.01')

In [ ]:
int(True)

In [ ]:
float(5)

In [ ]:
float('5')

In [ ]:
float('5.86')

In [ ]:
float(False)

In [ ]:
str(568)

In [ ]:
str(32.14)

In [ ]:
str(None)

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool('True')

In [ ]:
bool('true')

In [ ]:
bool(-1)

In [ ]:
bool('False')

In [ ]:
bool('false')

**More at** https://www.tutorialspoint.com/python/python_variable_types.htm

### 1.3. Operators

Arithmetic operators:
* `+,-`
* `*,/`
* `**`
* `//`
* `%`

Comparison operators:
* `==`
* `!=`
* `>, <`
* `<=, >=`

Logical operators:
* `and`
* `or`
* `not`

Identity operators:
* `is`
* `is not`

Membership operators:
* `in`
* `not in`

#### 1.3.1. Arithmetic Operations

In [ ]:
3 + 4

In [ ]:
3.0 + 4.0

In [ ]:
3.0 + 4

In [ ]:
3 * 4

In [ ]:
3.0 * 4.0

In [ ]:
3.0 * 4

In [ ]:
3 ** 4

In [ ]:
3.0 ** 4.0

In [ ]:
3.0 ** 4

In [ ]:
-0.0

In [ ]:
11 // 3

In [ ]:
11.0 // 3.00

In [ ]:
11.0 // 3

In [ ]:
11 % 3

In [ ]:
11.0 % 3.0

In [ ]:
11.0 % 3

In [ ]:
"Catch" + "the" + "Dog"

In [ ]:
"4" + 5

In [ ]:
"48" * 3

In [ ]:
"48" * 3.0

In [ ]:
"hello" * 4

In [ ]:
True + True

In [ ]:
True + False

In [ ]:
False + False

In [ ]:
True * False

In [ ]:
True / False

#### 1.3.2. Comparison Operations

In [ ]:
5 == 6

In [ ]:
5 == 5.0

In [ ]:
5 != 88

In [ ]:
80 < 70

In [ ]:
80 >= 70 # Operator is written as pronounced i.e. greater than or equal to

In [ ]:
"a" < "b"

In [ ]:
"Data" > "Science"

In [ ]:
"Data" >= "Data"

In [ ]:
"2" > "11"

In [ ]:
True > False

#### 1.3.3. Identity Operations

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [ ]:
print(x is z)

In [ ]:
print(x is y)

In [ ]:
print(x == y)

In [ ]:
a = 5
print(type(a) is int)
print(isinstance(a,int))

In [ ]:
isinstance(a,float)

In [ ]:
b = 3.23
type(y) is not float

In [ ]:
type(b) is int

#### 1.3.4. Membership Operations

In [ ]:
districts = ["Bakırköy", "Beşiktaş", "Kadıköy"]

In [ ]:
print("Beşiktaş" in districts)

In [ ]:
print("Şişli" in districts)

In [ ]:
print("Şişli" not in districts)

## 2 - Data Structures

### 2.1. List

A fundamental data type for multi-element data structures. It is mutable and ordered.

In [87]:
mylist = [4,"dog",8.0,True,45,"cat",-3,"cat"]
print(mylist)

[4, 'dog', 8.0, True, 45, 'cat', -3, 'cat']

In [107]:
type(mylist)

list

In [88]:
print(mylist[0])
print(mylist[3])
print(mylist[-1])

4
True
cat

In [89]:
print(mylist[:2])
print(mylist[1:3]) # left-hand side is inclusive, right-hand side is exclusive
print(mylist[1:5:2])

[4, 'dog']
['dog', 8.0]
['dog', True]

In [90]:
mylist[3] = False

In [91]:
mylist[1:3] = "Dog",12.88

In [93]:
mylist.append("Snake")
print(mylist)

[4, 'Dog', 12.88, False, 45, 'cat', -3, 'cat', 'Snake']

In [94]:
mylist.remove("Dog")
print(mylist)

[4, 12.88, False, 45, 'cat', -3, 'cat', 'Snake']

In [95]:
mylist2 = [1, 4, 88, -30, 3.65, 8.0, -4.6, 0]

In [96]:
mylist2.sort()
print(mylist2)

[-30, -4.6, 0, 1, 3.65, 4, 8.0, 88]

In [97]:
mylist2.reverse()
print(mylist2)

[88, 8.0, 4, 3.65, 1, 0, -4.6, -30]

In [98]:
mylist2.extend(mylist)
print(mylist2)

[88, 8.0, 4, 3.65, 1, 0, -4.6, -30, 4, 12.88, False, 45, 'cat', -3, 'cat', 'Snake']

In [99]:
mylist.index("cat")

4

In [100]:
mylist[4]

'cat'

In [101]:
mylist.count("cat")

2

In [117]:
mylist + mylist2

[4,
 12.88,
 False,
 45,
 'cat',
 -3,
 'cat',
 'Snake',
 88,
 8.0,
 4,
 3.65,
 1,
 0,
 -4.6,
 -30,
 4,
 12.88,
 False,
 45,
 'cat',
 -3,
 'cat',
 'Snake']

In [121]:
mylist * 3

[4,
 12.88,
 False,
 45,
 'cat',
 -3,
 'cat',
 'Snake',
 4,
 12.88,
 False,
 45,
 'cat',
 -3,
 'cat',
 'Snake',
 4,
 12.88,
 False,
 45,
 'cat',
 -3,
 'cat',
 'Snake']

In [102]:
mylist[1] + mylist[0]

16.880000000000003

In [103]:
mylist[1] * 3

38.64

In [176]:
list('Statistics')

['S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's']

__Caution!:__ Do not confuse append with extend.

In [65]:
L1 = ["John", "Smith Jr.",34]
L2 = ["Taylor","Anderson",27]
L1.append(L2)
print(L1)

['John', 'Smith Jr.', 34, ['Taylor', 'Anderson', 27]]

In [66]:
L1 = ["John", "Smith Jr.",34]
L2 = ["Taylor","Anderson",27]
L1.extend(L2)
print(L1)

['John', 'Smith Jr.', 34, 'Taylor', 'Anderson', 27]

**Caution!: Variable Copies**

In [127]:
a = [1,2,3]
b = a
a[1] = -5
print(b)

[1, -5, 3]

In [128]:
a = [1,2,3]
b = a.copy() # <-- this makes it
a[1] = -5
print(b)

[1, 2, 3]

### 2.2. Tuple

Tuple is an ordered and immutable data structure. Unlike lists, they cannot be changed once created.

In [135]:
mytuple = (1,2,"Summer",4,"Spring",8)
print(mytuple)

(1, 2, 'Summer', 4, 'Spring', 8)

In [109]:
type(mytuple)

tuple

In [110]:
print(mytuple[3])
print(mytuple[-2])
print(mytuple[:4])

4
Spring
(1, 2, 'Summer', 4)

In [111]:
mytuple[2] = "Winter"

TypeError: 'tuple' object does not support item assignment

In [112]:
mytuple.index("Summer")

2

In [113]:
mytuple.count("Summer")

1

In [131]:
mytuple2 = ('Seasons',4,'Months','Calendar')
mytuple + mytuple2

(1, 2, 'Summer', 4, 'Spring', 8, 'Seasons', 4, 'Months', 'Calendar')

In [132]:
mytuple * 3

(1,
 2,
 'Summer',
 4,
 'Spring',
 8,
 1,
 2,
 'Summer',
 4,
 'Spring',
 8,
 1,
 2,
 'Summer',
 4,
 'Spring',
 8)

In [133]:
len(mytuple)

6

In [137]:
mytuple3 = ('Zeus','Athena','Thor','Ra',('Osiris','Ares','Poseidon'))
len(mytuple3)

5

In [138]:
mytuple[5] + mytuple[3]

12

In [139]:
mytuple[5] * 3

24

In [175]:
tuple('Statistics')

('S', 't', 'a', 't', 'i', 's', 't', 'i', 'c', 's')

### 2.3. Set

Mathematical implementation of sets.

In [160]:
myset = {"Mathematics","Statistics","Computer Science","Physics","Statistics"}
myset

{'Computer Science', 'Mathematics', 'Physics', 'Statistics'}

In [161]:
type(myset)

set

In [162]:
myset[3]

TypeError: 'set' object does not support indexing

In [163]:
myset.add("Linear Algebra")
print(myset)

{'Mathematics', 'Physics', 'Computer Science', 'Linear Algebra', 'Statistics'}

In [164]:
len(myset)

5

In [166]:
"Engineering" in myset

False

In [167]:
myset2 = {"Computer Science","Physics","Operations Research"}
myset2

{'Computer Science', 'Operations Research', 'Physics'}

In [168]:
myset.intersection(myset2)

{'Computer Science', 'Physics'}

In [169]:
myset.union(myset2)

{'Computer Science',
 'Linear Algebra',
 'Mathematics',
 'Operations Research',
 'Physics',
 'Statistics'}

In [170]:
myset.difference(myset2)

{'Linear Algebra', 'Mathematics', 'Statistics'}

In [171]:
myset - myset2

{'Linear Algebra', 'Mathematics', 'Statistics'}

In [172]:
myset2 - myset

{'Operations Research'}

In [173]:
myset2.issubset(myset)

False

In [174]:
myset3 = set("statistics")
myset3

{'a', 'c', 'i', 's', 't'}

In [177]:
myset3.remove("s")
myset3

{'a', 'c', 'i', 't'}

### 2.4. Dictionary

A dictinoary is a series of key:value pairs where there is one and only one unique key for each value. These keys could only be an immutable type.

In [178]:
mydictionary = {"Jack":"AA", "Mindy":"BA", "Oliver":"CC", "Dave":"AA"}
mydictionary

{'Jack': 'AA', 'Mindy': 'BA', 'Oliver': 'CC', 'Dave': 'AA'}

In [179]:
type(mydictionary)

dict

In [182]:
mydictionary.keys()

dict_keys(['Jack', 'Mindy', 'Oliver', 'Dave'])

In [183]:
mydictionary.values()

dict_values(['AA', 'BA', 'CC', 'AA'])

In [184]:
mydictionary.items()

dict_items([('Jack', 'AA'), ('Mindy', 'BA'), ('Oliver', 'CC'), ('Dave', 'AA')])

In [185]:
mydictionary["Mindy"]

'BA'

In [188]:
mydictionary["Leonard"] = "BB"
mydictionary

{'Jack': 'AA', 'Mindy': 'BA', 'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'BB'}

In [189]:
mydictionary["Leonard"] = "AA"
mydictionary

{'Jack': 'AA', 'Mindy': 'BA', 'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'AA'}

In [203]:
mydictionary["Susie"] = ["AA","Honours"]
mydictionary

{'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'AA', 'Susie': ['AA', 'Honours']}

In [196]:
mydictionary.pop("Mindy")
mydictionary

KeyError: 'Mindy'

In [197]:
del mydictionary["Jack"]
mydictionary

{'Oliver': 'CC', 'Dave': 'AA', 'Leonard': 'AA', 'Susie': [3, 4, 'CB']}

In [192]:
len(mydictionary)

5

In [193]:
"Oliver" in mydictionary

True

In [204]:
mydictionary['Susie'][1]

'Honours'

In [205]:
Countries = {"Europe":["France", "Germany", "Spain"], 
             "Asia":["China", "India", "Japan"],
             "Africa":["Algeria","Egypt","Morocco"]}

In [206]:
Countries["Europe"]

['France', 'Germany', 'Spain']

In [207]:
Countries["Asia"][2]

'Japan'

In [210]:
visitor_count = {
    (2021,1,31) : {'total_visited':123090,'unique_visitors':40128},
    (2021,2,28) : {'total_visited':111548,'unique_visitors':35864},
    (2021,3,31) : {'total_visited':150114,'unique_visitors':21544},
    (2021,4,30) : {'total_visited':125431,'unique_visitors':44512},
}

In [ ]:
visitor_count

In [ ]:
visitor_count[2021, 3, 31]

### More on Strings

In [211]:
mystr = "Numerical Methods"
print(mystr)

Numerical Methods

In [212]:
print(mystr[:7])
print(mystr[-7:])
print(mystr[2:15:3])

Numeric
Methods
mileo

In [213]:
mystr[1] = 'x' # it's immutable!

TypeError: 'str' object does not support item assignment

In [214]:
print(mystr.capitalize())
print(mystr.lower())
print(mystr.upper())
print(mystr.swapcase())

Numerical methods
numerical methods
NUMERICAL METHODS
nUMERICAL mETHODS

In [215]:
print(mystr.replace('c','k'))

Numerikal Methods

In [217]:
print(mystr.strip('ds'))

Numerical Metho

In [218]:
print(mystr.split(' '))

['Numerical', 'Methods']

In [220]:
word1, word2 = mystr.split(' ')
print(word1,word2)
separator = ","
result = separator.join((word1, word2))
print(result)

Numerical Methods
Numerical,Methods

In [223]:
print(mystr.isalpha())
print(mystr.isalnum())
print(mystr.isnumeric())
print(mystr.endswith('ods'))
print(mystr.startswith('Nxm'))

False
False
False
True
False

## 3 - `if` Statement

In [228]:
if True:
    print('I am in the first code block now!')
else:
    print('I am in the second code block now!')

I am in the first code block now!

In [229]:
if False:
    print('I am in the first code block now!')
else:
    print('I am in the second code block now!')

I am in the second code block now!

In [224]:
g = 34

if g % 2 == 0:
    print("g is an even number")
else:
    print("g is an odd number")

g is an even number

In [ ]:
num1 = 48
num2 = 17
num3 = 55

if num1 > num2 > num3:
    print("1 > 2 > 3")
elif num1 > num3 > num2:
    print("1 > 3 > 2")
elif num2 > num3 > num1:
    print("2 > 3 > 1")
elif num3 > num2 > num1:
    print("3 > 2 > 1")
elif num3 > num1 > num2:
    print("3 > 1 > 2")
elif num2 > num1 > num3:
    print("2 > 1 > 3")

In [230]:
numbers = {-5,-4,-3,-1,0,1,2,3,4,5}

if -2 in numbers:
    print('We found the number!')
else:
    print("It is absent.")
    
if {2}.issubset(numbers):
    print('This is a subset.')
else:
    print('Not a subset.')

It is absent.
This is a subset.

In [231]:
sentence = "If we knew exactly what we were doing, it wouldn't be called research, would it?" # Albert Einstein

if "?" in sentence:
    print('A question could have been asked.')
    if sentence.startswith(('What','Which','Who','When','Where')):
        print('This is clearly a question!')
elif "!" in sentence:
    print('An order could have been given.')
elif "." is sentence:
    print('Just an ordinary sentence...')
else:
    print('The sentence is incomplete.')

A question could have been asked.

In [232]:
num1 = 13.5
num2 = 12.72

if (isinstance(num1,int) or isinstance(num1,float)) and (isinstance(num2,int) or isinstance(num2,float)):
    if num1 < num2:
        print("num2 is greater than num1.")
    elif num1 > num2:
        print("num2 is less than num1.")
    else:
        print("They are equal.")
else:
    print("They cannot be compared!")

num2 is less than num1.

In [233]:
grade = int(input("Please enter your grade:"))

if grade >= 90:
    print("AA")
elif grade >= 80:
    print("BA")
elif grade >= 70:
    print("BB")
elif grade >= 60:
    print("CB")
elif grade >= 50:
    print("CC")
elif grade >= 40:
    print("DC")
elif grade >= 30:
    print("DD")
else:
    print("You did not pass the exam")

Please enter your grade:78
BB

In [234]:
grade = int(input("Please enter your grade:"))

if grade >= 90:
    print("AA")
if grade >= 80:
    print("BA")
if grade >= 70:
    print("BB")
if grade >= 60:
    print("CB")
if grade >= 50:
    print("CC")
if grade >= 40:
    print("DC")
if grade >= 30:
    print("DD")
else:
    print("You did not pass the exam")

Please enter your grade:78
BB
CB
CC
DC
DD

### The short version of `if`

In [235]:
n = 2
n_square = 4 if n == 2 else None
print(n_square)

4

In [ ]:
n = 3
n_square = 9 if n == 3 else 4 if n == 2 else 1 if n == 1 else None
print(n_square)

## Example Project

### Customer Satisfaction

Measure the level of satisfaction from a product/service, for a given user according to his/her available information.

In [ ]:
## Get necessary information from user
p1 = int(input('Rate of the user: '))
p2 = int(input('Average monthly bought items: '))
p3 = input('Commented on a product? (y/n): ')
p3 = p3 == 'y' # y answer means True for us

# if there is a comment from this user, we will ask it too
if p3:
    p4 = input('What is the comment?: ')
    p4 = p4.lower() # we will only work with small case

# Apply the conditions and print accordingly
if p1 == 5:
    print('High')
elif p3 and ("excellent" in p4 or "perfect" in p4):
    print('High')
elif p1 >= 4 and (p2 >= 7 or p3):
    print('High')
elif p1 >= 3 or p2 > 4 or (p2 < 4 and p3):
    print('Intermediate')
elif p3 and ("good" in p4 or "not bad" in p4):
    print('Intermediate')
else:
    print('Low')

## Project

Write a python script for the following task. The file should be in `.py` format. E-mail the file to mccandar@gmail.com. Several tips:

* Write the code in a clear and readable way
* Choose relevant variable names and avoid abbreviations
* Include comments if there is a need for explanation

#### Due: Next week

### Churn Classification

**Design your own set of conditions to determine if a customer was "churned".**

This program should:
* Ask the information about user, decide what kind of information is needed (total bought products, number of days absent, etc.)
* Make calculations of parameters, if any
* Include a detailed set of conditions required to mark the customer as churn (if-elif-else)
* Print an informative message

## Main Takeaways

* Python is a general purpose, interpreted language.
* Several basic types: `int`, `float`, `str`
* Operators and their usage
* Several data structures: `list`, `tuple`, `set`, `dict`
* `if-elif-else` statement

## Next Week

* Loops
* Function Definitions

## References

* Introduction to Algorithms - Cormen
* Introduction to Programming Languages - Aaby
* https://home.cs.colorado.edu/~bec/courses/csci5535-s10/slides/meeting01-welcome.6up.pdf