# Chapter 3

.............

## Learning Goals

- Standard Library
- Introduction to Object-oriented programming

## Authors

* Mert Candar
* Aras Kahraman

## Section 1: Standard Library

Standard library consists of a number of python modules that comes with python by default.

* string
* re
* datetime
* collections
* math
* random
* itertools
* functools
* pathlib
* os
* pickle
* csv
* json
* urllib
* sys
* time

### `import` command

In [2]:
import math
from math import log

In [3]:
## TODO: ALSO MAKE MAP AND FILTER EXAMPLES MAYBE WITH FOR LOOPS!!!!
## TODO: google search each module for possible examples....

In [69]:
# math basic operations
import math

math.gamma()
math.sin()
math.ceil
math.factorial
math.log

math.inf

TypeError: gamma() takes exactly one argument (0 given)

In [68]:
math.gamma(5)

24.0

In [67]:
math.sin(60)

-0.3048106211022167

In [14]:
math.sin(90)

0.8939966636005579

In [22]:
math.ceil(3.5)

4

In [25]:
math.ceil(-2.3)

-2

In [19]:
math.ceil(-0.3)

0

In [28]:
math.factorial(5)

120

In [29]:
math.factorial(-5)

ValueError: factorial() not defined for negative values

In [30]:
math.log(20)

2.995732273553991

In [32]:
math.inf(20.2) #---------------< Buraya bak

TypeError: 'float' object is not callable

In [33]:
import statistics

statistics.mean
statistics.median
statistics.stdev
statistics.variance
statistics.mode

In [35]:
data1 = [1, 3, 8, 20, -4, 6, 2]
  
x = statistics.mean(data1)

print("Mean is :", x)

Mean is : 5.142857142857143

In [39]:
statistics.median([7, 8, 9])

8

In [41]:
statistics.median([7, 8, 9, 15])

8.5

In [43]:
statistics.median_low([1, 5, 7])

5

In [45]:
statistics.median_low([1, 5, 7, 9])

5

In [46]:
statistics.median_high([1, 5, 7, 9])

7

In [72]:
list = [1, 2, 3, 4, 5]

statistics.stdev(list)

1.5811388300841898

In [71]:
data = [4.64, 1.18, 2.53, 8.22, 4, 1.16]
  
statistics.variance(data)

7.107616666666669

In [73]:
set1 =[1, 2, "a", "3", 5, 7, 4, "a", 5, 5]
  
statistics.mode(set1)

5

In [2]:
import random

random.seed
random.gauss #----------------------------< Buna bak
random.shuffle
random.choice
random.randint
random.uniform

number = int(input("Please guess a number"))
rand_num = random.randrange(0,11)

while number != rand_num:
    if (number == rand_num): 
        print( "You got it!")
        break
    if (number > rand_num):
        print("Wrong! You guessed too high")
        break
    if (number < rand_num):
        print("Wrong! You guessed too low")
        break
else:
    print("Please enter an integer between 1 and 10: ")

KeyboardInterrupt: Interrupted by user

In [7]:
random.seed(1)
print("Random number seed 1 : ", random.random())

random.seed(1)
print("Random number seed 1 : ", random.random())

random.seed(2)
print("Random number seed 2 : ", random.random())

random.seed(2)
print("Random number seed 2 : ", random.random())

random.seed(3)
print("Random number seed 3 : ", random.random())

random.seed(4)
print("Random number seed 4 : ", random.random())

Random number seed 1 :  0.13436424411240122
Random number seed 1 :  0.13436424411240122
Random number seed 2 :  0.9560342718892494
Random number seed 2 :  0.9560342718892494
Random number seed 3 :  0.23796462709189137
Random number seed 4 :  0.23604808973743452

In [8]:
random.seed(1)
print("Random number seed 1 : ", random.random())

Random number seed 1 :  0.13436424411240122

In [20]:
for i in range(3):
    random.seed()
    print(random.randint(25,50))

42
43
41

In [21]:
for i in range(3):
    random.seed(1)
    print(random.randint(25,50))

29
29
29

In [22]:
for i in range(3):
    random.seed(2)
    print(random.randint(25,50))

26
26
26

In [7]:
mu = 100
sigma = 50

print(random.gauss(mu, sigma))

28.468720839352102

In [8]:
list = [8, 22, 44, 664]

random.shuffle(list)

print("Changed list : ",  list)

Changed list :  [44, 8, 664, 22]

In [10]:
list = ['Dave', 'Oliver', 'Jane', 'Kirk', 'Samantha']

random.choice(list)

'Kirk'

In [13]:
random.randint(45, 500)

293

In [23]:
random.uniform(5,100)

24.843010218299757

In [24]:
random.uniform(0.5, 1.5)

1.0565071594120399

In [35]:
import collections

collections.namedtuple
collections.defaultdict

collections.defaultdict

In [30]:
person = namedtuple("People", "name,age,job")

Dave = person(name="Dave", age="32", job="Data Scientist")
Oliver = person(name="Oliver", age="35", job="Software Developer")

In [31]:
print(Dave)

People(name='Dave', age='32', job='Data Scientist')

In [32]:
print(Dave.age)

32

In [33]:
print(Oliver.job)

Software Developer

In [41]:
workers_time = defaultdict(int)

workers_time["Leonard"] = 32
workers_time["Joseph"] = 28
jane_worktime = workers_time["Jane"]

print(workers_time)

defaultdict(<class 'int'>, {'Leonard': 32, 'Joseph': 28, 'Jane': 0})

In [44]:
workers_job = defaultdict(list)

workers_job["Leonard"].append("Editor")
workers_job["Joseph"].append("Author")
workers_job["Jane"].append("IT")

print(workers_job)

TypeError: first argument must be callable or None

In [46]:
import functools

functools.reduce

In [2]:
import itertools

itertools.chain
itertools.combinations
itertools.combinations_with_replacement
itertools.permutations
itertools.groupby #--------------------------< ask
itertools.product

itertools.product

In [29]:
import itertools

In [30]:
list_odd = [1, 3, 5, 7]
 
list_even = [2, 4, 6, 8]

numbers = list(chain(list_odd, list_even))
 
numbers.sort()

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
A = [1,1,3,3,3]

print(list(combinations(A,4)))

[(1, 1, 3, 3), (1, 1, 3, 3), (1, 1, 3, 3), (1, 3, 3, 3), (1, 3, 3, 3)]

In [32]:
letters ="DaATa"

a = combinations(letters, 3) 

list_combination = [' '.join(i) for i in a]
  
print(y)

['D a A', 'D a T', 'D a a', 'D A T', 'D A a', 'D T a', 'a A T', 'a A a', 'a T a', 'A T a']

In [33]:
letters ="DaATa"
  
l = list(combinations_with_replacement(letters, 2))

print(l)

[('D', 'D'), ('D', 'a'), ('D', 'A'), ('D', 'T'), ('D', 'a'), ('a', 'a'), ('a', 'A'), ('a', 'T'), ('a', 'a'), ('A', 'A'), ('A', 'T'), ('A', 'a'), ('T', 'T'), ('T', 'a'), ('a', 'a')]

In [34]:
a = "147"

p = permutations(a) 

for j in list(p): 
    print(j)

('1', '4', '7')
('1', '7', '4')
('4', '1', '7')
('4', '7', '1')
('7', '1', '4')
('7', '4', '1')

In [43]:
stocks = {"PC":10,"PS":16,"TV":16,"Printer":22,"Modem":10,"Phone":8}

a = list(groupby(stocks.items()), key=lambda x:x[1])

for k,v in a:
    print(k, list(v))

NameError: name 'groupby' is not defined

In [47]:
l1 = ['a', 'b', 'c']
l2 = ['X', 'Y', 'Z']

p = itertools.product(l1, l2)
print(list(p))

[('a', 'X'), ('a', 'Y'), ('a', 'Z'), ('b', 'X'), ('b', 'Y'), ('b', 'Z'), ('c', 'X'), ('c', 'Y'), ('c', 'Z')]

In [35]:
print ("All the permutations of the given list is:")   
print (list(permutations([1, 'data'], 2)))   
   
print ("All the permutations of the given string is:")   
print (list(permutations('XY')))  
      
print ("All the permutations of the given container is:")   
print(list(permutations(range(5), 2)))

All the permutations of the given list is:
[(1, 'data'), ('data', 1)]
All the permutations of the given string is:
[('X', 'Y'), ('Y', 'X')]
All the permutations of the given container is:
[(0, 1), (0, 2), (0, 3), (0, 4), (1, 0), (1, 2), (1, 3), (1, 4), (2, 0), (2, 1), (2, 3), (2, 4), (3, 0), (3, 1), (3, 2), (3, 4), (4, 0), (4, 1), (4, 2), (4, 3)]

In [50]:
t = ('AA', 'BB')
d = {'colour': 'white', 'size': 'small'}
r = range(2)

list_product = list(itertools.product(t, d, r))

print(list_product)

[('AA', 'colour', 0), ('AA', 'colour', 1), ('AA', 'size', 0), ('AA', 'size', 1), ('BB', 'colour', 0), ('BB', 'colour', 1), ('BB', 'size', 0), ('BB', 'size', 1)]

In [37]:
### CAUTION
import re

# regular expression examples!!! <------------------------

re.compile
re.search
re.findall
re.finditer
re.match
re.sub

' \t\n\r\x0b\x0c'

In [54]:
import datetime

datetime.datetime.now()
datetime.datetime(2021,5,20) #-----------------------< ask
datetime.date

datetime.date

In [61]:
from datetime import datetime

current_time = datetime.now()

print(current_time)
print(current_time.year)
print(current_time.date())

2021-05-20 05:46:33.008848
2021
2021-05-20

In [55]:
from datetime import date

today = date.today()

print("Today's date:", today)

Today's date: 2021-05-20

In [57]:
x = datetime.datetime(2021, 5, 20)

print(x)

2021-05-20 00:00:00

In [41]:
import time

time.clock #-----------------< ask
time.sleep
time.time

In [62]:
import time

In [63]:
print(time.time())

1621479249.214609

In [64]:
for i in range(10):
    time.sleep(1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
import csv

## read
## write

In [80]:
%%writefile workers.csv
"Newman, Samantha",38,"London, England"
"Patricia, Halley",36,"Sydney, Australia"
"Corkery, Bill",45,"Detroit, USA"

Writing workers.csv

In [83]:
import csv

with open("workers.csv") as w:
    rd = csv.reader(w)
    for line in rd:
        print(line)

['Newman, Samantha', '38', 'London, England']
['Patricia, Halley', '36', 'Sydney, Australia']
['Corkery, Bill', '45', 'Detroit, USA']

In [89]:
with open("managers.csv", "w", newline="") as m:
    wr = csv.writer(m)
    wr.writerow(['Graham, Leanne', '53', 'Tulsa, USA'])
    wr.writerow(['Weissnat, Kurtis', '57', 'Dublin, Ireland'])

In [91]:
with open("managers.csv") as m:
    mg = csv.reader(m)
    for line in mg:
        print(line)

['Graham, Leanne', '53', 'Tulsa, USA']
['Weissnat, Kurtis', '57', 'Dublin, Ireland']

In [71]:
import json

## read
## write

f = open("")
f.close()

with open("","rb") as f:
    json.read(.....)
    
with open("","wb") as f:
    json.dump(.....)
    
json.dumps()
json.loads()

SyntaxError: invalid syntax (<ipython-input-71-542131bf5ccd>, line 10)

In [73]:
import json

data = '{"firstName":"Nancy","lastName":"Green"}'

y = json.loads(data)
type(y)
print(y["firstName"])
print(y["lastName"])


customer = {"firstName":"nancy",
            "email":"nancygreen@nomail.com"}

customerJson = json.dumps(customer)

print(customer)
print(json.dumps("Nancy"))

Nancy
Green
{'firstName': 'nancy', 'email': 'nancygreen@nomail.com'}
"Nancy"

In [80]:
with open("Users_data.json") as users:
    data = json.load(users)
    
    print(data)
    print(data[0]["username"])
    print(data[0]["email"])
    print(data[0]["address"])
    print(data[0]["address"]["street"])
    print(data[0]["address"]["geo"]["lat"])
    
    for x in range(5):
        print(data[x]["username"])
        print(data[x]["email"])
        print(data[x]["address"])
        print(data[x]["address"]["street"])
        print(data[x]["address"]["geo"]["lat"])

cells
metadata
nbformat
nbformat_minor
{'cells': [{'cell_type': 'code', 'execution_count': None, 'metadata': {}, 'outputs': [], 'source': ['[\n', '  {\n', '    "id": 1,\n', '    "name": "Leanne Graham",\n', '    "username": "Bret",\n', '    "email": "Sincere@april.biz",\n', '    "address": {\n', '      "street": "Kulas Light",\n', '      "suite": "Apt. 556",\n', '      "city": "Gwenborough",\n', '      "zipcode": "92998-3874",\n', '      "geo": {\n', '        "lat": "-37.3159",\n', '        "lng": "81.1496"\n', '      }\n', '    },\n', '    "phone": "1-770-736-8031 x56442",\n', '    "website": "hildegard.org",\n', '    "company": {\n', '      "name": "Romaguera-Crona",\n', '      "catchPhrase": "Multi-layered client-server neural-net",\n', '      "bs": "harness real-time e-markets"\n', '    }\n', '  },\n', '  {\n', '    "id": 2,\n', '    "name": "Ervin Howell",\n', '    "username": "Antonette",\n', '    "email": "Shanna@melissa.tv",\n', '    "address": {\n', '      "street": "Victor Plains",\n', '      "suite": "Suite 879",\n', '      "city": "Wisokyburgh",\n', '      "zipcode": "90566-7771",\n', '      "geo": {\n', '        "lat": "-43.9509",\n', '        "lng": "-34.4618"\n', '      }\n', '    },\n', '    "phone": "010-692-6593 x09125",\n', '    "website": "anastasia.net",\n', '    "company": {\n', '      "name": "Deckow-Crist",\n', '      "catchPhrase": "Proactive didactic contingency",\n', '      "bs": "synergize scalable supply-chains"\n', '    }\n', '  },\n', '  {\n', '    "id": 3,\n', '    "name": "Clementine Bauch",\n', '    "username": "Samantha",\n', '    "email": "Nathan@yesenia.net",\n', '    "address": {\n', '      "street": "Douglas Extension",\n', '      "suite": "Suite 847",\n', '      "city": "McKenziehaven",\n', '      "zipcode": "59590-4157",\n', '      "geo": {\n', '        "lat": "-68.6102",\n', '        "lng": "-47.0653"\n', '      }\n', '    },\n', '    "phone": "1-463-123-4447",\n', '    "website": "ramiro.info",\n', '    "company": {\n', '      "name": "Romaguera-Jacobson",\n', '      "catchPhrase": "Face to face bifurcated interface",\n', '      "bs": "e-enable strategic applications"\n', '    }\n', '  },\n', '  {\n', '    "id": 4,\n', '    "name": "Patricia Lebsack",\n', '    "username": "Karianne",\n', '    "email": "Julianne.OConner@kory.org",\n', '    "address": {\n', '      "street": "Hoeger Mall",\n', '      "suite": "Apt. 692",\n', '      "city": "South Elvis",\n', '      "zipcode": "53919-4257",\n', '      "geo": {\n', '        "lat": "29.4572",\n', '        "lng": "-164.2990"\n', '      }\n', '    },\n', '    "phone": "493-170-9623 x156",\n', '    "website": "kale.biz",\n', '    "company": {\n', '      "name": "Robel-Corkery",\n', '      "catchPhrase": "Multi-tiered zero tolerance productivity",\n', '      "bs": "transition cutting-edge web services"\n', '    }\n', '  },\n', '  {\n', '    "id": 5,\n', '    "name": "Chelsey Dietrich",\n', '    "username": "Kamren",\n', '    "email": "Lucio_Hettinger@annie.ca",\n', '    "address": {\n', '      "street": "Skiles Walks",\n', '      "suite": "Suite 351",\n', '      "city": "Roscoeview",\n', '      "zipcode": "33263",\n', '      "geo": {\n', '        "lat": "-31.8129",\n', '        "lng": "62.5342"\n', '      }\n', '    },\n', '    "phone": "(254)954-1289",\n', '    "website": "demarco.info",\n', '    "company": {\n', '      "name": "Keebler LLC",\n', '      "catchPhrase": "User-centric fault-tolerant solution",\n', '      "bs": "revolutionize end-to-end systems"\n', '    }\n', '  },\n', '  {\n', '    "id": 6,\n', '    "name": "Mrs. Dennis Schulist",\n', '    "username": "Leopoldo_Corkery",\n', '    "email": "Karley_Dach@jasper.info",\n', '    "address": {\n', '      "street": "Norberto Crossing",\n', '      "suite": "Apt. 950",\n', '      "city": "South Christy",\n', '      "zipcode": "23505-1337",\n', '      "geo": {\n', '        "lat": "-71.4197",\n', '        "lng": "71.7478"\n', '      }\n', '    },\n', '    "phone": "1-477-935-8478 x6430",\n', '    "website": "ola.org",\n', '    "company": {\n', '      "name": "Considine-Lockman",\n', '      "catchPhrase": "Synchronised bottom-line interface",\n', '      "bs": "e-enable innovative applications"\n', '    }\n', '  },\n', '  {\n', '    "id": 7,\n', '    "name": "Kurtis Weissnat",\n', '    "username": "Elwyn.Skiles",\n', '    "email": "Telly.Hoeger@billy.biz",\n', '    "address": {\n', '      "street": "Rex Trail",\n', '      "suite": "Suite 280",\n', '      "city": "Howemouth",\n', '      "zipcode": "58804-1099",\n', '      "geo": {\n', '        "lat": "24.8918",\n', '        "lng": "21.8984"\n', '      }\n', '    },\n', '    "phone": "210.067.6132",\n', '    "website": "elvis.io",\n', '    "company": {\n', '      "name": "Johns Group",\n', '      "catchPhrase": "Configurable multimedia task-force",\n', '      "bs": "generate enterprise e-tailers"\n', '    }\n', '  },\n', '  {\n', '    "id": 8,\n', '    "name": "Nicholas Runolfsdottir V",\n', '    "username": "Maxime_Nienow",\n', '    "email": "Sherwood@rosamond.me",\n', '    "address": {\n', '      "street": "Ellsworth Summit",\n', '      "suite": "Suite 729",\n', '      "city": "Aliyaview",\n', '      "zipcode": "45169",\n', '      "geo": {\n', '        "lat": "-14.3990",\n', '        "lng": "-120.7677"\n', '      }\n', '    },\n', '    "phone": "586.493.6943 x140",\n', '    "website": "jacynthe.com",\n', '    "company": {\n', '      "name": "Abernathy Group",\n', '      "catchPhrase": "Implemented secondary concept",\n', '      "bs": "e-enable extensible e-tailers"\n', '    }\n', '  },\n', '  {\n', '    "id": 9,\n', '    "name": "Glenna Reichert",\n', '    "username": "Delphine",\n', '    "email": "Chaim_McDermott@dana.io",\n', '    "address": {\n', '      "street": "Dayna Park",\n', '      "suite": "Suite 449",\n', '      "city": "Bartholomebury",\n', '      "zipcode": "76495-3109",\n', '      "geo": {\n', '        "lat": "24.6463",\n', '        "lng": "-168.8889"\n', '      }\n', '    },\n', '    "phone": "(775)976-6794 x41206",\n', '    "website": "conrad.com",\n', '    "company": {\n', '      "name": "Yost and Sons",\n', '      "catchPhrase": "Switchable contextually-based project",\n', '      "bs": "aggregate real-time technologies"\n', '    }\n', '  },\n', '  {\n', '    "id": 10,\n', '    "name": "Clementina DuBuque",\n', '    "username": "Moriah.Stanton",\n', '    "email": "Rey.Padberg@karina.biz",\n', '    "address": {\n', '      "street": "Kattie Turnpike",\n', '      "suite": "Suite 198",\n', '      "city": "Lebsackbury",\n', '      "zipcode": "31428-2261",\n', '      "geo": {\n', '        "lat": "-38.2386",\n', '        "lng": "57.2232"\n', '      }\n', '    },\n', '    "phone": "024-648-3804",\n', '    "website": "ambrose.net",\n', '    "company": {\n', '      "name": "Hoeger LLC",\n', '      "catchPhrase": "Centralized empowering task-force",\n', '      "bs": "target end-to-end models"\n', '    }\n', '  }\n', ']']}], 'metadata': {'kernelspec': {'display_name': 'Python 3', 'language': 'python', 'name': 'python3'}, 'language_info': {'codemirror_mode': {'name': 'ipython', 'version': 3}, 'file_extension': '.py', 'mimetype': 'text/x-python', 'name': 'python', 'nbconvert_exporter': 'python', 'pygments_lexer': 'ipython3', 'version': '3.8.5'}}, 'nbformat': 4, 'nbformat_minor': 4}

KeyError: 0

In [75]:
x =  '{"name":"John", "age":30, "city":"New York"}'

y = json.loads(x)

print(y["age"])

30

In [76]:
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

y = json.dumps(x)

print(y)

{"name": "John", "age": 30, "city": "New York"}

In [77]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [ ]:
import pickle

## read
## write

f = open("")
f.close()

with open("","rb") as f:
    pickle.read(.....)
    
with open("","wb") as f:
    pickle.dump(.....)

## Section 2: Object-oriented Programming

.............. <--------------- MERT

In [19]:
class Pet:
    species = "Exotic Shorthair"
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
Pet1 = Pet("Fluffy",4)

print(Pet1.name)
print(Pet1.age)
print(Pet1.species)

Fluffy
4
Exotic Shorthair

In [11]:
class Pet_2:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

In [69]:
Pet2= Pet_2("Kitty",6)

print(Pet2.describe())

Name: Kitty
Age: 6
None

In [56]:
### NOT A PRIORITY <----
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    @staticmethod
    def method1(self):
        pass
    
    @classmethod
    def method2(cls):
        pass

In [65]:
### NOT A PRIORITY <----
## https://stackoverflow.com/a/2627034/7184515
# class getters, and setters
class Pet:
    def __init__(self,name,age):
        self._name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self,s):
        self._name = s.capitalize()

In [66]:
a = Pet("Duman",1.5)
a.name

'Duman'

In [68]:
a.name = "zbk"
a.name

'Zbk'

In [ ]:
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    def _method1(self):
        pass
    
    def __method2(self):
        pass

In [49]:
p = Pet("Shimmy",2)
p

In [50]:
p.name

'Shimmy'

In [51]:
p.age

2

In [52]:
p.describe()

Name: Shimmy
Age: 2

In [ ]:
### ................. FILL SEVERAL EXAMPLES HERE

In [ ]:
class employees:
    def __init__(self, name, lname, age, language):
        self.name = name
        self.lname = lname
        self.age = age
        self.language = language
   
    def print_name(self):
        print(self.name  + " " + self.lname)
       
    def showage(self):
        print(self.name  +  " " + self.lname, "is", self.age +  " years old ")
       
    def speak_language(self):
        print(self.name, self.lname, "speaks", self.language)
       
    def showinfo(self):
        print(self.name, self.lname, "is", self.age, "and", "speaks", self.language)

        
manager1 = managers("Mert", "Trump", "44")
manager2 = managers("Gamze", "Cakr", "43")

manager1.print_name()

manager1.showage()

manager1.addlanguage("Spanish and English")

manager1.showinfo()

manager2.print_name()

manager2.showage()

manager2.addlanguage("English and French")

manager2.showinfo()

employee1 = employees("Aras", "Kahraman", "28", "English and Italian" )
employee2 = employees("Evrim", "Solhan", "27", "Turkish")
employee3 = employees("Ozlem", "sci", "34", "Russian")

employee1.showinfo()

employee2.showinfo()

employee3.showinfo()

In [68]:
class Math:
    def addition(self,number1,number2):
        return number1 + number2

    def extraction(self,number1,number2):
        return number1 - number2
    
    def multiply(self,number1,number2):
        return number1 * number2
    
    def division(self,number1,number2):
        return number1 / number2
    
math = Math()
print("Addition = " + str(math.addition(2,78)))
print("Multiply = " + str(math.multiply(4,84)))

Addition = 80
Multiply = 336

In [53]:
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def __repr__(self):
        pass
    
    def __str__(self):
        pass
    
    def __add__(self,other):
        return self.name + other.name
    
    def __sub__(self,other):
        pass
    
    def __mul__(self,other):
        pass
    
    def __ge__(self):
        pass

In [54]:
Pet("Shimmy",2) + Pet("Doug",2)

'ShimmyDoug'

In [55]:
## inheritance
class Cat(Pet):
    def __init__(self,lovesdogs=False,*args):
        super().__init__(*args)

In [57]:
class Worker():
    def __init__(self,name,salary,department):
        self.name = name
        self.salary = salary
        self.department = department
        
    def showinfo(self):
        
        print(self.name)
        print(self.salary)
        print(self.department)
        
    def change_department(self,new_department):
        
        self.department = new_department

In [58]:
class Manager(Worker):
    pass

In [59]:
Manager1 = Manager("Dave Johnson",1000,"Human Resources")

In [60]:
Manager1.showinfo()

Dave Johnson
1000
Human Resources

In [61]:
Manager1.change_department("Finance")

In [62]:
Manager1.showinfo()

Dave Johnson
1000
Finance

In [63]:
class Manager(Worker):
    def give_raise(self,raise_amount):
        self.salary += raise_amount

In [64]:
Manager2 = Manager("Rose Newman",2000,"IT")

In [65]:
Manager2.showinfo()

Rose Newman
2000
IT

In [66]:
Manager2.give_raise(500)

In [67]:
Manager2.showinfo()

Rose Newman
2500
IT

## Example Project

## Project