# Chapter 3

We will explain two of the important aspects of python programming. Using these tools and know-how, one could design better algorithms.

## Learning Goals

- Standard Library
- Introduction to Object-oriented programming

## Authors

* Mert Candar
* Aras Kahraman

## Section 1: Standard Library

A **module** in python is a systematic collection and organization of code blocks, namely, *the definitons and declarations* in order to perform a series of tasks about a domain, topic or problem. A module is usually composed of python scripts, text files, configuration files and folders. Structuring a module usually aims simplicity and efficiency of usage, and development.

We can denote several highly important advantages of using modules:

* Computation efficiency
* Clean code
* Higher level of abstraction

Thus, modules are almost a must-have tool for a python coder.

**Standard library** consists of a number of python modules that comes with python by default. To list some of those:

* math
* random
* statistics
* datetime
* collections
* itertools
* functools
* pickle
* csv
* json
* time
* re

Find the full list [here](https://docs.python.org/3/library/)

### `import` command

We use `import` command to connect module to our script. Simply, `import` searches for the specified module and loads its content to memory. Thus, all of the imported objects of module are made available for usage.

We can import:

* modules
* scripts
* variables, functions and classes, simply any object, (of a script)

There are several ways of import

In [ ]:
import math

math.sin(math.pi)

In [ ]:
import math as mt

mt.sin(math.pi)

In [ ]:
from math import sin, pi

sin(pi)

In [ ]:
# not recommended
from math import *

sin(pi)

### Modules

In [ ]:
import math

In [ ]:
pi = math.pi
print(math.sin(pi/2))
print(math.cos(pi))

In [ ]:
print(math.asin(1))
print(math.acos(-1))

In [ ]:
print(math.ceil(3.5))
print(math.ceil(-2.3))

In [ ]:
print(math.floor(3.5))
print(math.floor(-2.3))

In [ ]:
math.log(20)

In [ ]:
math.log(math.e)

In [ ]:
math.log10(10)

In [ ]:
math.log10(1e6)

In [ ]:
math.log(8,2)

In [ ]:
math.factorial(5)

In [ ]:
math.factorial(5.12)

In [ ]:
math.gamma(6)

In [ ]:
math.gamma(6.12)

In [ ]:
math.inf

In [ ]:
math.log10(math.inf)

In [ ]:
math.nan

In [ ]:
math.log10(math.nan)

In [17]:
import random

In [18]:
mu = 100
sigma = 20

print(random.gauss(mu, sigma))

101.66577171698079

In [19]:
lst = [8, 22, 44, 664]

random.shuffle(lst)

print("Changed list : ",  lst)

Changed list :  [8, 664, 22, 44]

In [20]:
lst = ['Dave', 'Oliver', 'Jane', 'Kirk', 'Samantha']
random.choice(lst)

'Jane'

In [21]:
random.sample(lst,2)

['Kirk', 'Jane']

In [22]:
random.randint(45, 500)

345

In [23]:
random.uniform(5,100)

90.19037159528187

In [24]:
random.uniform(0.5, 1.5)

0.8390070832602652

In [25]:
def rand_list(n,distribution="uniform",*args,**kwargs):
    """
    Generate random number series.
    """
    fun = getattr(random,distribution)
    map_fun = lambda x: fun(*args,**kwargs)
    return list(map(map_fun,range(n)))

In [26]:
rand_list(10,"gauss",0,1)

[-0.01356235928728976,
 0.020183860362437127,
 0.8575130176198853,
 -0.29861549178745556,
 0.05468516503921645,
 1.1029744502860144,
 -0.6377271863846007,
 1.2218212990439359,
 1.0325285274127378,
 -0.709143256970142]

In [62]:
# is the same with...
[random.gauss(0,1) for _ in range(10)]

[1.2926736236874665,
 -1.4932495288786127,
 -0.16015703153145852,
 -0.12627737606586448,
 0.5997218170905811,
 0.2362868789384976,
 0.30726858618540254,
 0.023490195737035473,
 -0.9408589964485476,
 0.1162129959333249]

In [ ]:
rand_list(10,"uniform",0,10)

In [ ]:
rand_list(10,"randint",0,10)

In [ ]:
def count_interval(x,l,u):
    """
    Count the number of samples in specified interval.
    """
    return sum(map(lambda e: e >= l and e <= u,x))
    
def histogram(x,bins=20):
    l, u = min(x), max(x)
    h = (u - l)/bins
    breaks = [l+h*i for i in range(bins+1)]
    count_consecutive = lambda i: count_interval(x,breaks[i],breaks[i+1])
    return list(map(count_consecutive,range(20))), breaks

def plot(x,max_char=50,*args,**kwargs):
    counts, breaks = histogram(x,*args,**kwargs)
    u = max(counts)/max_char
    for c, b in zip(counts,breaks):
        s = int(c/u)
        print(str(round(b,2)).ljust(5),"|",s*"#")

In [319]:
data = rand_list(5000,"uniform",0,1)
plot(data)

0.0   | ##############################################
0.05  | ########################################
0.1   | #########################################
0.15  | ######################################
0.2   | ###########################################
0.25  | ##########################################
0.3   | #######################################
0.35  | ############################################
0.4   | ####################################
0.45  | ############################################
0.5   | #######################################
0.55  | #############################################
0.6   | ##############################################
0.65  | #############################################
0.7   | ###############################################
0.75  | ###########################################
0.8   | ############################################
0.85  | ##################################################
0.9   | #########################################
0.95  | ############################################

In [320]:
data = rand_list(5000,"gauss",0,1)
plot(data)

-3.62 |
-3.26 |
-2.89 |
-2.53 | ###
-2.17 | ######
-1.81 | ###########
-1.45 | ###################
-1.09 | ################################
-0.73 | ########################################
-0.36 | #############################################
-0.0  | ##################################################
0.36  | ########################################
0.72  | ###############################
1.08  | #####################
1.44  | ###########
1.81  | #######
2.17  | ###
2.53  | #
2.89  |
3.25  |

In [321]:
data = rand_list(5000,"lognormvariate",0,0.4)
plot(data)

0.23  | #######
0.51  | #########################################
0.79  | ##################################################
1.07  | ####################################
1.35  | ###################
1.64  | ##########
1.92  | ####
2.2   | ###
2.48  |
2.76  |
3.04  |
3.32  |
3.6   |
3.88  |
4.17  |
4.45  |
4.73  |
5.01  |
5.29  |
5.57  |

In [322]:
data = rand_list(5000,"gammavariate",1,5)
plot(data)

0.0   | ##################################################
2.68  | ##############################
5.35  | #################
8.03  | #########
10.7  | ######
13.38 | ###
16.05 | ##
18.73 | #
21.4  |
24.08 |
26.75 |
29.43 |
32.11 |
34.78 |
37.46 |
40.13 |
42.81 |
45.48 |
48.16 |
50.83 |

In [323]:
data = rand_list(5000,"weibullvariate",0.1,8)
plot(data)

0.03  |
0.04  |
0.04  |
0.05  |
0.05  | ##
0.06  | ###
0.06  | #####
0.07  | ########
0.07  | #############
0.08  | ####################
0.08  | ############################
0.09  | #####################################
0.09  | ##########################################
0.1   | ##################################################
0.1   | ########################################
0.11  | ##################################
0.11  | ###################
0.12  | ########
0.12  | ##
0.13  |

In [324]:
random.seed(1000)
rand_list(10,"gammavariate",1,5)

[1.2592801715398216,
 2.0036897968158534,
 11.556131407537318,
 5.2068538162163955,
 3.7974206652551423,
 3.1303992215718237,
 0.10964822833057329,
 10.188989977535375,
 1.993116819810311,
 5.049856731431943]

In [325]:
random.seed(1000)
rand_list(10,"gammavariate",1,5)

[1.2592801715398216,
 2.0036897968158534,
 11.556131407537318,
 5.2068538162163955,
 3.7974206652551423,
 3.1303992215718237,
 0.10964822833057329,
 10.188989977535375,
 1.993116819810311,
 5.049856731431943]

In [326]:
import statistics as ss

In [332]:
data = rand_list(20,"gauss",7,3)

x = ss.mean(data)
print(x)

5.990572403553227

In [333]:
random.seed(123)
data = rand_list(1000,"gauss",7,3)

ss.mean(data)

7.126507534558333

In [335]:
ss.median(data)

7.240378633116992

In [336]:
ss.median([7, 8, 9])

8

In [337]:
ss.median([7, 8, 9, 15])

8.5

In [338]:
ss.median_low([1, 5, 7, 9])

5

In [339]:
ss.median_high([1, 5, 7, 9])

7

In [340]:
ss.stdev(data)

2.9903723915317406

In [341]:
ss.variance(data)

8.942327040035263

In [342]:
ss.mode(data)

StatisticsError: no unique mode; found 1000 equally common values

In [350]:
data_int = list(map(int,data))
data_int

[8,
 7,
 5,
 7,
 7,
 6,
 4,
 6,
 8,
 5,
 5,
 9,
 7,
 7,
 5,
 7,
 6,
 6,
 5,
 9,
 8,
 6,
 10,
 11,
 13,
 7,
 4,
 5,
 9,
 2,
 4,
 11,
 8,
 10,
 1,
 6,
 5,
 9,
 7,
 3,
 5,
 3,
 3,
 1,
 2,
 7,
 6,
 7,
 7,
 5,
 9,
 0,
 5,
 5,
 5,
 9,
 9,
 8,
 4,
 5,
 7,
 8,
 6,
 6,
 5,
 8,
 2,
 6,
 10,
 4,
 14,
 6,
 5,
 5,
 5,
 7,
 10,
 6,
 7,
 6,
 8,
 8,
 6,
 9,
 6,
 10,
 5,
 7,
 9,
 8,
 9,
 8,
 10,
 7,
 11,
 9,
 0,
 11,
 6,
 10,
 7,
 4,
 4,
 10,
 13,
 5,
 2,
 9,
 5,
 4,
 7,
 8,
 7,
 6,
 3,
 6,
 9,
 10,
 11,
 4,
 5,
 8,
 10,
 6,
 3,
 3,
 6,
 7,
 9,
 10,
 3,
 11,
 6,
 -1,
 5,
 4,
 7,
 6,
 0,
 6,
 5,
 6,
 3,
 6,
 2,
 11,
 5,
 9,
 4,
 6,
 5,
 9,
 8,
 6,
 7,
 8,
 13,
 6,
 8,
 10,
 9,
 8,
 4,
 10,
 11,
 4,
 1,
 5,
 2,
 7,
 7,
 4,
 8,
 3,
 3,
 7,
 7,
 10,
 9,
 10,
 11,
 3,
 4,
 4,
 6,
 5,
 12,
 8,
 4,
 10,
 4,
 8,
 7,
 4,
 7,
 1,
 10,
 14,
 9,
 8,
 1,
 6,
 8,
 10,
 2,
 11,
 8,
 8,
 8,
 4,
 7,
 6,
 5,
 7,
 0,
 3,
 5,
 10,
 6,
 10,
 4,
 6,
 5,
 3,
 8,
 5,
 8,
 6,
 11,
 7,
 6,
 3,
 17,
 9,
 10,
 11,
 8,
 5,
 9,
 4,
 12,
 3,
 7,
 4,
 0,
 2,
 5,
 9,
 6,
 6,
 6,
 8,
 4,
 8,
 4,
 4,
 7,
 7,
 1,
 6,
 12,
 4,
 5,
 12,
 4,
 7,
 9,
 8,
 4,
 6,
 9,
 13,
 13,
 9,
 2,
 9,
 9,
 9,
 7,
 3,
 4,
 9,
 7,
 8,
 7,
 7,
 7,
 6,
 7,
 6,
 4,
 3,
 13,
 8,
 6,
 0,
 4,
 7,
 7,
 8,
 4,
 2,
 7,
 7,
 5,
 8,
 7,
 9,
 5,
 4,
 4,
 5,
 10,
 6,
 8,
 7,
 6,
 0,
 9,
 9,
 9,
 4,
 10,
 7,
 6,
 9,
 8,
 6,
 9,
 2,
 4,
 5,
 10,
 9,
 8,
 6,
 9,
 9,
 7,
 6,
 7,
 5,
 8,
 7,
 0,
 8,
 6,
 6,
 8,
 9,
 10,
 9,
 2,
 12,
 9,
 1,
 7,
 10,
 6,
 5,
 9,
 7,
 2,
 10,
 7,
 6,
 13,
 9,
 6,
 8,
 8,
 1,
 2,
 3,
 10,
 2,
 6,
 10,
 9,
 6,
 2,
 2,
 9,
 4,
 4,
 10,
 9,
 7,
 7,
 2,
 11,
 9,
 4,
 4,
 10,
 9,
 6,
 5,
 6,
 6,
 7,
 9,
 7,
 4,
 13,
 1,
 7,
 7,
 6,
 1,
 10,
 4,
 7,
 4,
 17,
 14,
 5,
 5,
 7,
 6,
 9,
 7,
 9,
 9,
 4,
 4,
 5,
 6,
 0,
 5,
 4,
 11,
 3,
 3,
 5,
 4,
 7,
 8,
 8,
 7,
 7,
 1,
 9,
 1,
 4,
 10,
 7,
 5,
 9,
 7,
 11,
 4,
 10,
 11,
 8,
 9,
 10,
 12,
 7,
 6,
 12,
 7,
 3,
 9,
 4,
 4,
 7,
 9,
 2,
 3,
 6,
 7,
 8,
 8,
 10,
 6,
 3,
 7,
 10,
 2,
 9,
 10,
 0,
 5,
 10,
 8,
 8,
 10,
 8,
 4,
 4,
 6,
 12,
 4,
 7,
 7,
 4,
 6,
 11,
 7,
 9,
 10,
 10,
 9,
 9,
 2,
 10,
 4,
 6,
 8,
 2,
 0,
 6,
 5,
 8,
 7,
 7,
 5,
 5,
 3,
 4,
 9,
 6,
 10,
 8,
 10,
 4,
 3,
 13,
 6,
 10,
 4,
 10,
 10,
 10,
 5,
 2,
 8,
 3,
 2,
 4,
 7,
 8,
 3,
 5,
 5,
 3,
 6,
 2,
 4,
 6,
 8,
 4,
 9,
 4,
 7,
 5,
 7,
 10,
 9,
 10,
 8,
 10,
 6,
 5,
 2,
 3,
 7,
 7,
 11,
 4,
 6,
 10,
 5,
 1,
 10,
 7,
 0,
 5,
 9,
 7,
 11,
 9,
 3,
 6,
 5,
 8,
 6,
 7,
 5,
 5,
 2,
 8,
 10,
 7,
 14,
 10,
 14,
 6,
 6,
 8,
 9,
 5,
 3,
 7,
 10,
 8,
 4,
 5,
 10,
 10,
 3,
 10,
 6,
 7,
 7,
 9,
 6,
 8,
 0,
 2,
 5,
 2,
 5,
 9,
 2,
 6,
 6,
 9,
 9,
 9,
 1,
 1,
 9,
 4,
 10,
 12,
 12,
 5,
 9,
 8,
 7,
 10,
 8,
 7,
 6,
 3,
 7,
 6,
 5,
 8,
 9,
 5,
 9,
 3,
 7,
 2,
 12,
 8,
 8,
 5,
 4,
 9,
 12,
 3,
 9,
 13,
 3,
 3,
 8,
 7,
 7,
 13,
 4,
 2,
 10,
 6,
 4,
 10,
 8,
 9,
 9,
 6,
 6,
 7,
 9,
 6,
 5,
 4,
 5,
 1,
 5,
 2,
 3,
 7,
 9,
 4,
 7,
 5,
 11,
 8,
 10,
 4,
 10,
 0,
 8,
 0,
 9,
 9,
 8,
 5,
 7,
 11,
 2,
 4,
 9,
 4,
 6,
 11,
 8,
 7,
 3,
 3,
 4,
 7,
 5,
 0,
 6,
 2,
 9,
 9,
 8,
 10,
 8,
 5,
 5,
 9,
 11,
 12,
 12,
 7,
 4,
 8,
 9,
 7,
 12,
 5,
 10,
 12,
 8,
 11,
 4,
 6,
 6,
 8,
 9,
 6,
 5,
 9,
 7,
 6,
 8,
 9,
 5,
 10,
 9,
 11,
 8,
 5,
 4,
 9,
 10,
 9,
 11,
 2,
 4,
 10,
 5,
 5,
 9,
 1,
 3,
 8,
 8,
 6,
 1,
 -2,
 6,
 0,
 3,
 8,
 10,
 7,
 13,
 8,
 8,
 7,
 7,
 6,
 2,
 5,
 5,
 5,
 5,
 2,
 2,
 8,
 6,
 6,
 10,
 6,
 14,
 0,
 1,
 11,
 7,
 10,
 8,
 8,
 6,
 3,
 7,
 4,
 8,
 7,
 2,
 8,
 9,
 2,
 8,
 4,
 7,
 5,
 3,
 3,
 11,
 7,
 9,
 9,
 5,
 5,
 6,
 11,
 7,
 4,
 9,
 5,
 8,
 8,
 11,
 7,
 10,
 10,
 11,
 2,
 5,
 4,
 8,
 6,
 10,
 11,
 0,
 3,
 9,
 6,
 6,
 14,
 2,
 7,
 11,
 9,
 10,
 2,
 8,
 4,
 11,
 5,
 4,
 7,
 6,
 8,
 7,
 6,
 10,
 4,
 3,
 8,
 10,
 8,
 9,
 4,
 8,
 4,
 9,
 11,
 6,
 6,
 8,
 7,
 12,
 9,
 6,
 9,
 8,
 9,
 6,
 7,
 3,
 6,
 7,
 7,
 10,
 5,
 7,
 0,
 7,
 3,
 4,
 8,
 -1,
 8,
 8,
 14,
 7,
 10,
 8,
 2,
 7,
 5,
 13,
 5,
 9,
 5,
 5,
 2,
 3,
 11,
 7,
 10,
 4,
 5,
 12,
 6,
 10,
 5,
 7,
 11,
 13,
 1,
 1,
 9,
 8,
 11,
 8,
 3,
 10,
 3,
 5,
 3,
 10,
 6,
 2,
 7,
 8,
 7,
 1,
 5,
 9,
 3,
 8,
 7,
 9,
 10,
 5,
 7,
 4,
 4,
 4,
 5,
 6,
 5,
 7,
 9,
 10,
 6,
 2,
 4,
 9,
 7,
 9,
 7,
 9,
 8,
 5,
 7,
 8,
 4,
 5,
 6,
 0]

In [351]:
ss.mode(data_int)

7

In [352]:
set1 =[1,2,1,2,4,1,2,5,6,23,3,2,1,3,4,1,4]
  
ss.mode(set1)

1

In [349]:
set1 =[1, 2, "a", "3", 5, 7, 4, "a", 5, 5]
  
ss.mode(set1)

5

In [ ]:
import collections

In [353]:
position = collections.namedtuple("Position","x,y")
pos = position(12.5,5.8)
pos

Position(x=12.5, y=5.8)

In [354]:
print(pos[0])
print(pos.x)

12.5
12.5

In [355]:
print(pos[1])
print(pos.y)

5.8
5.8

In [356]:
pos * 2

(12.5, 5.8, 12.5, 5.8)

In [358]:
print(pos.x,pos.y)

12.5 5.8

In [359]:
person = collections.namedtuple("People", "name,age,job")

Dave = person(name="Dave", age="32", job="Data Scientist")
Oliver = person(name="Oliver", age="35", job="Software Developer")

In [360]:
print(Dave)

People(name='Dave', age='32', job='Data Scientist')

In [361]:
print(Dave.age)

32

In [362]:
print(Oliver.job)

Software Developer

In [ ]:
workers_job = collections.defaultdict(list)

workers_job["Leonard"].append("Editor")
workers_job["Joseph"].append("Author")
workers_job["Jane"].append("IT")

print(workers_job)

In [ ]:
workers_job["Matthew"]

In [ ]:
def count_words(s):
    out = collections.defaultdict(lambda : 0)
    for word in s.split():
        out[word] += 1
    return out

In [ ]:
s = """
"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum sodales tortor, vitae vulputate 
dolor posuere quis. Praesent ut lorem nec metus finibus tincidunt. Donec est nunc, varius vel lobortis nec, 
viverra ac sapien. Quisque blandit ipsum in massa porttitor faucibus. Orci varius natoque penatibus et magnis 
dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
auctor mi quis massa suscipit pharetra."
"""
count_words(s)

In [15]:
from functools import reduce

In [16]:
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])

15

In [17]:
((((1+2)+3)+4)+5)

15

In [35]:
d = [2, 4, 7, 3]

print(reduce(lambda x, y: x + y, d))
print("With an initial value:",reduce(lambda x, y: x + y, d, 6))

16
With an initial value: 22

In [36]:
numbers = [11,3,9,12,4,15,66]

def find_max(a,b):
    if a > b:
        return a
    else:
        return b

reduce(find_max,numbers)

66

In [1]:
import itertools

In [2]:
list_odd = [1, 3, 5, 7]
list_even = [2, 4, 6, 8]

numbers = list(itertools.chain(list_odd, list_even))

print(numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [3]:
list(itertools.chain(list_odd, list_even, list_even, list_even))

[1, 3, 5, 7, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [4]:
A = [1,1,3,3,3]

list(itertools.combinations(A,4))

[(1, 1, 3, 3), (1, 1, 3, 3), (1, 1, 3, 3), (1, 3, 3, 3), (1, 3, 3, 3)]

In [5]:
letters ="abcdef"

[' '.join(i) for i in itertools.combinations(letters, 3)]

['a b c',
 'a b d',
 'a b e',
 'a b f',
 'a c d',
 'a c e',
 'a c f',
 'a d e',
 'a d f',
 'a e f',
 'b c d',
 'b c e',
 'b c f',
 'b d e',
 'b d f',
 'b e f',
 'c d e',
 'c d f',
 'c e f',
 'd e f']

In [370]:
list(itertools.combinations(letters, 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'f')]

In [6]:
letters

'abcdef'

In [371]:
list(itertools.combinations_with_replacement(letters, 2))

[('a', 'a'),
 ('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'b'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'c'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'd'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'e'),
 ('e', 'f'),
 ('f', 'f')]

In [7]:
list(itertools.permutations(letters,2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'a'),
 ('e', 'b'),
 ('e', 'c'),
 ('e', 'd'),
 ('e', 'f'),
 ('f', 'a'),
 ('f', 'b'),
 ('f', 'c'),
 ('f', 'd'),
 ('f', 'e')]

In [69]:
list(itertools.permutations('XYZ'))

[('X', 'Y', 'Z'),
 ('X', 'Z', 'Y'),
 ('Y', 'X', 'Z'),
 ('Y', 'Z', 'X'),
 ('Z', 'X', 'Y'),
 ('Z', 'Y', 'X')]

In [70]:
list(itertools.permutations(range(5), 2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [12]:
d = [1,1,4,1,2,41,1,2,2,41]
d.sort()
d

[1, 1, 1, 1, 2, 2, 2, 4, 41, 41]

In [11]:
for i,k in itertools.groupby(d):
    print(i,k)

1 <itertools._grouper object at 0x7f7f24366358>
2 <itertools._grouper object at 0x7f7f24366278>
4 <itertools._grouper object at 0x7f7f243662e8>
41 <itertools._grouper object at 0x7f7f24366320>

In [10]:
for i,k in itertools.groupby(d):
    print(i,list(k))

1 [1, 1, 1, 1]
2 [2, 2, 2]
4 [4]
41 [41, 41]

In [374]:
for i,k in itertools.groupby(d):
    print(i,len(list(k)))

1 4
2 3
4 1
41 2

In [105]:
L = [("a", 1), ("a", 2), ("b", 3), ("b", 4)]

key_func = lambda x: x[0]

for key, group in itertools.groupby(L, key_func):
    print(key, ":", list(group))

a : [('a', 1), ('a', 2)]
b : [('b', 3), ('b', 4)]

In [106]:
animal_list = [
    ("Animal", "cat"), 
    ("Animal", "dog"), 
    ("Bird", "peacock"), 
    ("Bird", "pigeon")
]
  
for key, group in itertools.groupby(animal_list, lambda x : x[0]):
    print(key,":", list(group))

Animal : [('Animal', 'cat'), ('Animal', 'dog')]
Bird : [('Bird', 'peacock'), ('Bird', 'pigeon')]

In [107]:
employees = [{'name': 'Alan', 'age': 34},
         {'name': 'Catherine', 'age': 34},
         {'name': 'Betsy', 'age': 29},
        {'name': 'David', 'age': 33}]

grouped_data = itertools.groupby(employees, key=lambda x: x['age'])

for key, group in grouped_data:
     print(key,":", list(group))

34 : [{'name': 'Alan', 'age': 34}, {'name': 'Catherine', 'age': 34}]
29 : [{'name': 'Betsy', 'age': 29}]
33 : [{'name': 'David', 'age': 33}]

In [65]:
# Generate a random user purchase count data
purchase_count = list(zip(
    rand_list(30,"randint",13412,13420),
    map(int,rand_list(30,"expovariate",0.05))
))
purchase_count

[(13415, 37),
 (13419, 8),
 (13414, 3),
 (13415, 99),
 (13420, 19),
 (13416, 33),
 (13418, 19),
 (13415, 10),
 (13412, 3),
 (13420, 4),
 (13414, 2),
 (13417, 9),
 (13418, 5),
 (13412, 5),
 (13417, 23),
 (13416, 28),
 (13420, 1),
 (13415, 18),
 (13417, 7),
 (13415, 1),
 (13416, 59),
 (13412, 16),
 (13419, 3),
 (13417, 17),
 (13414, 11),
 (13412, 8),
 (13413, 13),
 (13418, 1),
 (13416, 7),
 (13416, 103)]

In [66]:
grouper = itertools.groupby(purchase_count, lambda x : x[0])

def sum_group(g):
    return sum(map(lambda x: x[1],group))

for key, group in grouper:
    print(key,sum_group(group))

13415 37
13419 8
13414 3
13415 99
13420 19
13416 33
13418 19
13415 10
13412 3
13420 4
13414 2
13417 9
13418 5
13412 5
13417 23
13416 28
13420 1
13415 18
13417 7
13415 1
13416 59
13412 16
13419 3
13417 17
13414 11
13412 8
13413 13
13418 1
13416 110

In [71]:
l1 = ['a', 'b', 'c']
l2 = ['X', 'Y', 'Z']

list(itertools.product(l1, l2)) # simply a cartesian product of two sets (in math)

[('a', 'X'),
 ('a', 'Y'),
 ('a', 'Z'),
 ('b', 'X'),
 ('b', 'Y'),
 ('b', 'Z'),
 ('c', 'X'),
 ('c', 'Y'),
 ('c', 'Z')]

In [75]:
t = ('AA', 'BB')
d = {'colour': 'white', 'size': 'small'}
r = range(2)

list(itertools.product(t, d, r))

[('AA', 'colour', 0),
 ('AA', 'colour', 1),
 ('AA', 'size', 0),
 ('AA', 'size', 1),
 ('BB', 'colour', 0),
 ('BB', 'colour', 1),
 ('BB', 'size', 0),
 ('BB', 'size', 1)]

In [ ]:
import datetime

print("Today:",datetime.datetime.today())
print("Current date and time:",datetime.datetime.now())
print("Current UTC date and time:",datetime.datetime.utcnow())
print("Current time:",datetime.time())

In [ ]:
print(datetime.datetime(2021,5,20))
print(datetime.datetime(2021, 5, 20,0,13,59))
print(datetime.date(2021,5,20))

In [ ]:
t0 = datetime.datetime.now()
print(t0)

In [ ]:
t1 = t0 + datetime.timedelta(hours=1)
print(t1)

In [ ]:
t2 = t0 + datetime.timedelta(days=1)
print(t2)

In [ ]:
import time

In [ ]:
# Epoch time as seconds
print(time.time())

In [ ]:
n_sec = 3
time.sleep(n_sec)
print("I waited ",n_sec,"seconds.")

### File Input/Output

We can read from and write to files using "file handles" in python. This is the most basic type of file IO.

* `open()`
* `close()`

In [82]:
import csv

In [98]:
col2 = rand_list(4,"randint",1000,1500)
col3 = rand_list(4,"gauss",700,300)
t = ["2020Q1","2020Q2","2020Q3","2020Q4"]

data = list(zip(t,col2,col3))
data

[('2020Q1', 1250, 543.1017439760382),
 ('2020Q2', 1293, 950.8965042754886),
 ('2020Q3', 1464, 926.0517121718628),
 ('2020Q4', 1499, 1148.8479633732054)]

In [99]:
f = open("sales.csv",mode="w")
writer = csv.writer(f)
writer.writerows(data)
f.close()

In [108]:
f = open("sales.csv",mode="r")
print(f)
print(type(f))

<_io.TextIOWrapper name='sales.csv' mode='r' encoding='UTF-8'>
<class '_io.TextIOWrapper'>

In [109]:
rd = csv.reader(f)
for line in rd:
    print(line)
f.close()

['2020Q1', '1250', '543.1017439760382']
['2020Q2', '1293', '950.8965042754886']
['2020Q3', '1464', '926.0517121718628']
['2020Q4', '1499', '1148.8479633732054']

### `with` statement

In [110]:
with open("sales.csv",mode="w") as f:
    writer = csv.writer(f)
    writer.writerows(data)

In [111]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    for line in reader:
        print(line)

['2020Q1', '1250', '543.1017439760382']
['2020Q2', '1293', '950.8965042754886']
['2020Q3', '1464', '926.0517121718628']
['2020Q4', '1499', '1148.8479633732054']

In [112]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    content = list(map(list,reader))

content

[['2020Q1', '1250', '543.1017439760382'],
 ['2020Q2', '1293', '950.8965042754886'],
 ['2020Q3', '1464', '926.0517121718628'],
 ['2020Q4', '1499', '1148.8479633732054']]

In [113]:
with open("sales.csv",mode="r") as f:
    reader = csv.reader(f)
    content = map(list,reader) # <----- see the difference here

list(content) # <--- now try to call it

ValueError: I/O operation on closed file.

In [93]:
# import json

# data = '{"firstName":"Nancy","lastName":"Green"}'

# y = json.loads(data)
# type(y)
# print(y["firstName"])
# print(y["lastName"])


# customer = {"firstName":"nancy",
#             "email":"nancygreen@nomail.com"}

# customerJson = json.dumps(customer)

# print(customer)
# print(json.dumps("Nancy"))

Nancy
Green
{'firstName': 'nancy', 'email': 'nancygreen@nomail.com'}
"Nancy"

In [114]:
import json
import urllib

In [115]:
response = urllib.request.urlopen("https://jsonplaceholder.typicode.com/users")
raw_content = response.read().decode()

content = json.loads(raw_content) # `eval()` would also do it
content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [116]:
with open("users.json","w") as f:
    json.dump(content,f)

In [117]:
with open("users.json","r") as f:
    written_content = json.load(f)
written_content

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [119]:
# get what would have written to file if were to use `json.dump`
raw = json.dumps(written_content)
print(raw)

[{"id": 1, "name": "Leanne Graham", "username": "Bret", "email": "Sincere@april.biz", "address": {"street": "Kulas Light", "suite": "Apt. 556", "city": "Gwenborough", "zipcode": "92998-3874", "geo": {"lat": "-37.3159", "lng": "81.1496"}}, "phone": "1-770-736-8031 x56442", "website": "hildegard.org", "company": {"name": "Romaguera-Crona", "catchPhrase": "Multi-layered client-server neural-net", "bs": "harness real-time e-markets"}}, {"id": 2, "name": "Ervin Howell", "username": "Antonette", "email": "Shanna@melissa.tv", "address": {"street": "Victor Plains", "suite": "Suite 879", "city": "Wisokyburgh", "zipcode": "90566-7771", "geo": {"lat": "-43.9509", "lng": "-34.4618"}}, "phone": "010-692-6593 x09125", "website": "anastasia.net", "company": {"name": "Deckow-Crist", "catchPhrase": "Proactive didactic contingency", "bs": "synergize scalable supply-chains"}}, {"id": 3, "name": "Clementine Bauch", "username": "Samantha", "email": "Nathan@yesenia.net", "address": {"street": "Douglas Extension", "suite": "Suite 847", "city": "McKenziehaven", "zipcode": "59590-4157", "geo": {"lat": "-68.6102", "lng": "-47.0653"}}, "phone": "1-463-123-4447", "website": "ramiro.info", "company": {"name": "Romaguera-Jacobson", "catchPhrase": "Face to face bifurcated interface", "bs": "e-enable strategic applications"}}, {"id": 4, "name": "Patricia Lebsack", "username": "Karianne", "email": "Julianne.OConner@kory.org", "address": {"street": "Hoeger Mall", "suite": "Apt. 692", "city": "South Elvis", "zipcode": "53919-4257", "geo": {"lat": "29.4572", "lng": "-164.2990"}}, "phone": "493-170-9623 x156", "website": "kale.biz", "company": {"name": "Robel-Corkery", "catchPhrase": "Multi-tiered zero tolerance productivity", "bs": "transition cutting-edge web services"}}, {"id": 5, "name": "Chelsey Dietrich", "username": "Kamren", "email": "Lucio_Hettinger@annie.ca", "address": {"street": "Skiles Walks", "suite": "Suite 351", "city": "Roscoeview", "zipcode": "33263", "geo": {"lat": "-31.8129", "lng": "62.5342"}}, "phone": "(254)954-1289", "website": "demarco.info", "company": {"name": "Keebler LLC", "catchPhrase": "User-centric fault-tolerant solution", "bs": "revolutionize end-to-end systems"}}, {"id": 6, "name": "Mrs. Dennis Schulist", "username": "Leopoldo_Corkery", "email": "Karley_Dach@jasper.info", "address": {"street": "Norberto Crossing", "suite": "Apt. 950", "city": "South Christy", "zipcode": "23505-1337", "geo": {"lat": "-71.4197", "lng": "71.7478"}}, "phone": "1-477-935-8478 x6430", "website": "ola.org", "company": {"name": "Considine-Lockman", "catchPhrase": "Synchronised bottom-line interface", "bs": "e-enable innovative applications"}}, {"id": 7, "name": "Kurtis Weissnat", "username": "Elwyn.Skiles", "email": "Telly.Hoeger@billy.biz", "address": {"street": "Rex Trail", "suite": "Suite 280", "city": "Howemouth", "zipcode": "58804-1099", "geo": {"lat": "24.8918", "lng": "21.8984"}}, "phone": "210.067.6132", "website": "elvis.io", "company": {"name": "Johns Group", "catchPhrase": "Configurable multimedia task-force", "bs": "generate enterprise e-tailers"}}, {"id": 8, "name": "Nicholas Runolfsdottir V", "username": "Maxime_Nienow", "email": "Sherwood@rosamond.me", "address": {"street": "Ellsworth Summit", "suite": "Suite 729", "city": "Aliyaview", "zipcode": "45169", "geo": {"lat": "-14.3990", "lng": "-120.7677"}}, "phone": "586.493.6943 x140", "website": "jacynthe.com", "company": {"name": "Abernathy Group", "catchPhrase": "Implemented secondary concept", "bs": "e-enable extensible e-tailers"}}, {"id": 9, "name": "Glenna Reichert", "username": "Delphine", "email": "Chaim_McDermott@dana.io", "address": {"street": "Dayna Park", "suite": "Suite 449", "city": "Bartholomebury", "zipcode": "76495-3109", "geo": {"lat": "24.6463", "lng": "-168.8889"}}, "phone": "(775)976-6794 x41206", "website": "conrad.com", "company": {"name": "Yost and Sons", "catchPhrase": "Switchable contextually-based project", "bs": "aggregate real-time technologies"}}, {"id": 10, "name": "Clementina DuBuque", "username": "Moriah.Stanton", "email": "Rey.Padberg@karina.biz", "address": {"street": "Kattie Turnpike", "suite": "Suite 198", "city": "Lebsackbury", "zipcode": "31428-2261", "geo": {"lat": "-38.2386", "lng": "57.2232"}}, "phone": "024-648-3804", "website": "ambrose.net", "company": {"name": "Hoeger LLC", "catchPhrase": "Centralized empowering task-force", "bs": "target end-to-end models"}}]

In [120]:
# parse string as json file
json.loads(raw)

[{'id': 1,
  'name': 'Leanne Graham',
  'username': 'Bret',
  'email': 'Sincere@april.biz',
  'address': {'street': 'Kulas Light',
   'suite': 'Apt. 556',
   'city': 'Gwenborough',
   'zipcode': '92998-3874',
   'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
  'phone': '1-770-736-8031 x56442',
  'website': 'hildegard.org',
  'company': {'name': 'Romaguera-Crona',
   'catchPhrase': 'Multi-layered client-server neural-net',
   'bs': 'harness real-time e-markets'}},
 {'id': 2,
  'name': 'Ervin Howell',
  'username': 'Antonette',
  'email': 'Shanna@melissa.tv',
  'address': {'street': 'Victor Plains',
   'suite': 'Suite 879',
   'city': 'Wisokyburgh',
   'zipcode': '90566-7771',
   'geo': {'lat': '-43.9509', 'lng': '-34.4618'}},
  'phone': '010-692-6593 x09125',
  'website': 'anastasia.net',
  'company': {'name': 'Deckow-Crist',
   'catchPhrase': 'Proactive didactic contingency',
   'bs': 'synergize scalable supply-chains'}},
 {'id': 3,
  'name': 'Clementine Bauch',
  'username': 'Samantha',
  'email': 'Nathan@yesenia.net',
  'address': {'street': 'Douglas Extension',
   'suite': 'Suite 847',
   'city': 'McKenziehaven',
   'zipcode': '59590-4157',
   'geo': {'lat': '-68.6102', 'lng': '-47.0653'}},
  'phone': '1-463-123-4447',
  'website': 'ramiro.info',
  'company': {'name': 'Romaguera-Jacobson',
   'catchPhrase': 'Face to face bifurcated interface',
   'bs': 'e-enable strategic applications'}},
 {'id': 4,
  'name': 'Patricia Lebsack',
  'username': 'Karianne',
  'email': 'Julianne.OConner@kory.org',
  'address': {'street': 'Hoeger Mall',
   'suite': 'Apt. 692',
   'city': 'South Elvis',
   'zipcode': '53919-4257',
   'geo': {'lat': '29.4572', 'lng': '-164.2990'}},
  'phone': '493-170-9623 x156',
  'website': 'kale.biz',
  'company': {'name': 'Robel-Corkery',
   'catchPhrase': 'Multi-tiered zero tolerance productivity',
   'bs': 'transition cutting-edge web services'}},
 {'id': 5,
  'name': 'Chelsey Dietrich',
  'username': 'Kamren',
  'email': 'Lucio_Hettinger@annie.ca',
  'address': {'street': 'Skiles Walks',
   'suite': 'Suite 351',
   'city': 'Roscoeview',
   'zipcode': '33263',
   'geo': {'lat': '-31.8129', 'lng': '62.5342'}},
  'phone': '(254)954-1289',
  'website': 'demarco.info',
  'company': {'name': 'Keebler LLC',
   'catchPhrase': 'User-centric fault-tolerant solution',
   'bs': 'revolutionize end-to-end systems'}},
 {'id': 6,
  'name': 'Mrs. Dennis Schulist',
  'username': 'Leopoldo_Corkery',
  'email': 'Karley_Dach@jasper.info',
  'address': {'street': 'Norberto Crossing',
   'suite': 'Apt. 950',
   'city': 'South Christy',
   'zipcode': '23505-1337',
   'geo': {'lat': '-71.4197', 'lng': '71.7478'}},
  'phone': '1-477-935-8478 x6430',
  'website': 'ola.org',
  'company': {'name': 'Considine-Lockman',
   'catchPhrase': 'Synchronised bottom-line interface',
   'bs': 'e-enable innovative applications'}},
 {'id': 7,
  'name': 'Kurtis Weissnat',
  'username': 'Elwyn.Skiles',
  'email': 'Telly.Hoeger@billy.biz',
  'address': {'street': 'Rex Trail',
   'suite': 'Suite 280',
   'city': 'Howemouth',
   'zipcode': '58804-1099',
   'geo': {'lat': '24.8918', 'lng': '21.8984'}},
  'phone': '210.067.6132',
  'website': 'elvis.io',
  'company': {'name': 'Johns Group',
   'catchPhrase': 'Configurable multimedia task-force',
   'bs': 'generate enterprise e-tailers'}},
 {'id': 8,
  'name': 'Nicholas Runolfsdottir V',
  'username': 'Maxime_Nienow',
  'email': 'Sherwood@rosamond.me',
  'address': {'street': 'Ellsworth Summit',
   'suite': 'Suite 729',
   'city': 'Aliyaview',
   'zipcode': '45169',
   'geo': {'lat': '-14.3990', 'lng': '-120.7677'}},
  'phone': '586.493.6943 x140',
  'website': 'jacynthe.com',
  'company': {'name': 'Abernathy Group',
   'catchPhrase': 'Implemented secondary concept',
   'bs': 'e-enable extensible e-tailers'}},
 {'id': 9,
  'name': 'Glenna Reichert',
  'username': 'Delphine',
  'email': 'Chaim_McDermott@dana.io',
  'address': {'street': 'Dayna Park',
   'suite': 'Suite 449',
   'city': 'Bartholomebury',
   'zipcode': '76495-3109',
   'geo': {'lat': '24.6463', 'lng': '-168.8889'}},
  'phone': '(775)976-6794 x41206',
  'website': 'conrad.com',
  'company': {'name': 'Yost and Sons',
   'catchPhrase': 'Switchable contextually-based project',
   'bs': 'aggregate real-time technologies'}},
 {'id': 10,
  'name': 'Clementina DuBuque',
  'username': 'Moriah.Stanton',
  'email': 'Rey.Padberg@karina.biz',
  'address': {'street': 'Kattie Turnpike',
   'suite': 'Suite 198',
   'city': 'Lebsackbury',
   'zipcode': '31428-2261',
   'geo': {'lat': '-38.2386', 'lng': '57.2232'}},
  'phone': '024-648-3804',
  'website': 'ambrose.net',
  'company': {'name': 'Hoeger LLC',
   'catchPhrase': 'Centralized empowering task-force',
   'bs': 'target end-to-end models'}}]

In [ ]:
# x = {
#   "name": "John",
#   "age": 30,
#   "married": True,
#   "divorced": False,
#   "children": ("Ann","Billy"),
#   "pets": None,
#   "cars": [
#     {"model": "BMW 230", "mpg": 27.5},
#     {"model": "Ford Edge", "mpg": 24.1}
#   ]
# }

# print(json.dumps(x))

In [124]:
import pickle

In [127]:
person = collections.namedtuple("Person","name,age")

a = 1,2,3,[4,5]
data = {
    "mert":[{"a","b","c"},("Aras","Kahraman",[29])],
    "aras":[a,{123,234,345,456}],
    "others": map(str,a)}

In [128]:
data

{'mert': [{'a', 'b', 'c'}, ('Aras', 'Kahraman', [29])],
 'aras': [(1, 2, 3, [4, 5]), {123, 234, 345, 456}],
 'others': <map at 0x7f7f07aeccc0>}

In [129]:
with open("complex_data.pickle",mode="wb") as f:
    pickle.dump(data,f)

In [133]:
with open("complex_data.pickle",mode="rb") as f:
    written_data = pickle.load(f)
written_data

{'mert': [{'a', 'b', 'c'}, ('Aras', 'Kahraman', [29])],
 'aras': [(1, 2, 3, [4, 5]), {123, 234, 345, 456}],
 'others': <map at 0x7f7f07aecbe0>}

In [134]:
list(written_data['others'])

['1', '2', '3', '[4, 5]']

In [ ]:
### CAUTION <--------------- MERT
import re

# regular expression examples!!! <------------------------

re.compile
re.search
re.findall
re.finditer
re.match
re.sub

## Section 2: Object-oriented Programming

Object Oriented programming (OOP) is a programming paradigm that relies on the concept of classes and objects. It is used to structure a software program into simple, reusable pieces of code blueprints (usually called classes), which are used to create individual instances of objects.

### What Is an Object?
An object is a software bundle of related state and behavior. Software objects are often used to model the real-world objects that you find in everyday life. This lesson explains how state and behavior are represented within an object, introduces the concept of data encapsulation, and explains the benefits of designing your software in this manner.

### What Is a Class?
A class is a blueprint or prototype from which objects are created. This section defines a class that models the state and behavior of a real-world object. It intentionally focuses on the basics, showing how even a simple class can cleanly model state and behavior.

### What Is Inheritance?
Inheritance provides a powerful and natural mechanism for organizing and structuring your software. This section explains how classes inherit state and behavior from their superclasses, and explains how to derive one class from another using the simple syntax provided by the Java programming language.

### What Is an Interface?
An interface is a contract between a class and the outside world. When a class implements an interface, it promises to provide the behavior published by that interface.

In [ ]:
class MyClass:
    def __init__(self,arg1,arg2):
        self.arg1 = arg1
        self.arg2 = arg2
    
    def method1(self,arguments):
        pass
    
    def method2(self,arguments):
        pass

### The role of `self`

The `self` is used to represent the instance of the class. With this keyword, you can access the attributes and methods of the class in python. It binds the attributes with the given arguments.

In [ ]:
class Pet:
    def __init__(self,name,age,breed=None):
        self.name = name
        self.age = age
        self.breed = breed
        
my_cat = Pet("Fluffy",4)

print(my_cat.name)
print(my_cat.age)
print(my_cat.breed)

In [ ]:
class Pet:
    def __init__(self,name,age,breed=None,height=None,weight=None):
        self.name = name
        self.age = age
        self.breed = breed
        self.height = height
        self.weight = weight
        
    def describe(self):
        out = {
            "Name":self.name,
            "Age":self.age,
        }
        
        if self.breed is not None:
            out["Breed"] = self.breed
        
        return out
    
    def display_info(self):
        d = self.describe()
        d = map(lambda s: ": ".join(map(str,s)),d.items())
        print("\n".join())
    
    def is_valid(self):
        if self.height is not None and self.weight is not None:
            return 0 < self.height < 40 and 0.2 < self.weight < 20
        else:
            return None
        

my_cat = Pet("Kitty",4,"Exotic Shorthair",27,6)
my_cat.is_valid()

In [ ]:
my_cat.describe()

In [ ]:
my_cat.display_info()

In [ ]:
print("abc\ndef")

In [ ]:
### NOT A PRIORITY <----
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    @staticmethod
    def method1(self):
        pass
    
    @classmethod
    def method2(cls):
        pass

### Leading underscores `_` and `__`

A single underscore `_` is a weak "internal use" indicator and should be treated as a non-public part of the API. It should be considered an implementation detail and subject to change without notice.

On the other hand, double underscore `__` prefix makes an attribute private.

**A warning in the [docs](https://docs.python.org/3/tutorial/classes.html#private-variables):**

> it still is possible to access or modify a variable that is considered private.

In [ ]:
class Pet:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
    def _method(self):
        print("Method name with single leading underscore.")
    
    def __method(self):
        print("Method name with double leading underscore.")
    
    def method(self):
        self.__method()

In [ ]:
p = Pet("","")

In [ ]:
p._method()

In [ ]:
p.__method()

In [ ]:
p.method()

In [ ]:
# import urllib, json
# response = urllib.request.urlopen('https://randomuser.me/api/')
# raw = response.read()
# content = json.loads(raw.decode())
# content

In [ ]:
# class employees:
#     def __init__(self, name, lname, age, language):
#         self.name = name
#         self.lname = lname
#         self.age = age
#         self.language = language
   
#     def print_name(self):
#         print(self.name  + " " + self.lname)
       
#     def showage(self):
#         print(self.name  +  " " + self.lname, "is", self.age +  " years old ")
       
#     def speak_language(self):
#         print(self.name, self.lname, "speaks", self.language)
       
#     def showinfo(self):
#         print(self.name, self.lname, "is", self.age, "and", "speaks", self.language)

        
# manager1 = managers("Mert", "Trump", "44")
# manager2 = managers("Gamze", "Cakır", "43")

# manager1.print_name()

# manager1.showage()

# manager1.addlanguage("Spanish and English")

# manager1.showinfo()

# manager2.print_name()

# manager2.showage()

# manager2.addlanguage("English and French")

# manager2.showinfo()

# employee1 = employees("Aras", "Kahraman", "28", "English and Italian" )
# employee2 = employees("Evrim", "Solhan", "27", "Turkish")
# employee3 = employees("Ozlem", "İsci", "34", "Russian")

# employee1.showinfo()

# employee2.showinfo()

# employee3.showinfo()

In [ ]:
# class Math:
#     def addition(self,number1,number2):
#         return number1 + number2

#     def extraction(self,number1,number2):
#         return number1 - number2
    
#     def multiply(self,number1,number2):
#         return number1 * number2
    
#     def division(self,number1,number2):
#         return number1 / number2
    
# math = Math()
# print("Addition = " + str(math.addition(2,78)))
# print("Multiply = " + str(math.multiply(4,84)))

### Magic Methods

In [ ]:
class Dataset:
    def __init__(self,d):
        self.d = d
    
    def __repr__(self):
        out = ""
        for row in self.d:
            out += ",".join(map(lambda s: str(s).rjust(4),row)) + "\n"
        
        return out
    
    def __str__(self):
        return self.__repr__()
    
    def __add__(self,other):
        return self.d + other.d
    
    def __sub__(self,other):
        pass
    
    def __mul__(self,other):
        pass
    
    def __ge__(self):
        pass

In [ ]:
d = [rand_list(5,"randint",0,100) for _ in range(12)]
d

In [ ]:
ds = Dataset(d)

In [ ]:
ds + ds

In [ ]:
class Array:
    def __init__(self,d):
        self.d = d
    
    def __repr__(self):
        out = ""
        for row in self.d:
            out += ",".join(map(lambda s: str(s).rjust(4),row)) + "\n"
        
        return out
    
    def __str__(self):
        return self.__repr__()
    
    def __add__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(sum,zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __sub__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(lambda x: x[0] - x[1],zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __mul__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(lambda x: x[0] * x[1],zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __truediv__(self,other):
        out = []
        for row1,row2 in zip(self.d,other.d):
            tmp = map(lambda x: x[0] / x[1],zip(row1,row2))
            out.append(list(tmp))
                
        return out
    
    def __gt__(self,other):
        return self.sum_elements() > other.sum_elements()
    
    def __ge__(self,other):
        return self.sum_elements() >= other.sum_elements()
    
    def sum_elements(self):
        return sum(map(sum,self.d))

In [ ]:
m = Array(ds.d)

In [ ]:
m.sum_elements()

In [ ]:
m + m

In [ ]:
m - m

In [ ]:
m * m

In [ ]:
m / m

In [ ]:
m > m

In [ ]:
m >= m

In [ ]:
class RockScissorsPaper:
    def __init__(self,name,n_games):
        self.name = name
        self.n_games = n_games
        self.n_played = 0
        self.n_win = 0
        self.n_loss = 0
        self.n_draw = 0
        self.objects = ["Rock","Scissors","Paper"]
    
    def shake(self):
        out = random.choice(self.objects)
        print(out)
        return out
    
    def compare(self,a,b):
        if a != b:
            if a == "Rock" and b == "Scissors":
                return True
            elif a == "Scissors" and b == "Paper":
                return True
            elif a == "Paper" and b == "Rock":
                return True
            else:
                return False
        else:
            return None
    
    def check_winner(self):
        if self.n_played >= self.n_games:
            print("Game has ended.")
            if self.n_win > self.n_loss:
                print(self.name,"has won!")
            elif self.n_win == self.n_loss:
                print("Draw!")
            else:
                print(self.name,"has lost!")
        
    def __mul__(self,other):
        r1 = self.shake()
        r2 = other.shake()
        left_win = self.compare(r1,r2)
        
        if left_win is not None:
            if left_win:
                self.n_win += 1
            else:
                self.n_loss += 1
        else:
            self.n_draw += 1
            
        self.n_played += 1
        
        self.check_winner()
                
        return left_win

In [ ]:
player1 = RockScissorsPaper("Jimmy",5)
player2 = RockScissorsPaper("Taylor",5)

In [ ]:
player1 * player2

In [ ]:
n = 7
player1 = RockScissorsPaper("Jimmy",n)
player2 = RockScissorsPaper("Taylor",n)

for i in range(n):
    print("Round",i + 1)
    player1 * player2
    print()

### A word on `closure` and `decorator` concepts

A **closure** is function that returns another function which is defined in it. Thus, it is a function to create another function.

* We must have a nested function (function inside a function).
* The nested function must refer to a value defined in the enclosing function.
* The enclosing function must return the nested function.

In [ ]:
# an example closure
def harbinger(s):
    
    def message():
        print("The message is:")
        print(s)
        
    return message

In [ ]:
msg = harbinger("Good news!")
msg

In [ ]:
msg()

In [ ]:
# an example decorator
def uppercase(function):
    def wrapper(s):
        func = function(s)
        make_uppercase = func.upper()
        return make_uppercase

    return wrapper

In [ ]:
@uppercase
def greetings(name):
    return "Hi " + name

In [ ]:
greetings("friend")

In [ ]:
def size_check(function):
    def wrapper(*args):
        size_1, size_2 = len(args[0]), len(args[1])
        if size_1 != size_2:
            raise ValueError("Sizes do not match.")
        
        return function(*args)
    
    return wrapper

@size_check
def add(a,b):
    out = []
    for row1,row2 in zip(a,b):
        tmp = map(sum,zip(row1,row2))
        out.append(list(tmp))
    return out

In [ ]:
a = [rand_list(5,"randint",0,100) for _ in range(12)]
b = [rand_list(5,"randint",0,100) for _ in range(12)]
add(a,b)

In [ ]:
a = [rand_list(3,"randint",0,100) for _ in range(5)]
b = [rand_list(3,"expovariate",0.1) for _ in range(5)]
add(a,b)

In [ ]:
a = [rand_list(3,"gauss",0,100) for _ in range(5)]
b = [rand_list(3,"expovariate",0.1) for _ in range(7)]
add(a,b)

In [ ]:
def type_check(function):
    def wrapper(*args):
        e1, e2 = args[0][0][0], args[1][0][0]
        if type(e1) != type(e2):
            raise ValueError("Types do not match.")
        
        return function(*args)
    
    return wrapper

@type_check
@size_check
def add(a,b):
    out = []
    for row1,row2 in zip(a,b):
        tmp = map(sum,zip(row1,row2))
        out.append(list(tmp))
    return out

In [ ]:
a = [rand_list(5,"randint",0,100) for _ in range(12)]
b = [rand_list(5,"randint",0,100) for _ in range(12)]
add(a,b)

In [ ]:
a = [rand_list(3,"randint",0,100) for _ in range(5)]
b = [rand_list(3,"expovariate",0.1) for _ in range(5)]
add(a,b)

### `getter` and `setter` methods

In [ ]:
# class getters, and setters
class Pet:
    def __init__(self,name,age):
        self._name = name
        self.age = age
    
    def describe(self):
        print("Name:",self.name)
        print("Age:",self.age)

    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self,s):
        self._name = s.capitalize()
        
    @name.deleter
    def name(self):
        del self._name

In [ ]:
a = Pet("Duman",1.5)
a.name

In [ ]:
a.name = "zıbık"
a.name

In [ ]:
a.name = "a"

### `classmethod` and `staticmethod`

In [ ]:
class SmartPhones:
    brand = "Apple"
    
    def __init__(self,model):
        self.model = model
    
    @classmethod
    def change_brand(cls,new_brand):
        cls.brand = new_brand

In [ ]:
SmartPhones

In [ ]:
## SIRAYI BELIRLE, TAŞINMALI MI? <---------------------------------
SmartPhones.brand

In [ ]:
SmartPhones.model

In [ ]:
obj = SmartPhones("iphone")
obj.model

In [ ]:
obj.brand

In [ ]:
obj.change_brand("Samsung")
obj.brand

In [ ]:
obj = SmartPhones("iphone")
obj.brand

In [ ]:
SmartPhones.change_brand("Samsung")

In [ ]:
SmartPhones.brand

In [ ]:
class SmartPhones:
    brand = "Apple"
    
    def __init__(self,model):
        self.model = model
    
    @classmethod
    def change_brand(cls,new_brand):
        cls.brand = new_brand
    
    
    @staticmethod
    def screen_size(16:9):
        pass

### Inheritance

In [ ]:
class Cat(Pet):
    def __init__(self,lovesdogs=False,*args):
        super().__init__(*args)

In [ ]:
class Worker():
    def __init__(self,name,salary,department):
        self.name = name
        self.salary = salary
        self.department = department
        
    def showinfo(self):
        
        print(self.name)
        print(self.salary)
        print(self.department)
        
    def change_department(self,new_department):
        
        self.department = new_department

In [ ]:
class Manager(Worker):
    pass

In [ ]:
Manager1 = Manager("Dave Johnson",1000,"Human Resources")

In [ ]:
Manager1.showinfo()

In [ ]:
Manager1.change_department("Finance")

In [ ]:
Manager1.showinfo()

In [ ]:
class Manager(Worker):
    def give_raise(self,raise_amount):
        self.salary += raise_amount

In [ ]:
Manager2 = Manager("Rose Newman",2000,"IT")

In [ ]:
Manager2.showinfo()

In [ ]:
Manager2.give_raise(500)

In [ ]:
Manager2.showinfo()

In [8]:
class Person:
    def __init__(self,firstname,lastname,nationality):
        self.firstname = firstname
        self.lastname = lastname
        self.nationality = nationality

In [9]:
class Client(Person):
    def __init__(self,firstname,lastname,nationality,creditcardnumber):
        super().__init__(firstname,lastname,nationality)
        self.creditcardnumber = creditcardnumber
        self.language = []
        
    def addlanguage(self,newlanguage):
        self.language.append(newlanguage)
        
    def client_status(self):
        print(self.firstname + " " + self.lastname + " is " + self.nationality + " and his/her credit card number is " + str(self.creditcardnumber))

In [10]:
New_Client = Client("Rob","Dylan","Australian","12345678910")
New_Client.client_status()
New_Client.addlanguage("English")
New_Client.language

Rob Dylan is Australian and his/her credit card number is 12345678910

['English']

In [ ]:
# class Author:
#     pass

# class Columnist(Author):
#     pass

# class Academic(Author):
#     pass

# class Poet(Author):
#     pass

# class Novelist(Author):
#     pass

# class Critic(Author):
#     pass

# class NewAge(Poet,Novelist,Columnist):
#     pass

## Example Project

In [ ]:
class Employee:
    pass

class Manager:
    pass

import urllib, json
response = urllib.request.urlopen('https://randomuser.me/api/')
raw = response.read()
content = json.loads(raw.decode())
content

## Project

## Prerequisite to Next Week: `numpy`

Be sure to install numpy using `pip`, or `conda`.

* `$pip install numpy`

or


* `$conda install numpy`

or use Anaconda Navigator to install numpy module.

## References

https://docs.python.org/3/library/

https://docs.python.org/3/reference/import.html

https://www.educative.io/blog/object-oriented-programming

https://docs.oracle.com/javase/tutorial/java/concepts/index.html

https://www.edureka.co/blog/self-in-python/

https://www.python.org/dev/peps/pep-0008/

https://docs.python.org/3/tutorial/classes.html#private-variables

https://www.programiz.com/python-programming/closure